<mat-card class="our-picks-player-container">
  <div class="player" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="start center" fxLayout.xs="column">
    <div
      class="player-main"
      ngClass.xs="player-main-mobile"
      fxLayout="row"
      fxLayoutAlign="start center"
      fxLayoutGap="15px"
    >
      <div fxFlexAlign="start" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">
        <app-team-logo [team]="player.team.teamShort" [height]="30"></app-team-logo>
        <div *ngIf="player.order <= 3">
          <fa-icon [icon]="['fas', 'medal']" size="2x" [appMedalColor]="player.order"></fa-icon>
        </div>
      </div>

      <div fxLayout="column" fxLayoutGap="7px">
        <div class="player-main-name" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <span class="player-main-name-text"
            ><app-player-name-link [name]="player.name" [id]="player.playerId"></app-player-name-link
          ></span>
        </div>

        <div class="player-main-info" fxLayout="row" fxLayoutAlign="start center">
          <span class="player-main-info-item">{{ player.position | uppercase }}</span>
          <span class="player-main-info-item">{{ player.price }}M</span>
          <span class="player-main-info-item">{{ player.popularity }}%</span>
        </div>

        <div class="player-main-info" fxLayout="row" fxLayoutAlign="start center">
          <span class="player-main-info-item">Top 100: {{ player.top100Popularity }}%</span>
        </div>

        <div class="player-main-prediction" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <a [routerLink]="'/lineups/teams/' + player.team.teamShort" target="_blank">Is predicted to start?</a>
          <app-prediction-indicator [value]="player.prediction"></app-prediction-indicator>
        </div>
      </div>
    </div>

    <div
      class="player-icons"
      ngClass.xs="player-icons-mobile"
      fxLayout.gt-xs="column"
      fxLayout.xs="row"
      fxLayoutAlign.xs="center stretch"
      fxLayoutAlign.gt-xs="center center"
      fxLayoutGap.gt-xs="5px"
      fxLayoutGap.xs="10px"
    >
      <app-our-pick-icon [ngClass]="{ hidden: !player.isMustHave }" icon="mustHave"></app-our-pick-icon>
      <app-our-pick-icon [ngClass]="{ hidden: !player.isPremium }" icon="premium"></app-our-pick-icon>
      <app-our-pick-icon [ngClass]="{ hidden: !player.isBargain }" icon="bargain"></app-our-pick-icon>
      <app-our-pick-icon [ngClass]="{ hidden: !player.isDifferential }" icon="differential"></app-our-pick-icon>
      <app-our-pick-icon [ngClass]="{ hidden: !player.isSurprising }" [icon]="Icons.SURPRISING"></app-our-pick-icon>
    </div>

    <div
      class="player-form"
      ngClass.xs="player-form-mobile"
      fxLayout.gt-xs="column"
      fxLayout.xs="row"
      fxLayoutGap="10px"
    >
      <div class="md-row" *ngFor="let md of player.matchdays | orderBy: '-matchday'" fxLayoutAlign="start center">
        <span class="md-row-text grey">MD {{ md.matchday }}:</span>
        <span class="player-form-points bold" [ngClass]="getPointsColor(md.points)">{{ md.points }}</span>
      </div>
    </div>

    <div
      class="player-next-games"
      ngClass.xs="player-next-games-mobile"
      fxLayout="column"
      fxLayoutAlign.xs="center center"
      fxLayoutGap="10px"
    >
      <div class="md-row" *ngFor="let md of player.team.nextGames | orderBy: 'matchday'">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <span class="md-row-text grey">MD {{ md.matchday }}:</span>
          <div fxLayoutAlign="start center" fxLayoutGap="5px">
            <app-team-logo [team]="md.opponentShort" [height]="30"></app-team-logo>
            <span class="player-next-games-info">{{ md.opponentRank | numerals }}</span>
            <span class="player-next-games-info">({{ md.isHome ? 'h' : 'a' }})</span>

            <span
              *ngIf="md.isFirstGame"
              class="green first-game"
              fxLayoutAlign="center center"
              matTooltip="matchday first game"
              >1</span
            >
            <span *ngIf="!md.isFirstGame" class="placeholder">&nbsp;</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-card>
