<div fxLayout="column" fxLayoutGap="15px">
  <app-white-block>
    <app-our-picks-matchday-description></app-our-picks-matchday-description>
  </app-white-block>

  <app-filters-content-layout>
    <app-white-block filters>
      <div fxLayout="row" fxLayoutAlign="space-evenly center">
        <app-our-picks-filters></app-our-picks-filters>
        <app-our-picks-display-settings></app-our-picks-display-settings>
      </div>
    </app-white-block>

    <app-our-picks-players content></app-our-picks-players>
  </app-filters-content-layout>
</div>
