@import '/src/variables.scss';

table.comparison-table {
  tr {
    td {
      //padding: 7px 10px 5px 10px;
    }

    td.game {
      margin: auto;
      padding: 7px 10px;
      height: 50px;
    }

    // td:not(:first-child) {
    //   vertical-align: baseline;
    // }

    td.game-red {
      background-color: $gameDifficultRed;
    }

    td.game-orange {
      background-color: $gameDifficultOrange;
    }

    td.game-yellow {
      background-color: $gameDifficultYellow;
    }

    td.game-green-light {
      background-color: $gameDifficultLightGreen;
    }

    td.game-green {
      background-color: $gameDifficultGreen;
    }
  }

  tr:first-child {
    td {
      padding: 3px 10px;
    }
  }

  // tr:not(:first-child):not(:last-child) {
  //   td:not(:first-child) {
  //     border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  //   }
  // }
}
