@import '/src/variables.scss';

.table-container {
  overflow-x: auto;
}

table {
  margin-top: -10px !important;

  tr td {
    height: 35px !important;
    max-height: 35px !important;
    min-height: 35px !important;
  }

  th:last-of-type,
  td:last-of-type {
    padding-right: 0px !important;
  }

  .first-column {
    padding-left: 15px !important;
  }

  tr:hover:not(.mat-header-row) {
    background-color: #f0f0f0 !important;
  }

  td.total-data {
    background-color: rgba($color: #000000, $alpha: 0.03) !important;
  }

  td.width-45,
  th.width-45 {
    width: 45px !important;
  }

  .my-team-buttons {
    margin-left: -10px !important;
  }
}
