.matchday-fixture-container {
  .team {
    display: flex;
    align-items: center;
    width: calc(50% - 15px);

    &-home {
      justify-content: flex-end;
    }

    &-away {
      justify-content: start;
    }

    .logo {
      margin: 0 7px;
    }

    .rank {
      font-size: 12px;
      font-weight: 500;
    }
  }

  .delimeter {
    padding: 0 20px;
  }

  margin-bottom: 10px;
}
