@import '/src/variables.scss';

.container {
  .section {
    min-width: 180px;
    padding: 10px 0;
    text-align: center;

    .section-title {
      font-weight: 500;
    }

    .timeline {
      margin-top: 10px;

      .timeline-line {
        width: 100%;

        line {
          stroke: $colorBlue;
          stroke-width: 3;
        }
      }

      .timeline-dot {
        position: absolute;
        margin-top: -2px;
        background-color: white;

        circle {
          fill: $colorBlue;
        }
      }
    }

    .position {
      padding: 5px 0;
      border-radius: 10px;
    }

    .position-warning {
      background-color: rgba($color: $colorOrange, $alpha: 0.3);
    }

    .position-error {
      background-color: rgba($color: $colorRed, $alpha: 0.2);
    }

    .player {
      padding: 0 5px;
    }
  }
}
