<div fxLayout="column" fxLayoutGap="20px" *ngIf="players$ | async">
  <app-white-block>
    <div
      fxLayout.lt-sm="column"
      fxLayoutAlign.lt-sm="start"
      fxLayoutGap.lt-sm="10px"
      fxLayoutAlign="space-evenly center"
      fxLayoutGap="30px"
    >
      <app-my-team-filters-position></app-my-team-filters-position>
      <app-my-team-filters-matchdays></app-my-team-filters-matchdays>
    </div>
  </app-white-block>

  <app-players-table
    *ngIf="(view$ | async) === views.TABLE"
    [players]="players$ | async"
    [showDeleteFromMyTeamButton]="true"
  ></app-players-table>

  <app-players-list
    [showAddToMyTeamButton]="false"
    [showRemoveFromMyTeamButton]="true"
    *ngIf="(view$ | async) === views.LIST"
    [players]="players$ | async"
  ></app-players-list>
</div>
