<app-white-block padding="10px 10px 0 10px">
  <div fxLayout="column">
    <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="space-evenly center">
      <app-my-team-filters-position [position]="filters.position" class="filter"></app-my-team-filters-position>
      <app-my-team-filters-matchdays
        [lastMatchday]="lastMatchday"
        [matchdays]="filters.matchdays"
        class="filter"
      ></app-my-team-filters-matchdays>
    </div>

    <app-players-table [players]="playersUi" [showDeleteFromMyTeamButton]="true"></app-players-table>
  </div>
</app-white-block>
