<app-form-field [label]="'Teams'">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="3px">
    <span *ngIf="!selected || selected.length === 0">No teams selected.</span>
    <span class="teams-selected-span" *ngIf="!!selected && selected.length > 0"
      >{{ selected.length }} teams selected</span
    >
    <button fxHide.lt-sm mat-stroked-button class="select-teams-button" [appScale]="0.9" (click)="openDialog()">
      <mat-icon>input</mat-icon>
      <span>Select teams</span>
    </button>
    <button fxHide.gt-xs mat-icon-button class="main-background" [appScale]="0.8" (click)="openDialog()">
      <mat-icon>input</mat-icon>
    </button>
  </div>
</app-form-field>
