.view-container {
  min-height: 100%;

  .view-tabs {
    height: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  .view-content {
    min-height: 100%;
    margin-top: 15px;
    margin-bottom: 20px;
  }
}
