<div class="view-container flex flex-col">
  <div class="view-tabs" *ngIf="!(isMobile$ | async) && links">
    <app-view-tabs-navigation [links]="links" [disablePagination]="disablePagination"></app-view-tabs-navigation>
  </div>

  <div class="view-menu" *ngIf="isMobile$ | async">
    <div class="view-menu-header flex-row-start-center">
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <button *ngIf="!!links && links.length > 1" class="justify-self-center" mat-button [matMenuTriggerFor]="menu">
        <div class="flex-row-start-center gap-x-1">
          <span>{{ activePageLabel() }}</span>
          <mat-icon>expand_more</mat-icon>
        </div>
      </button>
      <mat-menu #menu="matMenu">
        <a
          mat-menu-item
          *ngFor="let link of links | orderBy : 'order'"
          [routerLink]="link.routerLink"
          routerLinkActive
          #rla="routerLinkActive"
        >
          {{ link.labelMobile }}
        </a>
      </mat-menu>
      <span class="single-tab" *ngIf="!!links && links.length == 1">{{ links[0].labelMobile }}</span>
    </div>
  </div>

  <div class="view-content">
    <div class="content">
      <ng-content></ng-content>
    </div>
  </div>
</div>
