@import '/src/variables.scss';

.sticky {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.side-nav-container {
  background-color: $colorGrey;
  //height: 100vh;

  .content {
    //height: 100vh;

    .header {
      min-height: 47px;
      max-height: 47px;
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      width: 100%;
      background-color: #fafafa;
      box-shadow: 0px 1px 2px 0px rgb(60 64 67 / 30%), 0px 1px 3px 1px rgb(60 64 67 / 15%);

      &-logo {
        align-items: center;
        flex-direction: row;
        box-sizing: border-box;
        display: flex;
        background-color: $colorGrey;
        color: $colorWhite;
        height: 100%;
        border-bottom: 1px solid $colorGreyLight;
        text-decoration: none;
        cursor: pointer;
        margin: 0;

        &-image {
          height: 30px;
          width: 30px;
        }
      }
    }

    .side-nav-section {
      flex-grow: 1;
      overflow-x: hidden;
      overflow-y: auto;
      overscroll-behavior: none;
      padding: 10px;

      .links-section {
        &-title {
          align-items: center;
          flex-direction: row;
          box-sizing: border-box;
          text-transform: uppercase;
          margin-bottom: 5px;
          font-weight: 500;
          font-size: 12px;
          color: $colorGreyLight;
        }
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          .link {
            align-items: center;
            flex-direction: row;
            box-sizing: border-box;
            display: flex;
            line-height: 24px;
            padding: 7px 10px;
            border-radius: 5px;
            text-decoration: none;
            color: $colorGreyLight;

            &:hover {
              background-color: $colorBlue;
              color: $colorWhite;
            }

            &-active {
              color: $colorWhite;
            }

            &-icon {
              font-size: 18px;
            }
          }
        }
      }
    }

    .expander {
      margin-top: 2px;
      border-top: 1px solid $colorGreyLight;
      color: $colorGreyLight;
    }
  }

  .side-nav-expanded {
    min-width: 200px;
    max-width: 200px;

    .header-logo {
      min-width: 200px;
      max-width: 200px;
      padding: 0 30px;
      place-content: center flex-start;
    }

    .side-nav-section {
      padding: 10px;

      .links-section-title {
        place-content: center flex-start;
      }

      ul {
        li {
          .link {
            place-content: center flex-start;
          }
        }
      }
    }
  }

  .social-media {
    margin-bottom: 5px;
    &-icon {
      font-size: 20px;
      color: #fff;
    }

    &:hover {
      .social-media-icon {
        color: $colorRed;
        transition: color ease-in-out 0.3s;
      }
    }
  }
}

.side-nav-shrinked {
  min-width: 70px;
  max-width: 70px;

  .header-logo {
    min-width: 70px;
    max-width: 70px;
    padding: 0 5px;
    place-content: center center;
  }

  .side-nav-section {
    padding: 10px 5px;

    .links-section-title {
      place-content: center center;
    }

    ul {
      li {
        .link {
          place-content: center center;
        }
      }
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #3b4148;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $colorGreyLight;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $colorGreyLight;
}
