<div class="sticky side-nav-container side-nav-expanded" [style.height]="height">
  <nav class="content flex flex-col" [style.height]="height">
    <div class="header flex-row-center-center gap-x-2.5">
      <div class="logo flex-row-center-center">
        <img src="favicon.ico" />
      </div>
    </div>

    <div class="side-nav-section">
      <nav class="flex flex-col gap-x-2.5">
        <div
          *ngFor="let link of links"
          class="links-section"
          [ngClass]="{ 'links-section-active': openedNavs$ | async | arrayIncludes : link.icon }"
        >
          <div *ngIf="link.children" class="link-main flex-row-space-between-center" (click)="toggleNav(link.icon)">
            <ng-template [ngTemplateOutlet]="linkTemplate" [ngTemplateOutletContext]="{ link: link }"></ng-template>
          </div>

          <ng-template
            [ngTemplateOutlet]="aLinkTemplate"
            [ngTemplateOutletContext]="{ link: link, isSublink: false }"
          ></ng-template>

          <div *ngIf="openedNavs$ | async | arrayIncludes : link.icon" class="link-sublink">
            <div *ngFor="let subLink of link.children">
              <ng-template
                [ngTemplateOutlet]="aLinkTemplate"
                [ngTemplateOutletContext]="{ link: subLink, isSublink: true }"
              ></ng-template>
            </div>
          </div>
        </div>
      </nav>
    </div>

    <div class="footer flex flex-col gap-y-2.5">
      <div class="socials flex-row-center-center gap-x-5">
        <a class="social-media" href="https://www.facebook.com/Fantasybl-stats-108481224674753" target="blank">
          <fa-icon class="social-media-icon" [icon]="['fab', 'facebook-f']"></fa-icon>
        </a>
        <a class="social-media" href="https://twitter.com/FantasyblS" target="blank">
          <fa-icon class="social-media-icon" [icon]="['fab', 'twitter']"></fa-icon>
        </a>
      </div>

      <div class="bmb-container flex-row-center-center">
        <a
          href="https://www.buymeacoffee.com/fantasyblstats"
          target="_blank"
          class="bmb flex-row-center-center gap-x-2.5"
        >
          <mat-icon style="color: #f28e1c">sports_bar</mat-icon>
          <div class="flex flex-col">
            <span>Like it?</span>
            <span>Buy me a beer</span>
          </div>
        </a>
      </div>
    </div>
  </nav>
</div>

<ng-template #linkTemplate let-link="link">
  <div class="flex flex-row justify-center items-center">
    <span class="link-line" [ngClass]="{ 'link-line-active': openedNavs$ | async | arrayIncludes : link.icon }"
      >&nbsp;</span
    >
    <mat-icon class="link-icon" [ngClass]="{ 'link-icon-active': openedNavs$ | async | arrayIncludes : link.icon }">{{
      link.icon
    }}</mat-icon>
    <span class="link-text">{{ link.text }}</span>
  </div>
  <mat-icon
    *ngIf="link.children"
    class="link-expand"
    [ngClass]="{ 'link-expand-active': openedNavs$ | async | arrayIncludes : link.icon }"
    >chevron_right</mat-icon
  >
</ng-template>

<ng-template #aLinkTemplate let-link="link" let-isSublink="isSublink">
  <a
    *ngIf="!link.children"
    class="link-main flex-row-space-between-center"
    [ngClass]="{ 'link-main-sublink': isSublink }"
    [routerLink]="link.path"
  >
    <ng-template [ngTemplateOutlet]="linkTemplate" [ngTemplateOutletContext]="{ link: link }"></ng-template>
  </a>
</ng-template>
