<div *ngIf="expanded$ | async" class="sticky side-nav-container side-nav-expanded" [style.height]="height">
  <ng-template [ngTemplateOutlet]="content"></ng-template>
</div>

<div *ngIf="!(expanded$ | async)" class="sticky side-nav-container side-nav-shrinked">
  <ng-template [ngTemplateOutlet]="content"></ng-template>
</div>

<ng-template #content>
  <nav class="content" [style.height]="height" fxLayout="column">
    <div class="header">
      <h1 routerLink="/" class="header-logo" fxLayoutAlign="center center" fxLayoutGap="10px">
        <img src="favicon.ico" class="header-logo-image" />
        <span *ngIf="expanded$ | async">#FBL</span>
      </h1>
    </div>
    <div class="side-nav-section">
      <nav fxLayout="column" fxLayoutGap="10px">
        <div *ngFor="let link of links" class="links-section">
          <div *ngIf="!link.path" class="links-section-title">
            <span>{{ link.text }}</span>
          </div>
          <ul>
            <li *ngFor="let sublink of link.children">
              <a class="link" [routerLink]="sublink.path" routerLinkActive="link-active" fxLayoutGap="10px">
                <mat-icon class="link-icon" [inline]="true">{{ sublink.icon }}</mat-icon>
                <span *ngIf="expanded$ | async">{{ sublink.text }}</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div fxLayout="column">
      <div class="socials" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
        <a class="social-media" href="https://www.facebook.com/Fantasybl-stats-108481224674753" target="blank">
          <fa-icon class="social-media-icon" [icon]="['fab', 'facebook-f']"></fa-icon>
        </a>
        <a class="social-media" href="https://twitter.com/FantasyblS" target="blank">
          <fa-icon class="social-media-icon" [icon]="['fab', 'twitter']"></fa-icon>
        </a>
      </div>
      <div *ngIf="false" class="bmc" fxLayout="row" fxLayoutAlign="start center">
        <a>
          <div fxLayoutAlign="start center" fxLayoutGap="10px">
            <mat-icon>sports_bar</mat-icon>
            <div [fxHide]="!(expanded$ | async)" fxLayout="column" fxLayoutAlign="start center">
              <span>Do you like it?</span>
              <span>Buy me a beer</span>
            </div>
          </div>
        </a>
      </div>
      <div class="expander" fxLayout="row" fxLayoutAlign="flex-end">
        <button mat-icon-button (click)="toggleExpand()">
          <mat-icon *ngIf="expanded$ | async">navigate_before</mat-icon>
          <mat-icon *ngIf="!(expanded$ | async)">navigate_next</mat-icon>
        </button>
      </div>
    </div>
  </nav>
</ng-template>
