@import '/src/variables.scss';

.sticky {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.side-nav-container {
  width: 175px;
  background-color: $colorGrey;

  .content {
    .header {
      padding: 7px 0;
      border-bottom: 1px solid #32373d;

      .logo {
        img {
          width: 40px;
          height: 40px;
        }
      }
    }

    .side-nav-section {
      flex-grow: 1;
      overflow-x: hidden;
      overflow-y: auto;
      overscroll-behavior: none;
      margin-top: 5px;

      a {
        text-decoration: none;
      }

      .links-section {
        color: $colorGreyLight;

        &-active {
          color: $colorWhite;
        }

        a {
          color: inherit !important;
        }

        .link-main {
          cursor: pointer;

          &:hover {
            background-color: $colorBlue;
            color: $colorWhite !important;
          }

          .link-line {
            width: 2px;
            line-height: 35px;
            height: 100%;

            &-active {
              background-color: $colorWhite;
            }
          }

          .link-icon {
            height: 35px;
            width: 35px;
            font-size: 18px;
            text-align: center;
            line-height: 35px;
          }

          .link-icon-active {
            color: $colorWhite;
          }

          .link-text {
            font-size: 13px;
          }

          .link-expand {
            margin-right: 7px;
            font-size: 1rem;
            line-height: 1;
            height: 16px;
            width: 16px;
            transition: transform 0.3s cubic-bezier(0.35, 0, 0.25, 1);
          }

          .link-expand-active {
            transform: rotate(90deg);
          }
        }

        .link-main-sublink {
          .link-text {
            font-size: 11px;
          }
        }

        .link-sublink {
          border-top: 1px solid #32373d;
        }
      }

      // .links-section {
      //   &-title {
      //     align-items: center;
      //     flex-direction: row;
      //     box-sizing: border-box;
      //     text-transform: uppercase;
      //     margin-bottom: 2px;
      //     font-weight: 500;
      //     font-size: 12px;
      //     color: $colorGreyLight;
      //   }
      // }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          .link {
            font-size: 13px;
            align-items: center;
            flex-direction: row;
            box-sizing: border-box;
            display: flex;
            line-height: 20px;
            padding: 5px 10px;
            border-radius: 5px;
            text-decoration: none;
            color: $colorGreyLight;

            &:hover {
              background-color: $colorBlue;
              color: $colorWhite;
            }

            &-active {
              color: $colorWhite;
            }

            &-icon {
              font-size: 18px;
            }
          }
        }
      }
    }

    .footer {
      padding: 10px 0 5px 0;
      border-top: 1px solid #32373d;

      .bmb-container {
        .bmb {
          background-color: #ffdd00;
          width: 140px;
          min-height: 40px;
          border-radius: 8px;
          text-decoration: none;
          font-size: 12px;
          font-weight: 700;
          font-family: 'Lucida Handwriting', cursive;
          letter-spacing: 0px;
          line-height: 13px;
        }
      }

      .socials {
        height: 30px;

        .social-media {
          &-icon {
            font-size: 18px;
            color: $colorGreyLight;
          }

          &:hover {
            .social-media-icon {
              color: $colorWhite;
              transition: color ease-in-out 0.3s;
            }
          }
        }
      }
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #3b4148;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $colorGreyLight;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $colorGreyLight;
}
