<div *ngIf="loading" fxLayoutAlign="center center">
  <mat-progress-spinner [diameter]="50" [mode]="'indeterminate'"></mat-progress-spinner>
</div>

<div [fxHide]="loading" fxHide="loading" [ngSwitch]="view$ | async">
  <app-players-list
    [showRemoveFromMyTeamButton]="false"
    [showAddToMyTeamButton]="true"
    *ngSwitchCase="PlayersViews.LIST"
    [players]="playersToDisplay"
  ></app-players-list>
  <app-players-table
    *ngSwitchCase="PlayersViews.TABLE"
    [players]="playersToDisplay"
    [showAddToMyTeamButton]="true"
  ></app-players-table>
</div>
