@import '/src/variables.scss';

table {
  border-collapse: collapse;

  tr.grey-row,
  tr.grey-row td:first-child {
    background-color: $colorBlueLight !important;
  }
}

.wrapper {
  margin-bottom: 10px;
}
