@import '/src/variables.scss';

.players-compare-wrapper {
  overflow: auto;
  white-space: nowrap;
  padding-bottom: 15px;

  table {
    border-collapse: collapse;

    tr {
      td:first-child {
        position: sticky;
        left: 0;
        background-color: #fff;
        z-index: 1000;
      }
    }

    tr.grey-row,
    tr.grey-row td:first-child {
      background-color: $colorBlueLight;
    }
  }
}

.wrapper {
  // width: 100%;
  margin-bottom: 5px;
}
