<app-white-block>
  <div class="admin-tips-container" fxLayoutAlign="center center">
    <button mat-raised-button class="add-new-button main-background" (click)="openNewLinkDialog()">Add new link</button>
    <div class="action-buttons" fxLayout="row" fxLayoutGap="5px">
      <button mat-raised-button class="main-background" [disabled]="!isChange" (click)="save()">Save</button>
      <button mat-raised-button class="main-background" [disabled]="!isChange" (click)="cancelChanges()">
        Cancel changes
      </button>
    </div>

    <div
      cdkDropList
      [cdkDropListData]="displayedLinks"
      class="tips-links-container"
      (cdkDropListDropped)="drop($event)"
    >
      <div
        class="tips-link"
        [ngClass]="{ 'tips-link-new': link.isNew }"
        *ngFor="let link of displayedLinks | orderBy: 'order'"
        cdkDrag
      >
        <span>{{ link.order }}</span>
        <div fxLayout="column">
          <span>{{ link.title }}</span>
          <a [href]="link.url">{{ link.url }}</a>
          <div fxLayout="row" fxLayoutGap="10px">
            <span *ngFor="let category of link.categories">{{ category }}</span>
          </div>
        </div>
        <button mat-icon-button class="red delete-button" (click)="onDelete(link.order)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
</app-white-block>
