<div class="flex flex-col gap-y-3">
  <app-view-title>
    <div subtitle>
      <div class="flex-row-center-center gap-x-1">
        <mat-icon class="green">published_with_changes</mat-icon>
        <span
          >Players who were unavailable in previous matchday (MD {{ lastMatchday$ | async }}) and can play in the
          following game.
        </span>
      </div>
    </div>
  </app-view-title>

  <app-white-block *ngIf="players$ | async" padding="10px 10px">
    <app-players-list-base [players]="players$ | async"></app-players-list-base>
  </app-white-block>
</div>
