<div fxLayout="column" fxLayoutGap="15px">
  <app-view-title>
    <div subtitle fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
      <mat-icon class="green">published_with_changes</mat-icon>
      <span
        >Players who were unavailable in last matchday (MD {{ lastMatchday$ | async }}) and can play in the following
        game.
      </span>
    </div>
  </app-view-title>

  <app-white-block *ngIf="players$ | async">
    <app-players-list-base [players]="players$ | async"></app-players-list-base>
  </app-white-block>
</div>
