<div class="switch-container">
  <div class="switch">
    <mat-button-toggle-group [value]="value" (change)="onChange($event)" [name]="name">
      <mat-button-toggle
        *ngFor="let item of items"
        [disableRipple]="1"
        [ngClass]="value === item.value ? 'item-active' : 'item'"
        [value]="item.value"
      >
        <span *ngIf="!item.isMatIcon">
          {{ item.description }}
        </span>
        <mat-icon [ngClass]="{ 'material-icons-outlined': item.isMatIconOutline }" *ngIf="item.isMatIcon">{{
          item.description
        }}</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>
