@import '/src/variables.scss';

.switch-container {
  background-color: #fff;

  .switch {
    .item-active {
      background-color: $colorBlue;
      transition-property: background-color, color;
      transition-duration: 0.2s, 0.2s;
      transition-timing-function: ease-in, ease-in;
      color: #fff;
    }

    .item {
      background-color: transparent;
      transition-property: background-color, color;
      transition-duration: 0.2s, 0.2s;
      transition-timing-function: ease-in, ease-in;
      color: unset;

      &:hover {
        font-weight: 500;
      }
    }
  }
}
