<app-players-picker
  class="picker"
  [closeAfterSelect]="true"
  [filters]="{ position: GK, excludedIds: selectedGks | pluck: 'id' }"
  (playerSelected)="addGk($event)"
></app-players-picker>

<div class="best-gks-container">
  <div fxLayout="column">
    <div class="goalkeeper" *ngFor="let gk of selectedGks">
      <app-team-logo [height]="20" [team]="gk.teamShort"></app-team-logo>
      <app-player-name-link [id]="gk.id" [name]="gk.name"></app-player-name-link>
      <span>{{ gk.price }}M</span>
      <span>TP: {{ gk.totalPoints }}</span>
      <div fxLayoutAlign="flex-end">
        <button class="red" mat-icon-button (click)="removeGk(gk.id)">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </div>
    </div>

    <div class="actions" fxLayout="row" fxLayoutGap="7px" fxLayoutAlign="flex-end">
      <button
        [disabled]="!edited"
        [ngClass]="{ 'main-background': edited, disabled: !edited }"
        mat-button
        (click)="cancel()"
      >
        Cancel
      </button>
      <button
        [disabled]="!edited"
        [ngClass]="{ 'main-background': edited, disabled: !edited }"
        mat-button
        (click)="save()"
      >
        Save
      </button>
    </div>
  </div>
</div>
