@import '/src/variables.scss';
.container {
  padding: 10px;

  .title-container {
    display: grid;
    grid-template-columns: 50px auto;
  }
}

.clear-selection-button {
  margin-bottom: 15px;
}

.player-card {
  width: 220px;
  min-width: 220px;
  max-width: 220px;
  margin-bottom: 15px;

  &-name {
    font-weight: 500;
  }

  &-position {
    font-size: $fontSizeSmall;
    color: $colorGrey;
  }
}

.remove-button {
  background-color: $colorGreyLight;
  color: #000;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: scale(0.5);

  &:hover {
    background-color: $colorRed;
    color: #fff;
    transform: scale(0.7);
  }
}
