<div class="p-2 grid grid-cols-[70px_auto]">
  <div class="flex flex-col items-center gap-y-2">
    <app-players-picker
      [type]="'icon'"
      [filters]="{ excludedIds: players | pluck : 'id' }"
      [closeAfterSelect]="true"
      (playerSelected)="onPlayerSelected($event)"
    ></app-players-picker>
    <button class="clear-button" mat-button (click)="onClearSelection()">Clear all</button>
  </div>

  <div class="flex-row-wrap justify-evenly gap-3">
    <div class="w-[220px] min-w-[220px] max-w-[220px]" *ngFor="let player of players">
      <mat-card>
        <mat-card-content>
          <div class="flex flex-col gap-y-1 items-center">
            <app-player-name-link class="font-medium" [name]="player.name" [id]="player.id"></app-player-name-link>
            <div class="flex-row-center-center gap-x-2.5">
              <app-team-logo [team]="player.teamShort" [height]="20"></app-team-logo>
              <span class="color-grey font-small">{{ player.position | uppercase }}</span>
              <span class="color-grey font-small">{{ player.price }}M</span>
            </div>
          </div>
          <button class="remove-button" mat-mini-fab (click)="onPlayerRemove(player)">
            <mat-icon>close</mat-icon>
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
