@import '/src/variables.scss';

.clear-button:hover {
  color: $colorRed;
}

.remove-button {
  background-color: $colorGreyLight;
  color: #000;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: scale(0.5);

  &:hover {
    background-color: $colorRed;
    color: #fff;
    transform: scale(0.7);
  }
}
