h3 {
  margin-bottom: 3px;
}

.next-game-info {
  h4 {
    margin: 0px;
  }

  &-date {
    font-size: 12px;
    font-weight: 600;
  }
}

.stats-section-title {
  font-size: 13px;
  font-weight: 500;
}

.stats-section {
  padding: 5px 20px 10px 20px;
  border-top: 1px solid rgba($color: #000000, $alpha: 0.3);
}

.prediction-source {
  width: 120px;
}
