<mat-card
  class="player-details-next-matchday-container"
  fxLayout="row wrap"
  fxLayoutGap="10px grid"
  fxLayoutAlign="space-evenly start"
  fxLayout.lt-sm="column"
  fxLayoutAlign.lt-sm="center center"
  fxLayoutGap.lt-sm="20px"
>
  <div fxLayout="column" class="next-game-info" fxLayoutGap="25px">
    <div>
      <h4>MATCHDAY {{ player.nextGame.matchday }}</h4>
      <span class="next-game-info-date grey">{{
        player.nextGame.date | epochDate | date: 'EEEE, HH:mm, dd.MM.yyyy'
      }}</span>
    </div>
    <div fxLayoutGap="20px">
      <app-team-logo [height]="50" [team]="homeTeam.shortName"></app-team-logo>
      <span>vs.</span>
      <app-team-logo [height]="50" [team]="awayTeam.shortName"></app-team-logo>
    </div>
    <div *ngIf="player.nextGame.isFirstGame" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
      <app-matchday-first-game-indicator></app-matchday-first-game-indicator>
      <span>Matchday first game!</span>
    </div>
  </div>

  <div>
    <span class="stats-section-title">Lineup Predictions</span>
    <div class="stats-section" fxLayout="column" fxLayoutGap="10px">
      <div *ngFor="let prediction of player.nextGame.lineupPredictions" fxLayout="row" fxLayoutAlign="start center">
        <span class="prediction-source">{{ prediction.source | ucfirst }} </span>
        <app-prediction-indicator [showUnknownYet]="true" [value]="prediction.attendance"></app-prediction-indicator>
      </div>
      <a fxFlexAlign="flex-end" [routerLink]="'/lineups/teams/' + player.team.shortName">Show more</a>
    </div>
  </div>

  <div fxLayout="column">
    <span class="stats-section-title">Bundesliga Overall</span>
    <div class="stats-section">
      <table class="comparison-table">
        <tbody>
          <tr>
            <td></td>
            <td>{{ homeTeam.shortName | uppercase }}</td>
            <td>{{ awayTeam.shortName | uppercase }}</td>
          </tr>
          <tr class="padding-top">
            <td>Games</td>
            <td>{{ homeTeam.table.games }}</td>
            <td>{{ awayTeam.table.games }}</td>
          </tr>
          <tr>
            <td>Rank</td>
            <td [ngClass]="{ bolder: homeTeam.table.rank < awayTeam.table.rank }">
              {{ homeTeam.table.rank | numerals }}
            </td>
            <td [ngClass]="{ bolder: homeTeam.table.rank > awayTeam.table.rank }">
              {{ awayTeam.table.rank | numerals }}
            </td>
          </tr>
          <tr>
            <td>Points</td>
            <td [ngClass]="{ bolder: homeTeam.table.points > awayTeam.table.points }">{{ homeTeam.table.points }}</td>
            <td [ngClass]="{ bolder: homeTeam.table.points < awayTeam.table.points }">{{ awayTeam.table.points }}</td>
          </tr>
          <tr>
            <td>W / D / L</td>
            <td>{{ homeTeam.table.wins }} / {{ homeTeam.table.draws }} / {{ homeTeam.table.losses }}</td>
            <td>{{ awayTeam.table.wins }} / {{ awayTeam.table.draws }} / {{ awayTeam.table.losses }}</td>
          </tr>
          <tr>
            <td>Goals</td>
            <td>{{ homeTeam.table.goalsScored }}:{{ homeTeam.table.goalsConceded }}</td>
            <td>{{ awayTeam.table.goalsScored }}:{{ awayTeam.table.goalsConceded }}</td>
          </tr>
          <tr>
            <td>GSPG</td>
            <td [ngClass]="{ bolder: homeTeam.table.gspg > awayTeam.table.gspg }">{{ homeTeam.table.gspg }}</td>
            <td [ngClass]="{ bolder: homeTeam.table.gspg < awayTeam.table.gspg }">{{ awayTeam.table.gspg }}</td>
          </tr>
          <tr>
            <td>GCPG</td>
            <td [ngClass]="{ bolder: homeTeam.table.gcpg < awayTeam.table.gcpg }">{{ homeTeam.table.gcpg }}</td>
            <td [ngClass]="{ bolder: homeTeam.table.gcpg > awayTeam.table.gcpg }">{{ awayTeam.table.gcpg }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div fxLayout="column">
    <span class="stats-section-title">Bundesliga Last 5</span>
    <div class="stats-section">
      <table class="comparison-table">
        <tbody>
          <tr>
            <td></td>
            <td>{{ homeTeam.shortName | uppercase }}</td>
            <td>{{ awayTeam.shortName | uppercase }}</td>
          </tr>
          <tr class="padding-top">
            <td>Points</td>
            <td [ngClass]="{ bolder: homeTeam.last5.points > awayTeam.last5.points }">{{ homeTeam.last5.points }}</td>
            <td [ngClass]="{ bolder: homeTeam.last5.points < awayTeam.last5.points }">{{ awayTeam.last5.points }}</td>
          </tr>
          <tr>
            <td>Form</td>
            <td><app-team-form [form]="homeTeam.last5Form" [size]="'small'"></app-team-form></td>
            <td><app-team-form [form]="awayTeam.last5Form" [size]="'small'"></app-team-form></td>
          </tr>
          <tr>
            <td>W / D / L</td>
            <td>{{ homeTeam.last5.wins }} / {{ homeTeam.last5.draws }} / {{ homeTeam.last5.losses }}</td>
            <td>{{ awayTeam.last5.wins }} / {{ awayTeam.last5.draws }} / {{ awayTeam.last5.losses }}</td>
          </tr>
          <tr>
            <td>Goals</td>
            <td>{{ homeTeam.last5.goalsScored }}:{{ homeTeam.last5.goalsConceded }}</td>
            <td>{{ awayTeam.last5.goalsScored }}:{{ awayTeam.last5.goalsConceded }}</td>
          </tr>

          <tr>
            <td>GSPG</td>
            <td [ngClass]="{ bolder: homeTeam.last5.gspg > awayTeam.last5.gspg }">{{ homeTeam.last5.gspg }}</td>
            <td [ngClass]="{ bolder: homeTeam.last5.gspg < awayTeam.last5.gspg }">{{ awayTeam.last5.gspg }}</td>
          </tr>
          <tr>
            <td>GCPG</td>
            <td [ngClass]="{ bolder: homeTeam.last5.gcpg < awayTeam.last5.gcpg }">{{ homeTeam.last5.gcpg }}</td>
            <td [ngClass]="{ bolder: homeTeam.last5.gcpg > awayTeam.last5.gcpg }">{{ awayTeam.last5.gcpg }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</mat-card>
