<app-white-block>
  <div fxLayoutAlign="center">
    <table class="comparison-table">
      <tr>
        <td></td>
        <td *ngFor="let index of [0, 1, 2]">
          {{ sources[index].displayName | uppercase }}
        </td>
      </tr>
      <tr>
        <td>Last checked</td>
        <td *ngFor="let index of [0, 1, 2]">
          <app-time-ago [isEpochDate]="true" [date]="sources[index].lastUpdated"></app-time-ago>
        </td>
      </tr>
    </table>
  </div>
</app-white-block>
<!-- <div fxLayoutAlign="center">
  <mat-card class="sources-card">
    <div fxLayout="row">
      <div class="source" [ngClass]="'source-' + source.name" *ngFor="let source of sources">
        <div class="title" fxLayoutAlign="center center">{{ source.displayName | uppercase }}</div>
        <div class="content"></div>
      </div>
    </div>
  </mat-card>
</div> -->
