<div class="flex-row-wrap justify-around gap-x-5">
  <app-players-compare-games-previous
    *ngIf="lastMatchday > 0"
    class="games-previous"
    appStickyWrapper
    [players]="players"
    [teams]="teams"
    [lastMatchday]="lastMatchday"
    [matchdays]="filters.includePastMatchdays"
  ></app-players-compare-games-previous>
  <app-players-compare-games-next
    appStickyWrapper
    [players]="players"
    [teams]="teams"
    [lastMatchday]="lastMatchday"
    [matchdays]="filters.includeMatchdays"
  ></app-players-compare-games-next>
</div>
