<app-form-field [label]="label">
  <mat-form-field class="width-full">
    <mat-label *ngIf="placeholder">{{ placeholder }}</mat-label>
    <mat-icon matPrefix>search</mat-icon>
    <input matInput type="text" [formControl]="search" />
    <button
      class="w-[20px] h-[20px] p-0"
      *ngIf="!!search.value"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="clear()"
      disableRipple
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</app-form-field>
