<div>
  <button
    mat-button
    class="main-background"
    (menuOpened)="playerSearch.setValue(''); searchInput.focus()"
    [matMenuTriggerFor]="searchMenu"
    #trigger="matMenuTrigger"
  >
    Add player
    <mat-icon *ngIf="trigger.menuOpen">arrow_drop_up</mat-icon>
    <mat-icon *ngIf="!trigger.menuOpen">arrow_drop_down</mat-icon>
  </button>
  <mat-menu #searchMenu="matMenu">
    <form class="menu-form" (click)="$event.stopPropagation()">
      <mat-form-field>
        <input type="text" matInput [formControl]="playerSearch" [matAutocomplete]="auto" />
        <mat-hint>Min 2 characters ({{ playerSearch.value?.length || 0 }}/2)</mat-hint>

        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onPlayerSelected($event.option.value)">
          <mat-option *ngFor="let player of foundPlayers$ | async" [value]="player.id + ';' + player.name">
            <div fxLayoutGap="8px" fxLayoutAlign="start center">
              <app-team-logo [height]="25" [team]="player.teamShort" fxHide.lt-sm></app-team-logo>
              <span ngClass.lt-sm="option-text-mobile">{{ player.name }} ({{ player.position | uppercase }})</span>
            </div>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </mat-menu>
</div>
