<app-white-block>
  <div
    class="player-details-next-matchday-container"
    fxLayout="row wrap"
    fxLayoutGap="10px grid"
    fxLayoutAlign="space-evenly start"
    fxLayout.lt-sm="column"
    fxLayoutAlign.lt-sm="center center"
    fxLayoutGap.lt-sm="20px"
  >
    <div fxLayout="column" class="next-game-info" fxLayoutGap="10px">
      <div>
        <h4>MATCHDAY {{ player.nextGame.matchday }}</h4>
        <span class="next-game-info-date grey">{{
          player.nextGame.date | epochDate | date: 'EEEE, HH:mm, dd.MM.yyyy'
        }}</span>
      </div>
      <div fxLayoutGap="20px">
        <app-team-logo [height]="40" [team]="homeTeam.shortName"></app-team-logo>
        <span>vs.</span>
        <app-team-logo [height]="40" [team]="awayTeam.shortName"></app-team-logo>
      </div>
      <div *ngIf="player.nextGame.isFirstGame" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="3px">
        <app-matchday-first-game-indicator appScale="0.8"></app-matchday-first-game-indicator>
        <span class="font-small">Matchday first game!</span>
      </div>
      <div>
        <mat-chip-list class="mat-chip-list-stacked">
          <mat-chip class="chip chip-red" fxLayout="row" fxLayoutGap="4px" *ngIf="player.nextGame.isUnavailable"
            ><mat-icon [appScale]="0.8">not_interested</mat-icon><span>Unavailable !!</span></mat-chip
          >
          <mat-chip
            [disableRipple]="true"
            class="chip chip-orange"
            fxLayout="row"
            fxLayoutGap="4px"
            *ngIf="player.nextGame.prediction === predictions.Doubt"
            ><mat-icon [appScale]="0.8">error_outline</mat-icon><span>Varied predictions</span></mat-chip
          >
          <mat-chip
            [disableRipple]="true"
            class="chip chip-red"
            fxLayout="row"
            fxLayoutGap="4px"
            *ngIf="player.nextGame.prediction === predictions.WillNotPlay"
            ><mat-icon [appScale]="0.8">highlight_off</mat-icon><span>Not predicted to start</span></mat-chip
          >
          <mat-chip
            [disableRipple]="true"
            class="chip chip-green"
            fxLayout="row"
            fxLayoutGap="4px"
            *ngIf="player.nextGame.prediction === predictions.WillPlay"
            ><mat-icon [appScale]="0.8">check_circle</mat-icon><span>Predicted to start</span></mat-chip
          >
          <mat-chip
            [disableRipple]="true"
            class="chip chip-yellow"
            fxLayout="row"
            fxLayoutGap="4px"
            *ngIf="player.nextGame.isSuspensionRisk"
          >
            <app-player-suspension-risk [show]="true"></app-player-suspension-risk>
            <span>Suspension risk</span>
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>

    <app-title-underlined-grey>
      <span title>Lineup predictions</span>
      <table content class="comparison-table">
        <tbody>
          <tr></tr>
          <tr *ngFor="let prediction of player.nextGame.lineupPredictions">
            <td>
              <span>{{ prediction.source | ucfirst }} </span>
            </td>
            <td>
              <app-prediction-indicator
                [scale]="0.8"
                [showUnknownYet]="true"
                [value]="prediction.attendance"
              ></app-prediction-indicator>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <a fxFlexAlign="flex-end" [routerLink]="'/teams/lineups/' + player.team.shortName">Show more</a>
            </td>
          </tr>
        </tbody>
      </table>
    </app-title-underlined-grey>

    <app-title-underlined-grey>
      <span title>Bundesliga overall</span>
      <table content class="comparison-table">
        <tbody>
          <tr>
            <td></td>
            <td>{{ homeTeam.shortName | uppercase }}</td>
            <td>{{ awayTeam.shortName | uppercase }}</td>
          </tr>
          <tr>
            <td>Games</td>
            <td>{{ homeTeam.table.games }}</td>
            <td>{{ awayTeam.table.games }}</td>
          </tr>
          <tr>
            <td>Rank</td>
            <td [ngClass]="{ bolder: homeTeam.table.rank < awayTeam.table.rank }">
              {{ homeTeam.table.rank | numerals }}
            </td>
            <td [ngClass]="{ bolder: homeTeam.table.rank > awayTeam.table.rank }">
              {{ awayTeam.table.rank | numerals }}
            </td>
          </tr>
          <tr>
            <td>Points</td>
            <td [ngClass]="{ bolder: homeTeam.table.points > awayTeam.table.points }">{{ homeTeam.table.points }}</td>
            <td [ngClass]="{ bolder: homeTeam.table.points < awayTeam.table.points }">{{ awayTeam.table.points }}</td>
          </tr>
          <tr>
            <td>W / D / L</td>
            <td>{{ homeTeam.table.wins }} / {{ homeTeam.table.draws }} / {{ homeTeam.table.losses }}</td>
            <td>{{ awayTeam.table.wins }} / {{ awayTeam.table.draws }} / {{ awayTeam.table.losses }}</td>
          </tr>
          <tr>
            <td>Goals</td>
            <td>{{ homeTeam.table.goalsScored }}:{{ homeTeam.table.goalsConceded }}</td>
            <td>{{ awayTeam.table.goalsScored }}:{{ awayTeam.table.goalsConceded }}</td>
          </tr>
          <tr>
            <td>GSPG</td>
            <td [ngClass]="{ bolder: homeTeam.table.gspg > awayTeam.table.gspg }">{{ homeTeam.table.gspg }}</td>
            <td [ngClass]="{ bolder: homeTeam.table.gspg < awayTeam.table.gspg }">{{ awayTeam.table.gspg }}</td>
          </tr>
          <tr>
            <td>GCPG</td>
            <td [ngClass]="{ bolder: homeTeam.table.gcpg < awayTeam.table.gcpg }">{{ homeTeam.table.gcpg }}</td>
            <td [ngClass]="{ bolder: homeTeam.table.gcpg > awayTeam.table.gcpg }">{{ awayTeam.table.gcpg }}</td>
          </tr>
        </tbody>
      </table>
    </app-title-underlined-grey>

    <app-title-underlined-grey>
      <span title>Bundesliga last 5</span>
      <table content class="comparison-table">
        <tbody>
          <tr>
            <td></td>
            <td>{{ homeTeam.shortName | uppercase }}</td>
            <td>{{ awayTeam.shortName | uppercase }}</td>
          </tr>
          <tr>
            <td>Points</td>
            <td [ngClass]="{ bolder: homeTeam.last5.points > awayTeam.last5.points }">{{ homeTeam.last5.points }}</td>
            <td [ngClass]="{ bolder: homeTeam.last5.points < awayTeam.last5.points }">{{ awayTeam.last5.points }}</td>
          </tr>
          <tr>
            <td>Form</td>
            <td><app-team-form [form]="homeTeam.last5Form" [size]="'small'"></app-team-form></td>
            <td><app-team-form [form]="awayTeam.last5Form" [size]="'small'"></app-team-form></td>
          </tr>
          <tr>
            <td>W / D / L</td>
            <td>{{ homeTeam.last5.wins }} / {{ homeTeam.last5.draws }} / {{ homeTeam.last5.losses }}</td>
            <td>{{ awayTeam.last5.wins }} / {{ awayTeam.last5.draws }} / {{ awayTeam.last5.losses }}</td>
          </tr>
          <tr>
            <td>Goals</td>
            <td>{{ homeTeam.last5.goalsScored }}:{{ homeTeam.last5.goalsConceded }}</td>
            <td>{{ awayTeam.last5.goalsScored }}:{{ awayTeam.last5.goalsConceded }}</td>
          </tr>

          <tr>
            <td>GSPG</td>
            <td [ngClass]="{ bolder: homeTeam.last5.gspg > awayTeam.last5.gspg }">{{ homeTeam.last5.gspg }}</td>
            <td [ngClass]="{ bolder: homeTeam.last5.gspg < awayTeam.last5.gspg }">{{ awayTeam.last5.gspg }}</td>
          </tr>
          <tr>
            <td>GCPG</td>
            <td [ngClass]="{ bolder: homeTeam.last5.gcpg < awayTeam.last5.gcpg }">{{ homeTeam.last5.gcpg }}</td>
            <td [ngClass]="{ bolder: homeTeam.last5.gcpg > awayTeam.last5.gcpg }">{{ awayTeam.last5.gcpg }}</td>
          </tr>
        </tbody>
      </table>
    </app-title-underlined-grey>
  </div>
</app-white-block>
