h3 {
  margin-bottom: 3px;
}

// .mdc-evolution-chip-set span {
//   display: flex;
//   flex-direction: column !important;
// }

.chip {
  font-size: 12px;
}

.chip-yellow {
  background-color: rgba($color: #ffff99, $alpha: 0.9) !important;
}

.chip-yellow * {
  color: rgba($color: #000, $alpha: 0.8) !important;
}

.chip-green {
  background-color: rgba($color: green, $alpha: 0.8) !important;
}

.chip-green *,
.chip-orange *,
.chip-red * {
  color: #fff !important;
}

.chip-orange {
  background-color: rgba($color: orange, $alpha: 0.8) !important;
}

.chip-red {
  background-color: rgba($color: #c80a00, $alpha: 0.7) !important;
}
