<button
  *ngIf="showAdd"
  [appScale]="0.75"
  [ngStyle]="{ height: '30px', width: '30px', lineHeight: '30px' }"
  matTooltip="Add to My Team"
  mat-icon-button
  (click)="onAdd(); $event.stopPropagation()"
>
  <mat-icon class="green">group_add</mat-icon>
</button>

<button
  *ngIf="!showAdd"
  [appScale]="0.75"
  [ngStyle]="{ height: '30px', width: '30px', lineHeight: '30px' }"
  mat-icon-button
  matTooltip="Remove from My Team"
  (click)="onRemove(); $event.stopPropagation()"
>
  <mat-icon class="red">person_remove</mat-icon>
</button>
