@import '/src/variables.scss';

.players-list-base-container {
  .table {
    font-size: $fontSizeSmall;

    td,
    th {
      padding: 3px 10px;
    }

    td:first-of-type,
    th:first-of-type {
      padding: 3px 7px;
    }
  }
}
