<div class="players-list-base-container flex-col-center-center gap-y-2.5">
  <table
    class="table"
    matSort
    matSortStart="desc"
    [matSortActive]="lastMatchday > 0 ? 'totalPoints' : 'price'"
    matSortDisableClear
    matSortDirection="desc"
    (matSortChange)="onSortChange($event)"
  >
    <tr>
      <th mat-sort-header="name">player</th>
      <th mat-sort-header="position">pos</th>
      <th mat-sort-header="price">$</th>
      <th mat-sort-header="popularity" class="hidden sm:table-cell">%</th>
      <th mat-sort-header="totalPoints">TP</th>
    </tr>
    <tbody>
      <tr *ngFor="let player of sorted">
        <td>
          <div class="flex flex-row gap-x-1 md:gap-x-2">
            <app-team-logo [team]="player.teamShort" [height]="18"></app-team-logo>
            <app-player-name-link class="hidden md:block" [name]="player.name" [id]="player.id"></app-player-name-link>
            <app-player-name-link
              class="block md:hidden"
              [name]="player.lastName"
              [id]="player.id"
            ></app-player-name-link>
          </div>
        </td>
        <td>
          {{ player.position | uppercase }}
        </td>
        <td>
          <span> {{ player.price }}M</span>
          <span *ngIf="player.priceOriginal !== 0 && player.price !== player.priceOriginal" class="ml-1 line-through"
            >{{ player.priceOriginal }}M</span
          >
        </td>
        <td class="hidden sm:table-cell">{{ player.popularity }}%</td>

        <td>
          {{ player.totalPoints }}
        </td>
      </tr>
    </tbody>
  </table>

  <span *ngIf="!sorted || sorted.length === 0">No players</span>
</div>
