<div class="flex flex-col gap-y-5">
  <app-predicted-lineups-team-navigation [teams]="teamsNavigation$ | async"></app-predicted-lineups-team-navigation>

  <div class="w-full text-center">
    <app-ad-banner type="horizontal"></app-ad-banner>
  </div>

  <app-white-block>
    <div *ngIf="predictionsAvailable$ | async" class="flex flex-col gap-y-3.5">
      <app-view-title>
        <span title>{{ teamPredictions$ | async | field : 'longName' | uppercase }}</span>
      </app-view-title>
      <span class="info"
        >*Players position are in accordance with Fantasy Bundesliga. Therfore the lineups may sometimes look unexpected
        (etc. only one winger or no forwards)</span
      >

      <div class="flex flex-row justify-center sm:space-evenly gap-2">
        <div
          class="lineups-container flex flex-col justify-center items-center gap-3.5 sm:flex-row sm:flex-wrap sm:justify-evenly"
        >
          <div
            class="lineup"
            *ngFor="
              let sourceLineup of teamPredictions$ | async | field : 'predictions' | orderBy : 'order';
              let i = index
            "
          >
            <div *ngIf="i === 2">
              <div *appIfScreen="{ type: 'le', size: screens.XS }" class="w-full text-center">
                <app-ad-banner type="square"></app-ad-banner>
              </div>
            </div>
            <app-predicted-team-lineup [sourceLineup]="sourceLineup"></app-predicted-team-lineup>
            <div class="legend">
              <span>Last checked: {{ sourceLineup.lastUpdated | epochDate | date : 'dd.MM.yyyy HH:mm' }}</span>
            </div>
          </div>
        </div>

        <div *appIfScreen="{ type: 'gt', size: screens.SM }" class="w-[80%] h-full mr-4 text-center">
          <app-ad-banner type="multiplexVertical"></app-ad-banner>
        </div>
      </div>
    </div>

    <h2 *ngIf="predictionsNotPublished$ | async" class="flex-col-center-center">
      Predicted lineups have not been published yet.
      <a href="https://twitter.com/FantasyblS" target="blank" class="flex-row-center-center gap-x-1"
        ><span>Stay tuned!</span>
        <fa-icon class="twitter blue" [icon]="['fab', 'twitter']"></fa-icon>
      </a>
    </h2>

    <h2 class="flex-row-center-center" *ngIf="gameIsPostponed$ | async">
      Next game is postponed - predictions are irrevelant.
    </h2>
  </app-white-block>

  <app-white-block>
    <div class="flex flex-col gap-x-5">
      <div class="predictions-list flex-row-wrap justify-evenly gap-x-5">
        <app-title-underlined-grey>
          <div title class="flex-row-start-center gap-x-1">
            <span>Confirmed absences</span>
            <mat-icon class="red" appScale="0.8">not_interested</mat-icon>
          </div>

          <table content class="comparison-table">
            <tr>
              <td>Player</td>
              <td>Pos</td>
              <td>$</td>
              <td>%</td>
              <td>TP</td>
            </tr>
            <tr *ngFor="let player of absences$ | async | orderBy : ['-totalPoints', '-price']">
              <td><app-player-name-link [name]="player.lastName" [id]="player.id"></app-player-name-link></td>
              <td>{{ player.position | uppercase }}</td>
              <td>{{ player.price }}M</td>
              <td>{{ player.popularity }}</td>
              <td>{{ player.totalPoints }}</td>
            </tr>
          </table>
        </app-title-underlined-grey>

        <app-title-underlined-grey *ngIf="predictionsAvailable$ | async" appStickyWrapper>
          <div title>
            <div class="flex flex-row sm:justify-between gap-x-2" [appSticky]="{ position: 'left' }">
              <div class="flex-row-start-center gap-x-1">
                <span>Predicions list</span>
                <mat-icon appScale="0.8">checklist_rtl</mat-icon>
              </div>
              <mat-checkbox (change)="onShowAllPlayersChange($event)">Show all players</mat-checkbox>
            </div>
          </div>

          <div content>
            <app-players-predicitons-table [players]="players$ | async"></app-players-predicitons-table>
          </div>
        </app-title-underlined-grey>
      </div>

      <app-legend>
        <span>Pos - position</span>
        <span>$ - price</span>
        <span>TP - total points</span>
        <span>% - popularity</span>
        <span>KK - kicker.de</span>
        <span>BL - bundesliga.de</span>
        <span>LI - ligainsider.de</span>
        <span>BL[EN] - bundesliga.com</span>
        <span>BI - bulinews.com</span>
      </app-legend>
    </div>
  </app-white-block>

  <div class="w-full text-center">
    <app-ad-banner type="horizontal"></app-ad-banner>
  </div>
</div>
