<div class="container flex flex-col gap-y-5">
  <app-white-block padding="10px 10px 20px 10px">
    <div class="summary-xs sm:summary-md lg:summary">
      <app-predicted-lineups-sources-summary [sources]="sources"></app-predicted-lineups-sources-summary>
      <div class="chart">
        <app-chart class="chart-inner" [config]="sourcesByMatchdayChartConfig"></app-chart>
      </div>
    </div>
  </app-white-block>
  <div class="w-full text-center">
    <app-ad-banner type="horizontal"></app-ad-banner>
  </div>
  <app-predicted-lineups-sources-teams
    [teams]="teams$ | async"
    [sources]="sources"
  ></app-predicted-lineups-sources-teams>
</div>
