<div class="leaders-players-by-position-container">
  <mat-card>
    <mat-card-title>
      <h2>{{ title | uppercase }}</h2>
    </mat-card-title>
    <mat-card-content>
      <div fxLayout="row wrap" fxLayoutAlign="space-evenly start" fxLayoutGap="30px grid">
        <app-text-value-card
          class="card"
          [showMoreButton]="true"
          [showInMatCard]="false"
          title="Common Picks"
          [items]="commonPlayers"
          (showMoreClick)="onShowMoreClick('players')"
        ></app-text-value-card>

        <app-text-value-card
          class="card"
          [showInMatCard]="false"
          [showMoreButton]="showMoreGrowth"
          title="Top Growth"
          [items]="topGrowthPlayers"
          (showMoreClick)="onShowMoreClick('growth')"
        ></app-text-value-card>

        <app-text-value-card
          class="card"
          [showInMatCard]="false"
          [showMoreButton]="showMoreDrop"
          title="Most Drop"
          [items]="topDropPlayers"
          (showMoreClick)="onShowMoreClick('drop')"
        ></app-text-value-card>

        <app-text-value-card
          class="card"
          [showInMatCard]="false"
          [showMoreButton]="data.stars?.length > 3"
          title="Common Stars"
          [items]="stars"
          (showMoreClick)="onShowMoreClick('stars')"
        ></app-text-value-card>

        <app-text-value-card
          fxFlex
          class="card-combinations"
          [showMoreButton]="data.combinations?.length > 3"
          [showInMatCard]="false"
          title="Common Combinations"
          [items]="combinations"
          [showBottomBorder]="isMobile$ | async"
          (showMoreClick)="onShowMoreClick('combinations')"
        ></app-text-value-card>
      </div>
    </mat-card-content>
  </mat-card>
</div>
