<div fxLayout fxLayoutGap="3px" fxLayoutAlign="start end" *ngIf="nextGame">
  <app-team-logo
    [style]="'height: ' + height + 'px; width: ' + height + 'px;'"
    [height]="height"
    [team]="nextGame.opponent"
  ></app-team-logo>
  <div class="grey" [ngStyle]="{ 'font-weight: 500': bold }" [style.font-size.px]="fontSize > 0 ? fontSize : 'unset'">
    <span *ngIf="nextGame.isHome && !venueLong">(h)</span>
    <span *ngIf="nextGame.isHome && venueLong">(home)</span>
    <span *ngIf="!nextGame.isHome && !venueLong">(a)</span>
    <span *ngIf="!nextGame.isHome && venueLong">(away)</span>
  </div>
</div>
