<app-white-block>
  <div class="column" class="summary-container">
    <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="space-evenly center" class="filters">
      <app-slider-max-price
        class="filter slider"
        max="26.5"
        [value]="maxPrice"
        (priceChange)="onPriceChange($event)"
      ></app-slider-max-price>
      <app-slider-max-popularity
        class="filter slider"
        [value]="maxPopularity"
        (popularityChange)="onPopularityChange($event)"
      ></app-slider-max-popularity>
      <mat-form-field class="view-form-field">
        <mat-label>Calculations</mat-label>
        <mat-select [ngModel]="lineupType" (selectionChange)="onLineupTypeChange($event.value)">
          <mat-option *ngFor="let item of lineupTypes" [value]="item.value">
            {{ item.description }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="row wrap" fxLayoutGap="15px" fxLayoutAlign="space-evenly start">
      <app-team-lineup *ngIf="!!lineup" [lineup]="lineup"></app-team-lineup>
      <app-title-underlined-grey>
        <span title>Team</span>
        <table content class="comparison-table team-table">
          <tr>
            <td>Name</td>
            <td>Pos</td>
            <td>$</td>
            <td>%</td>
            <td>Pts</td>
          </tr>
          <tr class="gk" *ngFor="let player of team.goalkeepers">
            <ng-template
              [ngTemplateOutlet]="tablePlayerRow"
              [ngTemplateOutletContext]="{ player: player }"
            ></ng-template>
          </tr>
          <tr class="def" *ngFor="let player of team.defenders">
            <ng-template
              [ngTemplateOutlet]="tablePlayerRow"
              [ngTemplateOutletContext]="{ player: player }"
            ></ng-template>
          </tr>
          <tr class="mid" *ngFor="let player of team.midfielders">
            <ng-template
              [ngTemplateOutlet]="tablePlayerRow"
              [ngTemplateOutletContext]="{ player: player }"
            ></ng-template>
          </tr>
          <tr class="for" *ngFor="let player of team.forwards">
            <ng-template
              [ngTemplateOutlet]="tablePlayerRow"
              [ngTemplateOutletContext]="{ player: player }"
            ></ng-template>
          </tr>
        </table>
      </app-title-underlined-grey>
    </div>
  </div>
</app-white-block>

<ng-template #tablePlayerRow let-player="player">
  <td>
    <div fxLayoutAlign="start center" fxLayoutGap="5px">
      <app-team-logo appScale="0.8" [team]="player.team"></app-team-logo>
      <span>{{ player.name }}</span>
    </div>
  </td>
  <td>
    {{ player.position | uppercase }}
  </td>
  <td>{{ player.price }}M</td>
  <td>{{ player.popularity }}%</td>
  <td>{{ player[getFieldBasedOnLineupType()] }}</td>
</ng-template>
