<div *ngIf="filters" class="flex-row-wrap justify-evenly items-start gap-x-5">
  <app-switcher
    class="filter"
    name="types"
    [items]="types"
    [value]="filters.type"
    (switchChange)="onTypeChange($event)"
  ></app-switcher>
  <app-switcher
    class="filter"
    name="calc"
    [items]="calculations"
    [value]="filters.calculations"
    (switchChange)="onCalcChange($event)"
  ></app-switcher>
  <app-switcher
    class="filter"
    *ngIf="isFantasy()"
    name="fantasyTypes"
    [items]="fantasyTypes"
    [value]="filters.subType"
    (switchChange)="onSubTypeChange($event)"
  ></app-switcher>
</div>
