<div *ngIf="filters" fxLayout="row wrap" fxLayoutAlign="space-evenly center" fxLayoutGap="20px">
  <app-switch name="types" [items]="types" [value]="filters.type" (switchChange)="onTypeChange($event)"></app-switch>
  <app-switch
    *ngIf="isFantasy()"
    name="fantasyTypes"
    [items]="fantasyTypes"
    [value]="filters.subType"
    (switchChange)="onSubTypeChange($event)"
  ></app-switch>
  <!-- <app-switch
    name="calc"
    [items]="calculations"
    [value]="filters.calculations"
    (switchChange)="onCalcChange($event)"
  ></app-switch> -->
</div>
