@import '/src/variables.scss';

table {
  tr {
    td {
      font-size: 12px;
      line-height: 22px;
      min-width: 100px;
    }

    td.title {
      font-size: $fontSizeSmaller;
      color: rgba($color: #000000, $alpha: 0.5);
      font-weight: 500;
    }

    td.best {
      background-color: green;
      color: #fff;
    }

    td.title-teams {
      vertical-align: baseline;
    }
  }
}

table.table-sm {
  tr {
    td {
      min-width: auto;
    }
  }
}
