@import '/src/colors.scss';

.header {
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  width: 100%;

  &-logo {
    min-width: 200px;
    max-width: 200px;
    padding: 0 30px;
    background-color: $backgroundGrey;
    color: $colorWhite;
    height: 100%;
    border-bottom: 1px solid $colorGrey;
    text-decoration: none;
    cursor: pointer;
    margin: 0;

    &-image {
      height: 30px;
      width: 30px;
    }
  }

  &-content {
    height: 100%;
    width: 100%;
    border-bottom: 1px solid $backgroundGrey;

    &-navigation {
      width: 100%;
    }
  }

  &-sm {
    padding: 0 5px;
  }

  .leckerli {
    padding: 1px 13px;
    font-family: 'Leckerli One', cursive;
    border-radius: 10px;
    font-size: 30px;
  }
}

.header-mobile {
  font-size: 22px;
  padding: 0 10px;
  width: 100%;
  margin: 0;
}
