<div class="header flex-row-space-between-center">
  <div class="flex flex-row items-center">
    <button class="block sm:hidden" mat-icon-button aria-label="Toggle menu" (click)="onToggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <button *ngIf="showBackButton$ | async" mat-icon-button (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>

  <span class="text-[17px] font-medium">{{ pageTitle$ | async }}</span>

  <div>
    <app-players-picker
      type="custom"
      [customType]="{ icon: 'search', text: 'Search' }"
      [closeAfterSelect]="true"
      (playerSelected)="onPlayerSearched($event)"
    ></app-players-picker>
  </div>
</div>
