<!-- <div
  *ngIf="(screen$ | async) === screens.XS"
  class="header header-mobile"
  fxLayout
  fxLayoutAlign="space-between center"
>
  <button mat-icon-button (click)="openSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>FantasyBL-Stats</span>
  <ng-template [ngTemplateOutlet]="newUpdates"></ng-template>
</div>

<ng-template #newUpdates>
  <div fxLayoutAlign="start" fxLayoutGap="3px">
    <app-new-updates></app-new-updates>
    <app-last-udpated></app-last-udpated>
  </div>
</ng-template> -->
