.header {
  padding: 0 25px;
  font-size: 35px;
  color: #fff;
  height: 90px;
  width: 100%;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.6);
}

.header-mobile {
  padding: 0 10px;
  font-size: 20px;
  color: #fff;
  height: 60px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
