.header {
  padding: 0 30px;
  font-size: 23px;
  height: 65px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: center;
  margin: 0 2vw;
  width: 95%;
  border-bottom: 2px solid #c80a00;
}

.header-mobile {
  font-size: 22px;
  padding: 0 10px;
  width: 100%;
  margin: 0;
}
