@import '/src/variables.scss';

.players-list-generic-container {
  .table {
    font-size: $fontSizeSmall;
    border-collapse: collapse;

    td,
    th {
      padding: 5px 20px;
    }

    th.active,
    td.active {
      background-color: rgba($color: #000, $alpha: 0.05);
    }

    th.active {
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
    }

    tr > td.active:last-of-type {
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
    }

    th {
      font-weight: 500;
    }

    td:first-of-type,
    th:first-of-type {
      padding: 5px 10px;
    }
  }

  .table-sm {
    td,
    th {
      padding: 3px 10px;
    }
  }

  .table-xs {
    td,
    th {
      padding: 3px 10px;
      font-size: 13px;
    }
  }
}
