<app-white-block>
  <div class="players-list-generic-container" fxLayoutAlign="center center">
    <table
      class="table"
      ngClass.lt-md="table-sm"
      ngClass.lt-sm="table-xs"
      matSort
      [matSortStart]="config.defaultSortDirection"
      [matSortActive]="config.defaultSortFieldName"
      matSortDisableClear
      matSortDirection="desc"
      (matSortChange)="onSortChange($event)"
    >
      <thead>
        <tr>
          <th mat-sort-header="teamShort" [disabled]="!config.sortByTeamEnabled">team</th>
          <th mat-sort-header="playerName" [disabled]="!config.sortByPlayerEnabled">player</th>
          <th
            *ngFor="let column of data.columns | orderBy: 'order'"
            [fxHide.lt-sm]="column.hideOnMobile"
            [mat-sort-header]="column.fieldName"
            [ngClass]="{ active: column.fieldName === config.defaultSortFieldName }"
          >
            {{ column.displayName }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of data.rows | orderBy: 'order'" class="player" ngClass.lt-sm="player-mobile">
          <td>
            <app-team-logo [team]="row.teamShort" [height]="30"></app-team-logo>
          </td>
          <td class="player-name">
            <app-player-name-link [name]="row.playerName" [id]="row.playerId"></app-player-name-link>
          </td>
          <td
            [fxHide.lt-sm]="other.hideOnMobile"
            [ngClass]="{ active: other.key === config.defaultSortFieldName }"
            *ngFor="let other of row.otherValues | orderBy: 'order'"
          >
            {{ other.value }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</app-white-block>

<ng-template #playerInfo let-title="title" let-value="value">
  <div fxLayout="column" class="player-info" fxLayoutAlign="center center">
    <span class="player-info-title">{{ title }}</span>
    <span>{{ value }}</span>
  </div>
</ng-template>
