@import '/src/variables.scss';

.players-list-generic-container {
  .table {
    font-size: 12px;
    border-collapse: collapse;

    tr:nth-child(even) {
      background-color: rgba($color: $colorBlue, $alpha: 0.06);
    }

    tbody tr:hover {
      background-color: rgba($color: $colorBlue, $alpha: 0.2);
    }

    td,
    th {
      padding: 3px 20px;
    }

    th.active,
    td.active {
      background-color: rgba($color: #000, $alpha: 0.05);
    }

    th {
      font-weight: 500;
    }

    td:first-of-type,
    th:first-of-type {
      padding: 5px 10px;
    }
  }

  .table-sm {
    td,
    th {
      padding: 3px 10px;
    }
  }

  .table-xs {
    td,
    th {
      padding: 3px 10px;
      font-size: 11px;
    }
  }
}
