<app-white-block padding="10px 10px">
  <div class="players-list-generic-container" fxLayoutAlign="center center">
    <table
      class="table"
      ngClass.lt-md="table-sm"
      ngClass.lt-sm="table-xs"
      matSort
      [matSortStart]="config.defaultSortDirection"
      [matSortActive]="config.defaultSortFieldName"
      matSortDisableClear
      matSortDirection="desc"
      (matSortChange)="onSortChange($event)"
    >
      <thead>
        <tr>
          <th mat-sort-header="playerName" [disabled]="!config.sortByPlayerEnabled">Player</th>
          <th>Pos</th>
          <th fxHide.xs>$</th>
          <th fxHide.md fxHide.xs>%</th>
          <th>TP</th>
          <th
            *ngFor="let column of data.columns | orderBy: 'order'"
            [fxHide.lt-md]="
              ['lg', 'md'].includes(config.hideNotActiveBreakPoint) && column.fieldName !== config.defaultSortFieldName
            "
            [fxHide.lt-lg]="config.hideNotActiveBreakPoint === 'lg' && column.fieldName !== config.defaultSortFieldName"
            [mat-sort-header]="column.fieldName"
            [ngClass]="{ active: column.fieldName === config.defaultSortFieldName }"
          >
            {{ column.displayName }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of data.rows | orderBy: 'order'" class="player" ngClass.lt-sm="player-mobile">
          <td class="player-name">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="3px">
              <app-team-logo [team]="row.teamShort" appScale="0.8"></app-team-logo>
              <app-player-name-link fxHide.lt-lg [name]="row.playerName" [id]="row.playerId"></app-player-name-link>
              <app-player-name-link
                fxHide.gt-md
                [name]="row.playerNameShort"
                [id]="row.playerId"
              ></app-player-name-link>
            </div>
          </td>
          <td>{{ row.position | uppercase }}</td>
          <td fxHide.xs>{{ row.price }}M</td>
          <td fxHide.md fxHide.xs>{{ row.popularity }}</td>
          <td>{{ row.totalPoints }}</td>
          <td
            [fxHide.lt-md]="
              ['md', 'lg'].includes(config.hideNotActiveBreakPoint) && other.key !== config.defaultSortFieldName
            "
            [fxHide.lt-lg]="config.hideNotActiveBreakPoint === 'lg' && other.key !== config.defaultSortFieldName"
            [ngClass]="{ active: other.key === config.defaultSortFieldName }"
            *ngFor="let other of row.otherValues | orderBy: 'order'"
          >
            {{ other.value }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</app-white-block>
