<div class="players-display-container">
  <div *ngIf="(screen$ | async) > screens.SM" fxLayoutAlign="space-between center">
    <app-players-view-switch></app-players-view-switch>
    <app-players-search [key]="key" fxFlex="40"></app-players-search>
    <mat-paginator showFirstLastButton [pageSizeOptions]="[10, 15, 20]"></mat-paginator>
  </div>

  <div *ngIf="(screen$ | async) === screens.SM" fxLayout="column" fxLayoutAlign="start cetner">
    <div fxLayoutAlign="start center" fxLayoutGap="40px">
      <app-players-view-switch></app-players-view-switch>
      <app-players-search [key]="key" fxFlex="50"></app-players-search>
    </div>

    <mat-paginator showFirstLastButton [pageSizeOptions]="[10, 15, 20]"></mat-paginator>
  </div>

  <div *ngIf="(screen$ | async) < screens.SM" fxLayout="column" fxLayoutAlign="start" fxLayoutGap="20px">
    <app-players-view-switch></app-players-view-switch>
    <app-players-search [key]="key"></app-players-search>
    <mat-paginator showFirstLastButton [pageSizeOptions]="[10, 15, 20]"></mat-paginator>
  </div>
</div>
