<div class="players-display-container">
  <div fxLayout="row wrap" fxLayoutAlign="space-between center">
    <app-players-search [key]="key"></app-players-search>
    <app-sort-by
      *ngIf="sortBy && sortItems"
      [defaultValue]="sortBy"
      [items]="sortItems"
      (sortByChange)="onSortChange($event)"
    ></app-sort-by>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
      <app-players-view-switch *ngIf="!(isMobile$ | async)"></app-players-view-switch>
      <mat-paginator showFirstLastButton [pageSizeOptions]="[10, 15, 20, 50]"></mat-paginator>
    </div>
  </div>
</div>
