table {
  margin-top: 10px;

  tr {
    td {
      vertical-align: top;
    }

    td:first-child {
      text-align: center;
      font-weight: 500;
    }

    td:last-child {
      text-align: start;
      margin-left: 10px;
    }
  }

  tr:not(:first-child) {
    td {
      padding-bottom: 10px;
    }
  }
}
