<div class="switch-container" fxShow.gt-xs [fxHide.xs]="showSelectOnMobile">
  <div class="switch">
    <mat-button-toggle-group [value]="value" [name]="name">
      <mat-button-toggle
        *ngFor="let item of allItems"
        [disableRipple]="1"
        class="item"
        [ngClass]="{ 'item-active': value === item.value, 'item-narrow': narrow }"
        [value]="item.value"
        (change)="onChange(item.value)"
      >
        <span fxHide.lt-sm *ngIf="!!item.description">
          {{ item.description }}
        </span>
        <span fxHide.gt-xs *ngIf="!!item.descriptionMobile || !!item.description">
          {{ !!item.descriptionMobile ? item.descriptionMobile : item.description }}
        </span>
        <mat-icon [ngClass]="{ 'material-icons-outlined': item.isMatIconOutline }" *ngIf="!!item.matIcon">{{
          item.matIcon
        }}</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>

<mat-form-field [fxShow.xs]="showSelectOnMobile" fxHide.gt-xs>
  <mat-label>{{ selectLabel }}</mat-label>
  <mat-select [ngModel]="value" (selectionChange)="onChange($event.value)">
    <mat-option *ngFor="let item of items" [value]="item.value">
      {{ item.description }}
    </mat-option>
  </mat-select>
</mat-form-field>
