<div class="switch-container sm:block" [ngClass]="{ hidden: showSelectOnMobile }">
  <div class="switch">
    <mat-button-toggle-group [value]="value" [name]="name">
      <mat-button-toggle
        *ngFor="let item of allItems"
        [disableRipple]="1"
        class="item"
        [ngClass]="{ 'item-active': value === item.value, 'item-narrow': narrow }"
        [value]="item.value"
        (change)="onChange(item.value)"
      >
        <span class="hidden sm:block" *ngIf="!!item.description">
          {{ item.description }}
        </span>
        <span class="block sm:hidden" *ngIf="!!item.descriptionMobile || !!item.description">
          {{ !!item.descriptionMobile ? item.descriptionMobile : item.description }}
        </span>
        <mat-icon [ngClass]="{ 'material-icons-outlined': item.isMatIconOutline }" *ngIf="!!item.matIcon">{{
          item.matIcon
        }}</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>

<div class="sm:hidden" [ngClass]="{ block: showSelectOnMobile, hidden: !showSelectOnMobile }">
  <mat-form-field class="material-original">
    <mat-label>{{ selectLabel }}</mat-label>
    <mat-select [ngModel]="value" (selectionChange)="onChange($event.value)">
      <mat-option *ngFor="let item of items" [value]="item.value">
        {{ item.description }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
