<div class="flex flex-col">
  <app-home-title [properties]="properties$ | async"></app-home-title>
  <div class="w-full text-center">
    <app-ad-banner slot="horizontal"></app-ad-banner>
  </div>
  <div class="flex-row-wrap">
    <app-home-bundesliga
      class="flex-1 xl:flex-[1_1_33%] xl:max-w-[33%]"
      [lastMatchday]="properties$ | async | field : 'lastMatchday'"
      [nextMatchdayFixtures]="nextMatchdayFixtures$ | async"
      [teams]="teams$ | async"
    ></app-home-bundesliga>

    <div class="flex-row-wrap flex-1 xl:flex-[1_1_67%] xl:max-w-[67%]">
      <app-home-top-players
        [players]="players$ | async"
        class="flex-1 xl:flex-[1_1_50%] xl:max-w-[50%]"
      ></app-home-top-players>

      <app-home-top-players-last4
        [players]="players$ | async"
        class="flex-1 xl:flex-[1_1_50%] xl:max-w-[50%]"
      ></app-home-top-players-last4>

      <app-home-popular-players-top500
        [players]="players$ | async"
        class="flex-1 xl:flex-[1_1_50%] xl:max-w-[50%]"
      ></app-home-popular-players-top500>

      <app-home-popular-players-top100
        [players]="players$ | async"
        class="flex-1 xl:flex-[1_1_50%] xl:max-w-[50%]"
      ></app-home-popular-players-top100>
    </div>

    <app-home-players-watchout class="flex-1 min-w-full" [players]="players$ | async"></app-home-players-watchout>

    <div class="w-full text-center">
      <app-ad-banner slot="horizontal2"></app-ad-banner>
    </div>

    <app-home-players-goals-assists
      class="flex-1 xl:flex-[1_1_33%] xl:max-w-[33%]"
      [players]="players$ | async"
    ></app-home-players-goals-assists>

    <app-home-players-passes-shots-duels
      class="flex-1 xl:flex-[1_1_67%] xl:max-w-[67%]"
      [players]="players$ | async"
    ></app-home-players-passes-shots-duels>

    <div class="w-full text-center">
      <app-ad-banner slot="horizontal2"></app-ad-banner>
    </div>

    <div class="flex-row-wrap flex-1 xl:flex-[1_1_67%] xl:max-w-[67%]">
      <app-home-top-players-home
        class="flex-1 xl:flex-[1_1_50%] xl:max-w-[50%]"
        [players]="players$ | async"
      ></app-home-top-players-home>

      <app-home-top-players-away
        class="flex-1 xl:flex-[1_1_50%] xl:max-w-[50%]"
        [players]="players$ | async"
      ></app-home-top-players-away>
    </div>

    <app-home-top-players-efficiency10
      class="flex-1 xl:flex-[1_1_33%] xl:max-w-[33%]"
      [players]="players$ | async"
    ></app-home-top-players-efficiency10>

    <app-home-players-games-started
      class="flex-1 xl:flex-[1_1_50%] xl:max-w-[50%]"
      [players]="players$ | async"
    ></app-home-players-games-started>

    <div class="w-full text-center">
      <app-ad-banner slot="horizontal"></app-ad-banner>
    </div>

    <app-home-players-varied-predictions
      class="flex-[1_1_100%] xl:flex-[1_1_50%] xl:max-w-[50%]"
      [players]="players$ | async"
    ></app-home-players-varied-predictions>
  </div>
</div>
