<div class="sort-by-container" fxLayoutAlign="start center" fxLayoutGap="10px">
  <span class="bold">{{ label }}</span>
  <mat-button-toggle-group name="orderBy">
    <mat-button-toggle
      [disableRipple]="true"
      (click)="menuTrigger.menuOpen ? menuTrigger.closeMenu() : menuTrigger.openMenu(); $event.stopPropagation()"
    >
      <button
        type="button"
        mat-button
        [matMenuTriggerFor]="sortByMenu"
        #menuTrigger="matMenuTrigger"
        (click)="$event.stopPropagation()"
      >
        {{ selectedItem.text }}
      </button>
      <mat-menu #sortByMenu="matMenu">
        <button type="button" mat-menu-item *ngFor="let item of items" (click)="onSortByChange(item)">
          {{ item.text }}
        </button>
      </mat-menu>
    </mat-button-toggle>
    <mat-button-toggle (click)="onToggleDirectionChange()">
      <fa-icon *ngIf="direction === 'desc'" [icon]="['fas', 'sort-amount-down-alt']" size="lg"></fa-icon>
      <fa-icon *ngIf="direction === 'asc'" [icon]="['fas', 'sort-amount-up-alt']" size="lg"></fa-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>
