<a
  class="flex-row-start-center gap-x-1 border-solid border-b border-slate-500"
  [routerLink]="['/teams', 'bundesliga', 'fixtures', matchday, homeTeamShort, awayTeamShort]"
>
  <app-team-logo [height]="logoHeight" [team]="isHome ? awayTeamShort : homeTeamShort"></app-team-logo>
  <div *ngIf="showVenue" class="grey font-small">
    <span *ngIf="isHome">(h)</span>
    <span *ngIf="!isHome">(a)</span>
  </div>
  <span *ngIf="showRank">{{ rank | numerals }}</span>
  <span *ngIf="showFirstGame">
    <app-matchday-first-game-icon *ngIf="isFirstGame"></app-matchday-first-game-icon>
  </span>
</a>
