<div class="chart-container" fxLayout="column" fxLayoutAlign="center center">
  <div fxLayoutGap="5px" class="chart-link" (click)="onShowMoreClick()">
    <span fxFlexAlign="center" *ngIf="config.title" class="chart-title">{{ config.title }}</span>
    <fa-icon class="pointer" *ngIf="showDialog" [icon]="['fas', 'external-link-alt']"></fa-icon>
  </div>
  <ng-template [ngTemplateOutlet]="chart"></ng-template>
</div>

<ng-template #chart>
  <ngx-charts-line-chart
    [results]="config.data"
    [showXAxisLabel]="showLabels"
    [showYAxisLabel]="showLabels"
    [xAxis]="true"
    [yAxis]="true"
    [xAxisLabel]="config.xAxisLabel"
    [yAxisLabel]="config.yAxisLabel"
    [roundDomains]="roundDomains"
    [autoScale]="autoScale"
    [yAxisTicks]="yAxisTicks"
    [yScaleMin]="config.yScaleMin"
    [yScaleMax]="config.yScaleMax"
    [legend]="showLegend"
    [legendPosition]="config.legendPosition"
    [view]="dimension"
    [animations]="animations"
    [scheme]="colors"
  ></ngx-charts-line-chart>
</ng-template>
