<div
  class="dropdown flex flex-row justify-between items-center"
  (click)="toggle()"
  cdkOverlayOrigin
  #trigger="cdkOverlayOrigin"
>
  <span class="dropdown-title">{{ title }}</span>
  <mat-icon *ngIf="!opened" class="dropdown-icon">arrow_drop_down</mat-icon>
  <mat-icon *ngIf="opened" class="dropdown-icon">arrow_drop_up</mat-icon>
</div>
<!-- <button (click)="isOpen = !isOpen" type="button" >
  {{ isOpen ? 'Close' : 'Open' }}
</button> -->

<!-- This template displays the overlay content and is connected to the button -->
<ng-template
  cdkConnectedOverlay
  cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="opened"
  (backdropClick)="close()"
  [cdkConnectedOverlayHasBackdrop]="true"
  (detach)="close()"
>
  <div class="dropdown-content">
    <ng-content></ng-content>
  </div>
</ng-template>
