<div ngClass.lt-sm="my-team-tile-order-mobile">
  <button mat-button [matMenuTriggerFor]="options">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #options="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="tiles">Tiles</button>
    <button mat-menu-item [matMenuTriggerFor]="players">Players</button>

    <mat-menu #tiles="matMenu">
      <button mat-menu-item fxLayoutGap="8px" fxLayoutAlign="start center" (click)="onShowTilesToggled()">
        <mat-icon>{{ (displayed$ | async) ? 'visibility_off' : 'visibility' }}</mat-icon>
        <span>{{ (displayed$ | async) ? 'Hide' : 'Show' }}</span>
      </button>
      <button mat-menu-item [disabled]="!(displayed$ | async)" [matMenuTriggerFor]="tileOrderByMenu">Tile order</button>
    </mat-menu>

    <mat-menu #tileOrderByMenu="matMenu" yPosition="below">
      <button
        [ngClass]="{ active: (currentOrder$ | async) === 'teamShort' }"
        mat-menu-item
        fxLayoutGap="8px"
        fxLayoutAlign="start center"
        (click)="onOrderChanged('teamShort')"
      >
        <mat-icon>groups</mat-icon>
        <span>Team</span>
      </button>
      <button
        [ngClass]="{ active: (currentOrder$ | async) === 'price' }"
        mat-menu-item
        fxLayoutGap="8px"
        fxLayoutAlign="start center"
        (click)="onOrderChanged('price')"
      >
        <mat-icon>north</mat-icon>
        <span>Price: from low</span>
      </button>
      <button
        [ngClass]="{ active: (currentOrder$ | async) === '-price' }"
        mat-menu-item
        fxLayoutGap="8px"
        fxLayoutAlign="start center"
        (click)="onOrderChanged('-price')"
      >
        <mat-icon>south</mat-icon>
        <span>Price: from high</span>
      </button>
    </mat-menu>

    <mat-menu #players="matMenu">
      <button mat-menu-item fxLayoutGap="8px" fxLayoutAlign="start center" (click)="onClearMyTeam()">
        <mat-icon>clear</mat-icon>
        <span>Clear my team</span>
      </button>
    </mat-menu>
  </mat-menu>
</div>
