<div>
  <app-input-number
    [min]="1"
    [max]="18"
    [label]="'Select top '"
    [(value)]="count"
    [buttonsPosition]="'right'"
  ></app-input-number>
  <mat-list>
    <mat-list-item (click)="selectSmartSelection(SmartSelections.Rank)" class="hvr-grow-shadow">
      <mat-icon class="red">exit_to_app</mat-icon>
      <span fxHide.lt-sm>Best table rank</span>
      <span fxHide.gt-xs>Table rank</span>
    </mat-list-item>
    <mat-list-item (click)="selectSmartSelection(SmartSelections.Last3Games)" class="hvr-grow-shadow"
      ><mat-icon class="red">exit_to_app</mat-icon>
      <span fxHide.lt-sm>Best form in last 3 games</span>
      <span fxHide.gt-xs>Form in last 3 games</span>
    </mat-list-item>
    <mat-list-item (click)="selectSmartSelection(SmartSelections.Last5Games)" class="hvr-grow-shadow"
      ><mat-icon class="red">exit_to_app</mat-icon> <span fxHide.lt-sm>Best form in last 5 games</span>
      <span fxHide.gt-xs>Form in last 5 games</span>
    </mat-list-item>
    <mat-list-item (click)="selectSmartSelection(SmartSelections.Gspg)" class="hvr-grow-shadow"
      ><mat-icon class="red">exit_to_app</mat-icon> <span fxHide.lt-sm>Most goals scored per game</span>
      <span fxHide.gt-xs>Golas scored per game</span>
    </mat-list-item>
    <mat-list-item (click)="selectSmartSelection(SmartSelections.Gcpg)" class="hvr-grow-shadow"
      ><mat-icon class="red">exit_to_app</mat-icon>
      <span fxHide.lt-sm>Least goals conceded per game</span>
      <span fxHide.gt-xs>Golas conceded per game</span>
    </mat-list-item>
  </mat-list>
</div>
