<div class="flex flex-col gap-y-3">
  <app-view-title>
    <div subtitle class="flex flex-col gap-y-1.5">
      <div class="flex-row-center-center gap-x-1">
        <app-player-icon-suspension-risk></app-player-icon-suspension-risk>
        <span>Players in suspension risk</span>
      </div>
      <div>
        <div class="small-mobile flex flex-row justify-end gap-x-1">
          <span>Source:</span><a class="blue" [href]="source" target="blank">Transfermarkt.de</a>
        </div>
      </div>
    </div>
  </app-view-title>
  <app-white-block *ngIf="players$ | async" padding="10px 10px">
    <app-players-list-base [players]="players$ | async"></app-players-list-base>
  </app-white-block>
</div>
