@import '/src/variables.scss';

.our-picks-filter-types-container {
  .icon-container {
    padding: 5px 0;
  }

  .active {
    background-color: $colorBlue;
    color: #fff;
  }

  .normal {
    background-color: #fff;
  }
}
