.first-game {
  font-weight: 600;
  border: 2px solid green;
  border-radius: 50%;
  display: inline !important;
  font-size: 11px;
  padding: 2px 5px;
}

.first-game-smaller {
  font-size: 10px;
  padding: 0px 3px;
}
