.game-result {
  padding: 2px 0;
  color: #fff;
  font-weight: normal;

  display: inline-flex;
  justify-content: center;

  &-dot {
    border-radius: 50%;
    width: 16px;
    height: 14px;

    &-small {
      width: 13px;
      height: 10px;
    }

    &-supersmall {
      width: 10px;
      height: 6px;
    }
  }

  &-green {
    background-color: green;
  }

  &-red {
    background-color: rgba(217, 30, 24, 1);
  }

  &-orange {
    background-color: orange;
  }
}
