<mat-card *ngIf="showInMatCard">
  <ng-template [ngTemplateOutlet]="contentWithTitle"></ng-template>
</mat-card>

<div *ngIf="!showInMatCard">
  <ng-template [ngTemplateOutlet]="contentWithTitle"></ng-template>
</div>

<ng-template #contentWithTitle>
  <div fxLayout="column" *ngIf="titleUnderlined === 'red'">
    <app-title-underlined padding="0 10px" *ngIf="!!title">
      <h3>{{ title }}</h3>
    </app-title-underlined>
    <ng-template [ngTemplateOutlet]="content"></ng-template>
  </div>

  <div *ngIf="titleUnderlined === 'grey'">
    <app-title-underlined-grey *ngIf="!!title">
      <span title>{{ title }}</span>
      <ng-template content [ngTemplateOutlet]="content"></ng-template>
    </app-title-underlined-grey>
  </div>
</ng-template>

<ng-template #content>
  <div class="text-value-card-content" fxLayoutGap="5px">
    <div fxLayoutAlign="start">
      <table class="text-value-table" *ngIf="!!items && items.length > 0">
        <tr
          *ngFor="let item of items"
          fxLayout="row"
          fxLayoutAlign="space-between center"
          [ngClass]="{ bold: item.bold, 'bottom-border': showBottomBorder }"
        >
          <td>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
              <app-team-logo *ngIf="!!item.teamShort" [height]="20" [team]="item.teamShort"></app-team-logo>
              <app-player-name-link *ngIf="item.linkId" [name]="item.text" [id]="item.linkId"></app-player-name-link>
              <span *ngIf="!item.linkId" [ngStyle]="item.textStyle">{{ item.text }}</span>
            </div>
          </td>
          <td>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
              <span [ngStyle]="item.valueStyle">{{ item.value }}</span>
              <app-value-difference
                class="item-diff"
                *ngIf="item.change != null"
                [value]="item.change"
              ></app-value-difference>
            </div>
          </td>
        </tr>
      </table>
      <table class="text-value-table" *ngIf="!items || items.length === 0">
        <tr>
          <td>Not applicable</td>
        </tr>
      </table>
    </div>
    <span
      *ngIf="showMoreButton && items.length > 0"
      fxLayoutAlign="flex-end center"
      class="more-button hvr-icon-forward red bold pointer"
      (click)="onShowMoreClick()"
    >
      Show all
      <mat-icon class="hvr-icon">keyboard_arrow_right</mat-icon>
    </span>
  </div>
</ng-template>
