<mat-card *ngIf="showInMatCard">
  <ng-template [ngTemplateOutlet]="content"></ng-template>
</mat-card>

<div *ngIf="!showInMatCard">
  <ng-template [ngTemplateOutlet]="content"></ng-template>
</div>

<ng-template #content>
  <div fxLayout="column">
    <app-title-underlined padding="0 10px" *ngIf="!!title">
      <h3>{{ title }}</h3>
    </app-title-underlined>
    <div class="text-value-card-content" fxLayoutGap="5px">
      <div fxLayoutAlign="start">
        <table class="text-value-table" *ngIf="!!items && items.length > 0">
          <tr
            *ngFor="let item of items"
            fxLayout="row"
            fxLayoutAlign="space-between center"
            [ngClass]="{ bold: item.bold, 'bottom-border': showBottomBorder }"
          >
            <td>
              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                <app-team-logo *ngIf="!!item.teamShort" [height]="25" [team]="item.teamShort"></app-team-logo>
                <app-player-name-link *ngIf="item.linkId" [name]="item.text" [id]="item.linkId"></app-player-name-link>
                <span *ngIf="!item.linkId" [ngStyle]="item.style">{{ item.text }}</span>
              </div>
            </td>
            <td>
              <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
                <span>{{ item.value }}</span>
                <span class="item-difference" *ngIf="item.change != null">
                  <span *ngIf="item.change > 0"
                    ><fa-icon class="item-difference-icon green" [icon]="['fas', 'arrow-up']"></fa-icon>+{{
                      item.change
                    }}</span
                  >
                  <span *ngIf="item.change < 0">
                    <fa-icon class="item-difference-icon red" [icon]="['fas', 'arrow-down']"></fa-icon>{{ item.change }}
                  </span>

                  <fa-icon
                    class="item-difference-icon blue"
                    *ngIf="item.change == 0"
                    [icon]="['fas', 'equals']"
                  ></fa-icon>
                </span>
              </div>
            </td>
          </tr>
        </table>
        <table class="text-value-table" *ngIf="!items || items.length === 0">
          <tr>
            <td>Not applicable</td>
          </tr>
        </table>
      </div>
      <span
        *ngIf="showMoreButton"
        fxLayoutAlign="flex-end center"
        class="more-button hvr-icon-forward red bold pointer"
        (click)="onShowMoreClick()"
      >
        Show all
        <mat-icon class="hvr-icon">keyboard_arrow_right</mat-icon>
      </span>
    </div>
  </div>
</ng-template>
