<app-white-block [noPadding]="true">
  <div class="title flex-row-space-between" [ngClass]="{ scroll: !showSubrow }">
    <button mat-icon-button class="back-button" (click)="onGoBackClick()">
      <mat-icon>arrow_back</mat-icon>
    </button>

    <div class="flex-1 flex-row-center-center gap-x-6">
      <div class="flex-row-start-center gap-x-2.5">
        <app-team-logo class="hidden sm:block" [height]="30" [team]="player.team.shortName"></app-team-logo>
        <h2 class="hidden sm:block">{{ player.name }}</h2>
        <h3 class="block sm:hidden">{{ player.name }}</h3>
      </div>
      <div class="flex-row-start-center gap-x-2.5">
        <h3 class="hidden sm:block">{{ player.position | uppercase }}</h3>
        <h4 class="block sm:hidden">{{ player.position | uppercase }}</h4>
        <mat-chip-set>
          <mat-chip>{{ player.fantasy.price }}M</mat-chip>
        </mat-chip-set>
      </div>
    </div>
  </div>
</app-white-block>
