<div
  *ngIf="!!players && players.length > 0"
  class="our-picks-players-container"
  fxLayout.gt-xs="row wrap"
  fxLayout.xs="column"
  fxLayoutGap.xs="20px"
  fxLayoutAlign="center center"
  fxLayoutGap.gt-xs="30px grid"
>
  <div *ngFor="let player of players | orderBy: 'order'">
    <app-our-picks-player [player]="player"></app-our-picks-player>
  </div>
</div>

<div *ngIf="!players || players.length === 0" fxLayoutAlign="center center">
  <span>No players matching filters criteria.</span>
</div>
