<div class="matchdays-container">
  <article class="matchday" *ngFor="let matchday of matchdays$ | async">
    <div class="matchday-number" ngClass.lt-md="matchday-number-lt-md">
      {{ matchday.matchday }}
    </div>
    <div class="matchday-content" ngClass.sm="matchday-content-sm" ngClass.xs="matchday-content-xs">
      <div>
        <h3 ngClass.lt-sm="matchday-info-xs">Matchday {{ matchday.matchday }}</h3>
        <div fxLayout="column">
          <span class="date">{{ matchday.date | epochDate | date: 'EEEE' }}</span>
          <span class="date">{{ matchday.date | epochDate | date: 'dd.MM.yyyy' }}</span>
          <span class="date">{{ matchday.date | epochDate | date: 'HH:mm' }}</span>
        </div>
      </div>

      <div class="games-container" fxLayout="column" fxLayoutGap="10px">
        <div *ngFor="let game of matchday.fixtures" class="game">
          <div class="game-home" fxLayout="row" fxLayoutAlign="flex-end center" fxLayoutGap="7px">
            <span fxHide.lt-md>{{ game.homeLong }}</span>
            <span fxHide.gt-sm fxHide.lt-sm>{{ game.homeShort | uppercase }}</span>
            <app-team-logo [scaleOnMobile]="false" [team]="game.homeShort" [height]="35"></app-team-logo>
          </div>

          <div fxLayoutAlign="center center">
            <b>:</b>
          </div>

          <div class="game-away" fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="7px">
            <app-team-logo [team]="game.awayShort" [scaleOnMobile]="false" [height]="35"></app-team-logo>
            <span fxHide.lt-md>{{ game.awayLong }}</span>
            <span fxHide.gt-sm fxHide.lt-sm>{{ game.awayShort | uppercase }}</span>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>
