.first-games-by-matchday-container {
  .matchday {
    margin-bottom: 20px;

    .card-content {
      margin-top: 10px;

      .date {
        font-size: 13px;
        font-weight: 500;
      }
    }
  }
}
