<div
  fxLayoutAlign="space-between"
  [ngClass]="{ scroll: !isScroll }"
  class="predicted-lineups-team-navigation-container sticky"
>
  <div class="home-link">
    <a routerLink="/teams/lineups" class="team-link" routerLinkActive="home-link-active">
      <mat-icon class="home-link-icon">info</mat-icon>
    </a>
  </div>
  <div fxFlex="center" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="7px">
    <div *ngFor="let team of teams | orderBy: 'order'" class="team-link-container" fxLayoutAlign="center center">
      <a
        routerLinkActive="team-link-active"
        class="team-link"
        ngClass.sm="team-link-sm"
        [routerLink]="['../' + team.teamShort]"
      >
        <app-team-logo [height]="30" [team]="team.teamShort"></app-team-logo>
      </a>
    </div>
  </div>
</div>
