<app-view [links]="links">
  <div class="links-container">
    <section class="section our-social" fxLayout="column">
      <h2>
        <span>Our Social Media:</span>
        <a class="social-media" href="https://www.facebook.com/Fantasybl-stats-108481224674753" target="blank">
          <fa-icon class="social-media-icon" [icon]="['fab', 'facebook-f']"></fa-icon>
        </a>
        <a class="social-media" href="https://twitter.com/FantasyblS" target="blank">
          <fa-icon class="social-media-icon" [icon]="['fab', 'twitter']"></fa-icon>
        </a>
      </h2>

      <span
        >Get the latest updates regarding our site and all useful Fantasy Bundesliga info like statistics, tips or
        interesting picks.</span
      >
    </section>

    <section class="section" fxLayout="column">
      <h2>
        <a target="_blank" href="https://fantasytipsters.com/category/fantasy-football/bundesliga-fantasy/">
          Fantasy Tipsters
        </a>
      </h2>
      <span>
        Fantastic website created by a growing group of Fantasy Football enthusiasts who aim to bring high-quality
        content about Fantasy Football to help you achieve higher ranks.
      </span>
    </section>

    <section class="section" fxLayout="column">
      <h2>
        <a href="https://twitter.com/DNLFantasy" target="_blank"> DNL Fantasy </a>
      </h2>
      <span
        >A must follow twitter account for any Fantasy Bundesliga player. They just don't miss any Bundesliga news.
        Additionally they provide many useful Fantasy Bundesliga related stuff.</span
      >
    </section>

    <section class="section" fxLayout="column">
      <h2>
        <a target="_blank" href="https://bulinews.com"> Bulinews.com </a>
      </h2>
      <span>
        Bulinews.com is devoted to publishing news in English about German football. It is one of the few sites solely
        dedicated to covering the German Bundesliga and German football in English. Content includes news articles,
        analyses, match reports, top lists, player profiles etc.</span
      >
    </section>

    <section class="section" fxLayout="column">
      <h2>Our predicted lineups sources</h2>
      <div fxLayout="row" fxLayoutAlign="space-evenly center">
        <a href="https://www.kicker.de/" target="_blank">Kicker.de</a>
        <a href="https://www.bundesliga.com/de/bundesliga/" target="_blank">Bundesliga.de</a>
        <a href="https://www.ligainsider.de/" target="_blank">LigaInsider.de</a>
      </div>
    </section>
  </div>
</app-view>
