<app-white-block padding="10px 20px 0 20px">
  <div fxLayout="column">
    <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="40px">
      <app-players-filter-position class="filter"></app-players-filter-position>
      <app-players-filter-matchdays class="filter"></app-players-filter-matchdays>
      <app-players-filter-teams class="filter"></app-players-filter-teams>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="40px">
      <app-players-filter-max-price class="filter"></app-players-filter-max-price>
      <app-players-filter-popularity class="filter"></app-players-filter-popularity>
    </div>
  </div>
</app-white-block>

<!-- <div>
  <app-expansion-panel *ngIf="isMobile$ | async" [opened]="false">
    <div header fxLayoutAlign="space-between">
      <span>Filters</span>
    </div>
    <div content fxLayoutGap="10px" fxLayout="column" fxLayoutAlign="start stretch">
      <app-players-filter-position></app-players-filter-position>
      <app-players-filter-matchdays></app-players-filter-matchdays>
      <app-players-filter-max-price></app-players-filter-max-price>
      <app-players-filter-popularity></app-players-filter-popularity>
      <app-players-filter-teams></app-players-filter-teams>
    </div>
  </app-expansion-panel>
</div> -->
