<app-white-block padding="20px 10px 10px 20px">
  <div class="grid">
    <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
      <app-players-filter-position class="filter"></app-players-filter-position>
      <app-players-filter-max-price class="filter"></app-players-filter-max-price>
    </div>
    <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
      <app-players-filter-teams class="filter"></app-players-filter-teams>
      <app-players-filter-popularity class="filter"></app-players-filter-popularity>
    </div>
    <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="10px">
      <app-players-filter-matchdays class="filter"></app-players-filter-matchdays>
      <app-players-filter-prediction class="filter"></app-players-filter-prediction>
    </div>
    <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
      <app-players-filter-hide-unavailable class="filter"></app-players-filter-hide-unavailable>
    </div>
  </div>
</app-white-block>
