<div class="player" ngClass.lt-md="player-mobile" fxLayout="column">
  <div class="pointer" (click)="onShowPlayerDetails()">
    <div *ngIf="isMobile$ | async" fxLayout="row" fxLayoutGap="10px" fxFill>
      <app-team-logo [team]="player.teamShort" [height]="30"></app-team-logo>
      <div fxLayout="column" fxLayoutGap="5px">
        <app-player-tile-name [player]="player"></app-player-tile-name>
        <app-player-tile-fantasy-data [player]="player"></app-player-tile-fantasy-data>
        <app-player-tile-next-game [player]="player"></app-player-tile-next-game>
      </div>
      <app-player-tile-fantasy-points [player]="player" fxFlex fxFlexAlign="center"></app-player-tile-fantasy-points>
    </div>

    <div *ngIf="!(isMobile$ | async)" fxLayout="row" fxLayoutAlign="start center">
      <div fxLayout="row" fxLayoutGap="10px" fxFlex="55">
        <app-team-logo [team]="player.teamShort" [height]="30"></app-team-logo>
        <div fxLayout="column" fxLayoutGap="10px">
          <app-player-tile-name [player]="player"></app-player-tile-name>
          <app-player-tile-fantasy-data [player]="player"></app-player-tile-fantasy-data>
        </div>
      </div>

      <app-player-tile-next-game fxFlex="25" [player]="player"></app-player-tile-next-game>
      <app-player-tile-fantasy-points fxFlex [player]="player"></app-player-tile-fantasy-points>
    </div>
  </div>

  <div [@detailExpanded] *ngIf="expanded$ | async">
    <app-player-details [player]="player"></app-player-details>
  </div>

  <app-toggle-expand
    class="expand"
    [expanded]="expanded$ | async"
    (toggleExpand)="onShowPlayerDetails()"
  ></app-toggle-expand>
</div>
