.tile {
  &-header {
    &-text {
      font-size: 17px;
      font-weight: 500;
      border-bottom: 1px solid #c80a00;
      padding-bottom: 4px;
      display: flex;
      justify-content: center;
    }
  }

  .player {
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 3px;
  }

  .player:hover {
    background-color: rgba($color: #000000, $alpha: 0.05);
  }

  .total {
    span {
      font-size: 16px;
      font-weight: 500;
    }
  }
}
