<app-title-underlined-grey class="tile-container">
  <span title>{{ title }}</span>
  <table class="comparison-table" content>
    <tbody>
      <tr>
        <td></td>
        <td></td>
      </tr>
      <tr *ngIf="!players || players.length == 0">
        <td class="noplayers" colspan="4">No players added</td>
      </tr>
      <tr *ngFor="let player of players | orderBy: (orderBy$ | async)">
        <td>
          <div fxLayoutGap="5px" fxLayoutAlign="start center">
            <app-team-logo [team]="player.teamShort" [height]="20"></app-team-logo>
            <span>{{ player.name }}</span>
          </div>
        </td>
        <td class="price">{{ player.price }}M</td>
        <td class="button">
          <button mat-icon-button class="red" (click)="onPlayerRemove(player.id)" appScale="0.7">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
      <tr>
        <td class="summary" colspan="4">
          <div fxLayoutAlign="start center" fxLayoutGap="10px">
            <div fxLayoutGap="5px" fxLayoutAlign="start center">
              <mat-icon appScale="0.8">people</mat-icon>
              <span>{{ !!players ? players.length : 0 }}</span>
            </div>
            <div fxLayoutGap="2px" fxLayoutAlign="start center">
              <mat-icon appScale="0.7">attach_money</mat-icon>
              <span>{{ players | sumBy: 'price' }}M</span>
            </div>
          </div>
        </td>
        <td class="summary"></td>
      </tr>
    </tbody>
  </table>
</app-title-underlined-grey>
