<div fxLayout="column" fxLayoutGap="20px">
  <app-players-stats-avg-points-filters></app-players-stats-avg-points-filters>
  <app-white-block *ngIf="lastMatchday$ | async | isGreaterThan: 0">
    <div>
      <app-players-list-generic
        [data]="data$ | async"
        [config]="listConfig$ | async"
        (sortChange)="onSortChange($event)"
      ></app-players-list-generic>
      <div class="legend">
        <span>*(points / games played)</span>
      </div>
    </div>
  </app-white-block>

  <div class="follow-us" *ngIf="lastMatchday$ | async | isEqualTo: 0">
    <app-follow-us text=" Players stats will be available after MD 1."></app-follow-us>
  </div>
</div>
