<ul *ngIf="mode === modes.HORIZONTAL" class="navigation" fxLayout fxLayoutAlign="start center">
  <li *ngFor="let link of links | orderBy: 'order'">
    <a ngClass.sm="link-sm" [routerLink]="link.path" routerLinkActive="active">{{ link.text }}</a>
  </li>
</ul>

<ul *ngIf="mode == modes.VERTICAL" class="navigation" fxLayout="column" fxLayoutAlign="start center">
  <li *ngFor="let link of links | orderBy: 'order'">
    <a *ngIf="!link.isDropdown" [routerLink]="link.path" routerLinkActive="active" (click)="closeSidenav()">{{
      link.text
    }}</a>
    <ng-template
      *ngIf="link.isDropdown"
      [ngTemplateOutlet]="linkWithDropdown"
      [ngTemplateOutletContext]="{ link: link }"
    >
    </ng-template>
  </li>
</ul>

<ng-template #linkWithDropdown let-link="link">
  <a *ngIf="!link.isDropdown" [routerLink]="link.path" routerLinkActive="active" (click)="closeSidenav()">{{
    link.text
  }}</a>
  <div [id]="'dropdown-' + link.key" class="dropdown" *ngIf="link.isDropdown">
    <span class="dropdown-button" fxLayoutAlign="start center">
      <span [ngClass]="{ active: isDropdownActive(link.text) }">{{ link.text }}</span>
      <mat-icon>arrow_right</mat-icon>
    </span>
    <div class="dropdown-content" [ngStyle]="{ left: (100 * link.dropdownIndex).toString() + 'px' }">
      <ng-template
        *ngFor="let sublink of link.dropdownLinks | orderBy: 'order'"
        [ngTemplateOutlet]="linkWithDropdown"
        [ngTemplateOutletContext]="{ link: sublink }"
      ></ng-template>
    </div>
  </div>
</ng-template>
