<ul *ngIf="mode === modes.HORIZONTAL" class="navigation" fxLayout fxLayoutAlign="start center">
  <ng-template [ngTemplateOutlet]="links"></ng-template>
</ul>

<ul *ngIf="mode == modes.VERTICAL" class="navigation" fxLayout="column" fxLayoutAlign="start center">
  <ng-template [ngTemplateOutlet]="links"></ng-template>
</ul>

<ng-template #links>
  <li routerLink="/home" routerLinkActive="active" (click)="closeSidenav()">players</li>
  <li routerLink="/myteam" routerLinkActive="active" (click)="closeSidenav()">my-team</li>
  <li routerLink="/about" routerLinkActive="active" (click)="closeSidenav()">about-us</li>
</ng-template>
