<mat-form-field *ngIf="valueInternal$ | async" class="select">
  <mat-label>{{ title }}</mat-label>
  <mat-select [value]="valueInternal$ | async" (valueChange)="onMatchdaysCountChange($event)">
    <mat-option *ngFor="let md of possibleNextMatchdays$ | async" [value]="md">
      <span *ngIf="md === (mdsUntilNextUnlimitedTransfers$ | async); else otherMd">
        <span *ngIf="isNextUnlimitedTransfers$ | async">Until Unlimited Transfers</span>
        <span *ngIf="isNextUnlimitedTransfers$ | async | reverseBoolean">All</span>
      </span>
      <ng-template #otherMd>Next {{ md }}</ng-template>
    </mat-option>
  </mat-select>
</mat-form-field>
