<app-white-block padding="10px 20px 10px 20px">
  <div class="flex-row-wrap justify-evenly items-center gap-x-7">
    <app-title-underlined-grey>
      <span title>Teams accuracy</span>
      <table
        content
        matSort
        matSortDirection="desc"
        matSortStart="desc"
        [matSortDisableClear]="true"
        matSortActive="lastMd"
        (matSortChange)="onSortChange($event)"
        class="comparison-table teams"
      >
        <tr>
          <td></td>
          <td mat-sort-header="lastMd">Last MD</td>
          <td mat-sort-header="last5">Last 5</td>
          <td mat-sort-header="season">Season</td>
        </tr>
        <tr *ngFor="let team of sorted">
          <td>
            <app-team-logo height="21" [team]="team.teamShort"></app-team-logo>
          </td>
          <td>{{ team.lastMd | nullableText : 'x' : '%' }}</td>
          <td>{{ team.last5 }}%</td>
          <td>{{ team.season }}%</td>
        </tr>
      </table>
    </app-title-underlined-grey>

    <app-title-underlined-grey appStickyWrapper>
      <div title class="flex flex-row justify-start items-center md:justify-between gap-x-2">
        <span [appSticky]="{ position: 'left' }">Sources accuracy</span>
        <div
          [appSticky]="{ position: 'left', px: 120 }"
          class="source-accuracy-change flex-row-start-center"
          [matMenuTriggerFor]="menuSourceValueType"
        >
          <span>{{ sourceValueTypeDisplay[sourceValueType] }}</span>
          <mat-icon appScale="0.9">arrow_right</mat-icon>
        </div>
      </div>

      <table content class="comparison-table sources">
        <tr>
          <td [appSticky]="{ position: 'left' }"></td>
          <td class="hidden md:table-cell" *ngFor="let source of sources | orderBy : 'order'">
            {{ source.displayName }}
          </td>
          <td class="table-cell md:hidden" *ngFor="let source of sources | orderBy : 'order'">
            {{ source.shortName }}
          </td>
        </tr>
        <tr *ngFor="let team of teamsSorted$ | async | orderBy : 'order'">
          <td [appSticky]="{ position: 'left' }">
            <app-team-logo height="20" [team]="team.teamShort"></app-team-logo>
          </td>
          <td
            [ngClass]="{ best: isBest(source, team.teamShort), worst: isWorst(source, team.teamShort) }"
            *ngFor="let source of sources"
          >
            {{ getSourceAccuracy(source, team.teamShort) }}
          </td>
        </tr>
      </table>
    </app-title-underlined-grey>
  </div>
</app-white-block>

<mat-menu #menuSourceValueType="matMenu">
  <button
    (click)="onSourceValueTypeChange('lastMdAccuracy')"
    mat-menu-item
    [disabled]="sourceValueType === 'lastMdAccuracy'"
  >
    Last MD
  </button>
  <button
    (click)="onSourceValueTypeChange('last5Accuracy')"
    mat-menu-item
    [disabled]="sourceValueType === 'last5Accuracy'"
  >
    Last 5 MDs
  </button>
  <button
    (click)="onSourceValueTypeChange('avgSeasonAccuracy')"
    mat-menu-item
    [disabled]="sourceValueType === 'avgSeasonAccuracy'"
  >
    Season
  </button>
</mat-menu>
