<table
  mat-table
  [dataSource]="dataSource"
  class="table-responsive"
  matSort
  matSortStart="desc"
  [matSortActive]="initialSortField"
  matSortDisableClear
  matSortDirection="desc"
>
  <ng-container matColumnDef="no" sticky>
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td mat-cell *matCellDef="let i = dataIndex">
      <span>{{
        dataSource.paginator?.pageIndex === 0
          ? i + 1
          : 1 + i + dataSource.paginator?.pageIndex * dataSource.paginator?.pageSize
      }}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="name" sticky>
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let player">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
        <app-team-logo [height]="20" [team]="player.team"></app-team-logo>
        <span>{{ player.lastName }}</span>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef>Pos</th>
    <td mat-cell *matCellDef="let player">
      {{ player.position | uppercase }}
    </td>
  </ng-container>

  <ng-container *ngFor="let item of columns" [matColumnDef]="item.fieldName">
    <th mat-header-cell *matColumnDef>{{ item.header }}</th>
    <td mat-cell *matCellDef="let player">
      {{ player[item.fieldName] }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let player; columns: displayedColumns"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="100%">No data matching the criteria.</td>
  </tr>
</table>
