.teams-content-container {
  margin-top: 20px;
  padding: 0 20px;

  .tabs {
    padding: 0 20px;

    a {
      letter-spacing: 3px;
      font-family: Roboto, sans-serif;
    }
  }

  .teams-content {
    margin-top: 30px;
  }

  &-mobile {
    padding: 0;
  }
}
