<div class="admin-our-picks-container">
  <div class="admin-our-picks-search">
    <app-admin-our-picks-player-search
      [selected]="players"
      [lastMatchday]="lastMatchday$ | async"
      (playerSelected)="onPlayerSelected($event)"
    ></app-admin-our-picks-player-search>
  </div>
  <div fxLayout="column" fxLayoutGap="30px">
    <app-admin-matchday-tips-our-picks-totals [state]="state"></app-admin-matchday-tips-our-picks-totals>
    <div fxLayout="column" fxLayoutGap="10px">
      <div *ngIf="!!players" cdkDropList class="admin-our-picks-list" (cdkDropListDropped)="drop($event)">
        <div
          class="admin-our-pick"
          [ngClass]="{ active: player.order === nextToMove }"
          fxLayout="row"
          fxLayoutGap="10px"
          *ngFor="let player of players"
          cdkDrag
        >
          <span fxFlex="5">{{ player.order }}</span>
          <span fxFlex class="bold"
            ><app-player-name-link [name]="player.name" [id]="player.playerId"></app-player-name-link
          ></span>
          <div fxFlex="5">
            <app-player-icon-prediction [prediction]="player.prediction"></app-player-icon-prediction>
          </div>
          <div fxFlex="15" fxLayoutGap="5px" fxLayoutAlign="start center">
            <app-team-logo [height]="25" [team]="player.nextGame.opponentShort"></app-team-logo>
            <span>({{ player.nextGame.isHome ? 'h' : 'a' }})</span>
            <span>{{ player.nextGame.opponentRank | numerals }}</span>
            <span *ngIf="player.nextGame.isFirstGame">
              <app-matchday-first-game-indicator [size]="'small'"></app-matchday-first-game-indicator>
            </span>
          </div>
          <div fxFlex="15" fxLayoutGap="10px">
            <span>{{ player.position | uppercase }}</span
            ><span>{{ player.price }}M</span><span>{{ player.popularity }}%</span>
          </div>
          <div class="icons" fxLayout="row" fxLayoutGap="10px">
            <app-our-pick-icon
              class="icon"
              [icon]="Icons.MUST_HAVE"
              [color]="getIconColor(Icons.MUST_HAVE, player.playerId)"
              [showTooltip]="false"
              (click)="togglePlayerType(Icons.MUST_HAVE, player.playerId)"
            ></app-our-pick-icon>
            <app-our-pick-icon
              class="icon"
              [icon]="Icons.PREMIUM"
              [color]="getIconColor(Icons.PREMIUM, player.playerId)"
              [showTooltip]="false"
              (click)="togglePlayerType(Icons.PREMIUM, player.playerId)"
            ></app-our-pick-icon>
            <app-our-pick-icon
              class="icon"
              [ngClass]="{ hidden: player.price > (budgetPlayerMaxPrice$ | async) }"
              [icon]="Icons.BARGAIN"
              [color]="getIconColor(Icons.BARGAIN, player.playerId)"
              [showTooltip]="false"
              (click)="togglePlayerType(Icons.BARGAIN, player.playerId)"
            ></app-our-pick-icon>
            <app-our-pick-icon
              class="icon"
              [ngClass]="{ hidden: player.popularity > 5 }"
              [icon]="Icons.DIFFERENTIAL"
              [color]="getIconColor(Icons.DIFFERENTIAL, player.playerId)"
              [showTooltip]="false"
              (click)="togglePlayerType(Icons.DIFFERENTIAL, player.playerId)"
            ></app-our-pick-icon>
            <app-our-pick-icon
              class="icon"
              [icon]="Icons.SURPRISING"
              [color]="getIconColor(Icons.SURPRISING, player.playerId)"
              [showTooltip]="false"
              (click)="togglePlayerType(Icons.SURPRISING, player.playerId)"
            ></app-our-pick-icon>
          </div>

          <div fxFlex="5" fxLayoutAlign="center center">
            <span class="drag-handle" cdkDragHandle>
              <fa-icon [icon]="['fas', 'sort']" size="2x"></fa-icon>
            </span>
          </div>

          <div fxFlex="5" fxLayoutAlign="center center">
            <mat-icon class="red remove-button" (click)="remove(player.playerId)">delete</mat-icon>
          </div>
        </div>
      </div>

      <div fxLayoutGap="7px" fxFlexAlign="end">
        <button [disabled]="!isChange" mat-raised-button class="green-background" (click)="save()">Save</button>
        <button [disabled]="isChange" mat-raised-button class="main-background" (click)="publish()">
          {{ state.ourPicks.published ? 'Unpublish' : 'Publish' }}
        </button>
      </div>
    </div>
  </div>
</div>
