<h1>{{ 'Teams next fixtures' | uppercase }}</h1>
<div *ngIf="!!state" class="schedules-container">
  <div class="order-by-container" fxLayoutAlign="center center">
    <span class="bold" fxFlex="10">Sort by:</span>
    <mat-button-toggle-group name="orderBy">
      <mat-button-toggle [disableRipple]="true">
        <button mat-button [matMenuTriggerFor]="orderByMenu">{{ selectedOrderText }}</button>
        <mat-menu #orderByMenu="matMenu">
          <button mat-menu-item *ngFor="let order of orders" (click)="onMobileSortChange(order)">
            {{ order.text }}
          </button>
        </mat-menu>
      </mat-button-toggle>
      <mat-button-toggle>
        <fa-icon
          (click)="onOrderDirectionChange('asc')"
          *ngIf="sort.direction === 'desc'"
          [icon]="['fas', 'sort-amount-down-alt']"
          size="lg"
        ></fa-icon>
        <fa-icon
          (click)="onOrderDirectionChange('desc')"
          *ngIf="sort.direction === 'asc'"
          [icon]="['fas', 'sort-amount-up-alt']"
          size="lg"
        ></fa-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div fxLayout="row" fxLayoutGap="20px" fxLayout.lt-md="column" fxLayoutAlign.lt-md="start">
    <div fxFlex.gt-sm="90">
      <ul *ngIf="(screen$ | async) > screens.XS" class="schedules">
        <li class="schedule header">
          <div fxFlex="10"></div>
          <div fxFlex="18" fxLayoutAlign="center center" *ngFor="let md of state.mdsHeader | orderBy">MD {{ md }}</div>
        </li>
        <li *ngFor="let team of state.teams | orderBy: [order, 'rank']">
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" class="schedule row">
            <div fxFlex="10" class="team-logo" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
              <app-team-logo [team]="team.shortName" [height]="40"></app-team-logo>
              <span class="rank">{{ team.rank | numerals }}</span>
            </div>
            <div fxFlex="18" fxFlexAlign="stretch" *ngFor="let game of getGames(team) | orderBy: 'matchday'">
              <div
                [ngStyle]="{ 'background-color': game.color }"
                class="md"
                fxLayoutAlign="center center"
                fxLayout="column"
              >
                <app-team-logo [team]="game.opponent" [height]="40"></app-team-logo>
                <span>{{ game.opponentRank | numerals }} place</span>
                <span>{{ game.isHome ? 'home' : 'away' }}</span>
              </div>
            </div>
          </div>
        </li>
      </ul>

      <div *ngIf="(screen$ | async) === screens.XS" class="schedules">
        <div
          *ngFor="let team of state.teams | orderBy: [order, 'rank']"
          class="schedule schedule-mobile row"
          fxLayout="column"
        >
          <div class="team-logo team-logo-mobile" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
            <app-team-logo [team]="team.shortName" [height]="35"></app-team-logo>
            <div fxLayoutGap="5px">
              <span>{{ team.longName }}</span>
              <span class="rank">{{ team.rank | numerals }}</span>
            </div>
          </div>

          <div fxLayout="column">
            <div fxLayout="row" fxLayoutGap="10px" class="header header-mobile">
              <div fxFlex="20" fxFlexAlign="stretch" *ngFor="let md of state.mdsHeader | orderBy">MD {{ md }}</div>
            </div>
            <div fxLayout="row" fxLayoutGap="5px">
              <div fxFlex="20" fxFlexAlign="stretch" *ngFor="let game of getGames(team) | orderBy: 'matchday'">
                <span
                  [ngStyle]="{ 'background-color': game.color }"
                  class="md md-mobile"
                  fxLayoutAlign="center center"
                  fxLayout="column"
                  fxLayoutGap="3px"
                >
                  <app-team-logo [team]="game.opponent" [height]="30"></app-team-logo>
                  <span>{{ game.opponentRank | numerals }}</span>
                  <span>{{ game.isHome ? 'home' : 'away' }}</span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      fxFlex.gt-sm="10"
      class="legend"
      *ngIf="showLegend"
      ngClass.gt-sm="legend-when-row"
      fxLayout="column"
      fxLayoutAlign="start center"
      fxLayout.lt-md="row"
      fxLayoutAlign.lt-md="center center"
      fxLayoutGap="3px"
    >
      <span>easy</span>
      <div fxLayout.gt-sm="column" fxLayout.lt-md="row">
        <div *ngFor="let colorRange of getColors() | keyvalue: orderByMax">
          <div
            class="legend-color"
            ngClass.lt-sm="legend-color-mobile"
            [style.backgroundColor]="colorRange.key"
            fxLayoutAlign="center center"
          >
            <span fxHide.gt-xs>&nbsp;</span>
            <span fxHide.lt-sm>{{ colorRange.value.min | numerals }} - {{ colorRange.value.max | numerals }}</span>
          </div>
        </div>
      </div>
      <span>hard</span>
    </div>
  </div>
</div>
