<div>
  <h2 mat-dialog-title>Select Teams</h2>
  <mat-dialog-content class="px-5">
    <div class="flex-row-wrap">
      <div
        class="w-full md:w-1/2 lg:w-1/3 2xl:w-1/4"
        *ngFor="let team of teams | orderBy : 'longName'; trackBy: trackTeamsBy"
      >
        <mat-checkbox [(ngModel)]="team.selected" color="primary">
          <div class="flex-row-start-center gap-x-1">
            <app-team-logo [team]="team.shortName" [height]="20"></app-team-logo>
            <span>{{ team.longName }}</span>
          </div>
        </mat-checkbox>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div class="flex flex-row justify-between flex-wrap items-center gap-x-1 flex-1">
      <button mat-button (click)="toggleSelectAll()">Toggle select all</button>
      <div>
        <button mat-button mat-dialog-close>Cancel</button>
        <button class="send-button main-background" mat-button (click)="close()" [disabled]="!canSend">Confirm</button>
      </div>
    </div>
  </mat-dialog-actions>
</div>
