<div fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="40px">
  <div
    fxLayout="row wrap"
    fxLayoutGap.gt-xs="20px grid"
    fxLayoutAlign="space-evenly"
    fxLayout.lt-sm="column"
    fxLayoutAlign.lt-sm="center center"
    fxLayoutGap.lt-sm="20px"
  >
    <div>
      <mat-card class="card-games" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">
        <app-title-underlined>
          <h3>Previous games</h3>
        </app-title-underlined>
        <app-timeline-matchdays [items]="playedGames" order="dsc"></app-timeline-matchdays>
      </mat-card>
    </div>

    <div>
      <mat-card class="card-games" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">
        <app-title-underlined>
          <h3>Next games</h3>
        </app-title-underlined>
        <app-timeline-matchdays [items]="futureGames" order="asc"></app-timeline-matchdays>
      </mat-card>
    </div>
  </div>

  <app-player-details-next-matchday [player]="player"></app-player-details-next-matchday>
</div>
