<app-white-block padding="10px 10px 0px 10px">
  <div fxLayout="row wrap" fxLayoutAlign="space-evenly center" fxLayoutGap="20px">
    <app-switch
      class="filter"
      [items]="venues"
      name="venues"
      [value]="filters.venue"
      (switchChange)="onVenueChange($event)"
    ></app-switch>

    <app-switch
      class="filter"
      [items]="games"
      name="games"
      [value]="filters.games"
      (switchChange)="onGamesChange($event)"
    ></app-switch>
  </div>
</app-white-block>
