<app-content-white-block>
  <div class="flex flex-col gap-y-4">
    <div class="w-full text-center">
      <app-ad-banner slot="horizontal"></app-ad-banner>
    </div>
    <app-teams-kickoff-times-filters
      [filters]="filters$ | async"
      [lastMatchday]="lastMatchday"
      [lastKnownMatchday]="lastKnownMatchday"
      [nextUnlimitedTransfersMatchday]="nextUnlimitedTransfersMatchday"
      [teams]="teams"
    ></app-teams-kickoff-times-filters>

    <div class="flex-row-center">
      <app-content-titled appStickyWrapper>
        <span title [appSticky]="{ position: 'left', px: 0 }">Different Kickoff Times for MD {{ mds }}</span>
        <div content>
          <div class="pt-4">
            <app-matrix-table [rows]="rows$ | async" [config]="matrixTableConfig$ | async"></app-matrix-table>
          </div>
        </div>
      </app-content-titled>
    </div>
  </div>
</app-content-white-block>
