<app-content-white-block>
  <div fxLayout="column" fxLayoutGap="15px">
    <app-teams-kickoff-times-filters
      [filters]="filters$ | async"
      [lastMatchday]="lastMatchday"
      [lastKnownMatchday]="lastKnownMatchday"
      [nextUnlimitedTransfersMatchday]="nextUnlimitedTransfersMatchday"
      [teams]="teams"
    ></app-teams-kickoff-times-filters>
    <div fxLayout="row" fxLayoutAlign="center stretch">
      <app-content-titled appStickyWrapper>
        <span title [appSticky]="{ position: 'left', px: 0 }">Different Kickoff Times for MD {{ mds }}</span>
        <div content>
          <app-matrix-table [rows]="rows$ | async" [config]="matrixTableConfig$ | async"></app-matrix-table>
        </div>
      </app-content-titled>
    </div>
  </div>
</app-content-white-block>
