@import '/src/variables.scss';

.teams-selected-span {
  font-weight: 500;
  text-decoration-style: dotted;
}

.button-clear {
  width: 20px;
}

.select-teams-button {
  color: $colorBlue;

  span {
    margin-left: 3px;
  }
}
