@import '/src/variables.scss';

table.comparison-table {
  padding-bottom: 10px;

  tr {
    td {
      font-size: 11px;
      font-weight: 500;
      min-width: 40px;
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 3px;
    }

    td:first-child {
      min-width: unset;
      padding-left: 0px;
      padding-right: 5px;
    }
  }

  tr:not(:first-child) {
    td:not(:first-child) {
      font-size: 12px;
    }
  }
}

.column-red {
  background-color: $colorRed;
}

.column-orange {
  background-color: $colorOrange;
}

.column-yellow {
  background-color: $colorYellow;
}

.column-greenlight {
  background-color: $colorGreenLight;
}

.column-greendark {
  background-color: $colorGreenDark;
}

.column-grey {
  background-color: $colorGreyBackround;
}
