<app-white-block>
  <div
    class="links-grid flex flex-col justify-center items-center lg:flex-row lg:justify-start lg:items-start lg:gap-x-4"
  >
    <div class="links-comparison flex-col-start-center gap-y-3.5">
      <h4>Players comparison</h4>
      <div class="flex flex-col gap-y-2.5">
        <a class="link" [routerLink]="['/fantasy', 'compare', 'top']" [queryParams]="{ count: 10 }">
          <mat-icon class="orange rotate-90">pan_tool_alt</mat-icon>
          <span>Top 10 players overall</span>
        </a>

        <a class="link" [routerLink]="['/fantasy', 'compare', 'bestgks']">
          <mat-icon class="orange rotate-90">pan_tool_alt</mat-icon>
          <span>Popular goalkeepers</span>
        </a>

        <a class="link" [routerLink]="['/fantasy', 'compare', 'top']" [queryParams]="{ position: 'def', count: 10 }">
          <mat-icon class="orange rotate-90">pan_tool_alt</mat-icon>
          <span>Best defenders</span>
        </a>

        <a class="link" [routerLink]="['/fantasy', 'compare', 'top']" [queryParams]="{ position: 'mid', count: 10 }">
          <mat-icon class="orange rotate-90">pan_tool_alt</mat-icon>
          <span>Best midfielders</span>
        </a>

        <a class="link" [routerLink]="['/fantasy', 'compare', 'top']" [queryParams]="{ position: 'for', count: 10 }">
          <mat-icon class="orange rotate-90">pan_tool_alt</mat-icon>
          <span>Best forwards</span>
        </a>

        <a
          *ngIf="lastMatchday$ | async | isGreaterThan : 0"
          class="link"
          [routerLink]="['/fantasy', 'compare', 'top']"
          [queryParams]="{ maxPrice: 7, count: 10 }"
        >
          <mat-icon class="orange rotate-90">pan_tool_alt</mat-icon>
          <span>Top 10 budget picks</span>
        </a>
      </div>
    </div>

    <div *ngIf="links$ | async | arrayEmpty">
      <app-follow-us text="Sorry, there are no tips & hints links so far."></app-follow-us>
    </div>

    <div *ngIf="links$ | async | arrayNotEmpty" class="container flex flex-col gap-y-5">
      <a
        [href]="link.url"
        target="blank"
        class="link-container w-full min-w-full sm:w-auto sm:min-w-auto flex flex-row"
        *ngFor="let link of links$ | async"
        width="120"
      >
        <div
          class="hidden sm:flex link-image flex-row-start-center"
          [style]="'background-image: url(' + link.imageUrl + ')'"
        >
          <img [src]="link.imageUrl" />
        </div>
        <div class="link-content flex flex-col justify-between">
          <div class="link-title">
            <h4>{{ link.title }}</h4>
          </div>

          <div class="link-description">{{ link.description }}</div>

          <div class="link-bottom-info">
            <span>&nbsp;</span>
            <span class="link-host">{{ link.source }}</span>
          </div>
        </div>
      </a>
    </div>
  </div>
</app-white-block>
