<div *ngIf="state$ | async" fxLayout="column" fxLayoutGap="5px">
  <div class="sticky">
    <app-player-details-main [player]="state$ | async | field: 'player'"></app-player-details-main>
  </div>

  <div fxLayoutGap="20px" fxLayout="column">
    <app-player-details-next-matchday [player]="state$ | async | field: 'player'"></app-player-details-next-matchday>
    <app-player-details-charts
      [player]="state$ | async | field: 'player'"
      [positionStats]="state$ | async | field: 'positionStats'"
    ></app-player-details-charts>
    <app-player-details-points [player]="state$ | async | field: 'player'"></app-player-details-points>
    <app-player-details-matchdays [player]="state$ | async | field: 'player'"></app-player-details-matchdays>
  </div>
</div>
