.header {
  font-size: 12px;
  font-weight: 500;
  padding-bottom: 1px;
  color: rgba($color: #000000, $alpha: 0.87);
}

.header-row {
  height: unset;
}

.value {
  text-align: center;
}

.schedules-table-container {
  margin-top: -15px;
}

.schedules-grid-container {
  width: 98%;
  margin: 0 auto;

  .grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));

    .grid-team {
      padding: 3px 10px;

      .grid-team-points {
        font-size: 10px;
        font-weight: 500;
      }
    }
  }
}
