<div class="social-media-bar" fxHide.lt-sm>
  <a
    class="social-media social-media-facebook"
    href="https://www.facebook.com/Fantasybl-stats-108481224674753"
    target="blank"
  >
    <fa-icon class="social-media-icon" [icon]="['fab', 'facebook-f']"></fa-icon>
    <span class="social-media-text">like us!</span>
  </a>
  <a class="social-media social-media-twitter" href="https://twitter.com/FantasyblS" target="blank">
    <fa-icon class="social-media-icon" [icon]="['fab', 'twitter']"></fa-icon>
    <span class="social-media-text">follow us!</span>
  </a>
</div>
