.social-media-bar {
  display: block;

  .social-media {
    text-decoration: none;
    z-index: 1000;
    right: 0;
    position: fixed;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 12px;
    background-color: #000;
    color: #fff;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 20px;
    transition: all 0.4s ease-in-out;

    &-icon {
      font-size: 18px;
    }

    &-text {
      margin-left: 10px;
      font-weight: 500;
      font-size: 11px;
      letter-spacing: 1px;
      text-transform: uppercase;
      opacity: 0;
      transition: opacity 0.4s ease-in-out;
    }
  }

  .social-media-facebook {
    top: 35px;
  }

  .social-media-twitter {
    top: 85px;
  }

  .social-media:hover {
    width: 100px;

    .social-media-text {
      opacity: 1;
    }
  }
}
