<div *ngIf="show" class="container" fxLayoutAlign="center center">
  <mat-card class="table-card table-responsive" fxFill>
    <table mat-table [dataSource]="data" multiTemplateDataRows>
      <ng-container matColumnDef="Name" sticky>
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let item">
          <div fxLayout fxLayoutAlign="start center" fxLayoutGap="5px">
            <span>{{ item.name }}</span>
            <app-prediction-indicator
              *ngIf="item.attendance === 0"
              [value]="0"
              [height]="35"
            ></app-prediction-indicator>
            <app-player-suspension-risk [show]="item.isSuspensionRisk"></app-player-suspension-risk>
            <app-player-returning [show]="item.isReturning"></app-player-returning>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="Position">
        <th mat-header-cell *matHeaderCellDef>Position</th>
        <td mat-cell *matCellDef="let player">
          <span>{{ player.position | uppercase }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="Team">
        <th mat-header-cell *matHeaderCellDef>Team</th>
        <td mat-cell *matCellDef="let player">
          <app-team-logo [team]="player.teamShort" [height]="35"></app-team-logo>
        </td>
      </ng-container>

      <ng-container matColumnDef="Next">
        <th mat-header-cell *matHeaderCellDef>Next</th>
        <td mat-cell *matCellDef="let player">
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
            <app-player-next-game [height]="35" [nextGame]="player.nextGame"></app-player-next-game>
            <app-prediction-indicator
              [value]="player.nextGameAttendancePrediction"
              [height]="35"
            ></app-prediction-indicator>
          </div>
        </td>
      </ng-container>

      <ng-container [matColumnDef]="column.fieldName" *ngFor="let column of columns; trackBy: trackColumnsBy">
        <th mat-header-cell *matHeaderCellDef>{{ column.displayName }}</th>
        <td mat-cell *matCellDef="let item" [ngClass]="getTdClass(column, item)">
          {{ item[column.fieldName] }}
        </td>
      </ng-container>

      <ng-container matColumnDef="playerDetails">
        <td mat-cell *matCellDef="let player" [attr.colspan]="displayedColumns.length">
          <div class="player-details" [@detailExpand] *ngIf="!!expandedRows[player.id]">
            <app-player-details [player]="player"></app-player-details>
            <div class="red bold" (click)="toggleExpandedPlayer(player.id)">
              <span class="hvr-icon-bob" fxLayoutAlign="start center">
                Show less
                <mat-icon class="hvr-icon">keyboard_arrow_up</mat-icon>
              </span>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr
        mat-row
        *matRowDef="let player; columns: displayedColumns"
        class="player-details-row"
        [class.player-details-expanded-row]="expandedRows[player.id]"
        (click)="toggleExpandedPlayer(player.id)"
      ></tr>
      <tr mat-row *matRowDef="let player; columns: ['playerDetails']" class="player-details-content"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the criterias.</td>
      </tr>
    </table>
  </mat-card>
</div>
