<div *ngIf="lastMatchday < 34">
  <app-form-field *ngIf="label" [label]="label">
    <ng-template [ngTemplateOutlet]="dropdown"></ng-template>
  </app-form-field>

  <ng-template *ngIf="!label" [ngTemplateOutlet]="dropdown"></ng-template>

  <ng-template #dropdown>
    <app-dropdown [config]="dropdownConfig">
      <app-dropdown-content>
        <app-dropdown-section>
          <span *ngIf="lastMatchday + 3 <= config.maxMatchday" appSpanAsLink (click)="onNextTwoClick()">Next 2</span>
          <span *ngIf="lastMatchday + 5 <= config.maxMatchday" appSpanAsLink (click)="onNextFourClick()">Next 4</span>
          <span *ngIf="lastMatchday + 7 <= config.maxMatchday" appSpanAsLink (click)="onNextSixClick()">Next 6</span>
          <span
            appSpanAsLink
            *ngIf="config.showAllWithEstablishedKickoffTimesLink"
            (click)="onOnlyWithEstablishedTimesClick()"
            >All with extablished kickoff times</span
          >
          <span *ngIf="config.showUnlimitedTransfersLink" appSpanAsLink (click)="onUntilUnlimitedTransfersClick()"
            >Until unlimited transfers</span
          >
        </app-dropdown-section>
        <app-dropdown-section>
          <app-select-future-matchdays
            [value]="value.to - value.from + 1"
            [maxMatchday]="config.maxMatchday"
            [lastMatchday]="lastMatchday"
            (change)="onNextMatchdaysChange($event)"
          ></app-select-future-matchdays>
        </app-dropdown-section>
        <app-dropdown-section [showDivider]="false">
          <app-select-matchdays-between
            style="margin-top: 5px"
            [value]="value"
            [lastMatchday]="lastMatchday"
            [maxMatchday]="config.maxMatchday"
            (matchdaysBetweenChange)="onMatchdaysBetweenChange($event)"
          ></app-select-matchdays-between>
        </app-dropdown-section>
      </app-dropdown-content>
    </app-dropdown>
  </ng-template>
</div>
