<div class="flex-row-start-center gap-x-1">
  <span class="selected-span" *ngIf="selectedCount() === 0">{{ noItemsSelectedLabel }}</span>
  <span class="selected-span" *ngIf="selectedCount() > 0">{{ selectedItemsLabel }}</span>
  <button
    mat-stroked-button
    class="open-dialog-button hidden"
    [ngClass]="{ 'hidden sm:block': changeToIconOnMobile }"
    [appScale]="0.9"
    (click)="openDialog()"
  >
    <mat-icon>input</mat-icon>
    <span>{{ openDialogLabel }}</span>
  </button>
  <button
    mat-icon-button
    class="main-background sm:hidden"
    [ngClass]="{ block: changeToIconOnMobile }"
    [appScale]="0.8"
    (click)="openDialog()"
  >
    <mat-icon>input</mat-icon>
  </button>
</div>
