<app-form-field label="Teams">
  <div class="teams-select-container flex-row-start-center gap-x-1">
    <span *ngIf="allTeamsSelected">All teams</span>
    <span class="teams-selected-span" *ngIf="someTeamsSelected">{{ selectedTeamsCount }} teams selected</span>
    <button
      *ngIf="someTeamsSelected"
      mat-icon-button
      class="red button-clear"
      [appScale]="0.7"
      (click)="clearSelection()"
    >
      <mat-icon>clear</mat-icon>
    </button>
    <div class="hidden sm:block">
      <button mat-stroked-button class="select-teams-button" (click)="openDialog()">
        <mat-icon>input</mat-icon>
        <span>Select</span>
      </button>
    </div>

    <div class="block sm:hidden">
      <button mat-icon-button class="main-background scale-[0.6]" (click)="openDialog()">
        <mat-icon>input</mat-icon>
      </button>
    </div>
  </div>
</app-form-field>
