<app-white-block>
  <div
    fxLayout="row wrap"
    fxLayoutGap="15px"
    fxLayoutAlign="space-evenly"
    fxLayout.lt-sm="column"
    fxLayoutAlign.lt-sm="center center"
  >
    <div *ngIf="playedGames.length > 0" class="card-games" fxLayoutAlign="center">
      <app-title-underlined-grey>
        <span title>Previous games</span>
        <div content class="card-games-content">
          <app-timeline-matchdays [items]="playedGames" order="dsc"></app-timeline-matchdays>
        </div>
      </app-title-underlined-grey>
    </div>

    <div *ngIf="futureGames.length > 0" class="card-games" fxLayoutAlign="center">
      <app-title-underlined-grey>
        <span title>Next games</span>
        <div content class="card-games-content">
          <app-timeline-matchdays [items]="futureGames" order="asc"></app-timeline-matchdays>
        </div>
      </app-title-underlined-grey>
    </div>
  </div>
</app-white-block>
