<app-white-block>
  <div
    class="flex flex-col items-center justify-center gap-3 sm:flex-row sm:flex-wrap sm:items-start sm:justify-evenly"
  >
    <div *ngIf="playedGames.length > 0" class="card-games items-center justify-center">
      <app-title-underlined-grey>
        <span title>Previous games</span>
        <div content class="card-games-content">
          <app-timeline-matchdays [items]="playedGames" order="dsc"></app-timeline-matchdays>
        </div>
      </app-title-underlined-grey>
    </div>

    <div *ngIf="futureGames.length > 0" class="card-games items-center justify-center">
      <app-title-underlined-grey>
        <span title>Next games</span>
        <div content class="card-games-content">
          <app-timeline-matchdays [items]="futureGames" order="asc"></app-timeline-matchdays>
        </div>
      </app-title-underlined-grey>
    </div>
  </div>
</app-white-block>
