<div
  class="team-lineup-container"
  ngClass.lt-sm="team-lineup-container-mobile"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <div class="title">
    <span class="source-name">{{ lineup.sourceName }}</span>
    <a class="link" [href]="lineup.sourceUrl" target="blank"
      >source
      <fa-icon [icon]="['fas', 'external-link-alt']"></fa-icon>
    </a>
  </div>
  <div class="field" fxLayout="column" fxLayoutAlign="start center">
    <ng-template [ngTemplateOutlet]="row" [ngTemplateOutletContext]="{ players: forwards }"></ng-template>
    <ng-template [ngTemplateOutlet]="row" [ngTemplateOutletContext]="{ players: midfielders }"></ng-template>
    <ng-template [ngTemplateOutlet]="row" [ngTemplateOutletContext]="{ players: defenders }"></ng-template>

    <div fxFlex class="position goalkeeper" fxLayoutAlign="center end">
      <span class="player">{{ goalkeeper }}</span>
    </div>
  </div>
</div>

<ng-template #row let-players="players">
  <div
    *ngIf="players.length < 5"
    class="position"
    fxFlex="30"
    fxLayout="row wrap"
    fxLayoutGap="5px"
    fxLayoutAlign="space-evenly center"
  >
    <div class="player" fxLayout="center center" *ngFor="let player of players | orderBy: 'subPosition'">
      <span>{{ player.lastName }}</span>
    </div>
  </div>
  <div *ngIf="players.length > 4" class="position" fxFlex="30" fxLayout="column" fxLayoutGap="10px">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div class="player" fxLayout="center center" *ngFor="let player of getWingers(players) | orderBy: 'subPosition'">
        <span>{{ player.lastName }}</span>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="space-evenly center" fxLayoutGap="5px">
      <div
        class="player"
        [ngClass]="{ 'player-2-lines': isMoreThanFourCentrals(players) }"
        fxLayout="center center"
        *ngFor="let player of players | filterBy: ['subPosition']:'2' | orderBy: 'subPosition'"
      >
        <span>{{ player.lastName }}</span>
      </div>
    </div>
  </div>
</ng-template>
