<h2 mat-dialog-title>Select Teams</h2>
<div fxLayout="row wrap" fxLayoutGap="10px">
  <div fxFlex="30" fxFlex.lt-md="45" fxFlex.lt-sm="30" *ngFor="let team of data.teams">
    <mat-checkbox [(ngModel)]="team.selected">
      <span fxHide.lt-sm>{{ team.name }}</span>
      <span fxHide.gt-xs>{{ team.short }}</span>
    </mat-checkbox>
  </div>
</div>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button class="red-background" mat-button (click)="close()">Confirm</button>
</mat-dialog-actions>
