<div class="field flex-col-start-center">
  <ng-template
    [ngTemplateOutlet]="row"
    [ngTemplateOutletContext]="{ players: forwards, marginTop: '35' }"
  ></ng-template>
  <ng-template [ngTemplateOutlet]="row" [ngTemplateOutletContext]="{ players: midfielders }"></ng-template>
  <ng-template [ngTemplateOutlet]="row" [ngTemplateOutletContext]="{ players: defenders }"></ng-template>

  <div *ngIf="goalkeeper" class="position goalkeeper flex flex-1 flex-row justify-center items-end max-h-[10%]">
    <div class="player">
      <ng-template [ngTemplateOutlet]="playerLink" [ngTemplateOutletContext]="{ player: goalkeeper }"></ng-template>
    </div>
  </div>
</div>

<ng-template #row let-players="players" let-marginTop="marginTop">
  <div *ngIf="players.length < 5" class="position flex-row-wrap gap-x-1 flex-1 justify-evenly items-center max-h-[30%]">
    <div class="player flex-row-center-center" *ngFor="let player of players | orderBy : ['subPosition', 'lastName']">
      <ng-template [ngTemplateOutlet]="playerLink" [ngTemplateOutletContext]="{ player: player }"></ng-template>
    </div>
  </div>

  <div
    *ngIf="players.length > 4"
    class="position flex flex-col gap-y-2.5 flex-1 max-h-[30%]"
    [ngStyle]="{ 'margin-top': !marginTop ? 'unset' : marginTop + 'px' }"
  >
    <div class="flex flex-row justify-between items-center">
      <div
        class="player flex-row-center-center"
        *ngFor="let player of getWingers(players) | orderBy : ['subPosition', 'lastName']"
      >
        <ng-template [ngTemplateOutlet]="playerLink" [ngTemplateOutletContext]="{ player: player }"></ng-template>
      </div>
    </div>
    <div class="flex-row-wrap justify-evenly items-center gap-x-1">
      <div
        class="player flex-row-center-center"
        [ngClass]="{ 'player-2-lines': isMoreThanFourCentrals(players) }"
        *ngFor="let player of players | filterBy : ['subPosition'] : '2' | orderBy : ['subPosition', 'lastName']"
      >
        <ng-template [ngTemplateOutlet]="playerLink" [ngTemplateOutletContext]="{ player: player }"></ng-template>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #playerLink let-player="player">
  <div class="flex-row-start-center gap-x-1">
    <app-team-logo *ngIf="player.team" [height]="14" [team]="player.team"></app-team-logo>
    <app-player-name-link
      *ngIf="!!player.id"
      [ngClass]="{ 'red bold': !player.available }"
      [name]="player.lastName"
      [id]="player.id"
    ></app-player-name-link>
    <span *ngIf="!player.id">{{ player.lastName }}</span>
  </div>
</ng-template>
