table {
  border-spacing: 0;
  border-radius: 15px;
  border: 1px solid #ccc;

  tr {
    td {
      padding: 15px 10px;

      .icons {
        .icon {
          transform: scale(0.8);
        }

        .hidden {
          visibility: hidden;
        }

        .hidden-mobile {
          display: none;
        }
      }
    }

    td.name {
      padding-right: 20px;
    }

    td.order {
      text-align: center;

      .order-image {
        font-size: 20px;
      }

      .order-number {
        font-weight: 500;
        font-size: 12px;
      }
    }
  }

  tr:not(:last-child) {
    td {
      border-bottom: 1px solid #ccc;
    }
  }
}

table.table-mobile {
  border: 0;

  tr {
    td {
      padding: 15px 5px;
      font-size: 12px;
    }
  }
}
