<div *ngIf="playersFound" fxLayoutAlign="center">
  <table ngClass.lt-md="table-mobile">
    <tbody>
      <tr *ngFor="let player of ourPicks.players">
        <td class="order" *ngIf="!(isMobile$ | async)">
          <div *ngIf="player.order <= 3">
            <fa-icon [icon]="['fas', 'medal']" class="order-image" [appMedalColor]="player.order"></fa-icon>
          </div>
          <span *ngIf="player.order > 3" class="order-number">{{ player.order }}</span>
        </td>
        <td class="name">
          <div fxLayoutGap="5px" fxLayoutAlign="start center">
            <app-team-logo [team]="player.team.teamShort" [height]="25"></app-team-logo>
            <span fxFlex class="bold"
              ><app-player-name-link [name]="player.name" [id]="player.playerId"></app-player-name-link
            ></span>
          </div>
        </td>
        <td>
          <span>{{ player.position | uppercase }}</span>
        </td>
        <td fxHide.xs>
          <span>{{ player.price }}M</span>
        </td>
        <td fxHide.xs>
          <span>{{ player.popularity }}%</span>
        </td>
        <td fxHide.lt-md>
          <div fxLayoutGap="5px" fxLayoutAlign="start center">
            <app-team-logo [height]="25" [team]="player.nextGame.opponentShort"></app-team-logo>
            <span>({{ player.nextGame.isHome ? 'h' : 'a' }})</span>
            <span>{{ player.nextGame.opponentRank | numerals }}</span>
            <span *ngIf="player.nextGame.isFirstGame">
              <app-matchday-first-game-indicator [size]="'small'"></app-matchday-first-game-indicator>
            </span>
          </div>
        </td>
        <td>
          <div class="icons" fxLayout="row" fxLayoutGap="3px" fxLayoutGap.lt-md="0px">
            <app-our-pick-icon
              class="icon"
              [ngClass]="{ hidden: !player.isMustHave }"
              [ngClass.lt-md]="{ 'hidden-mobile': !player.isMustHave }"
              [icon]="Types.MUST_HAVE"
              [showTooltip]="false"
            ></app-our-pick-icon>
            <app-our-pick-icon
              class="icon"
              [ngClass]="{ hidden: !player.isPremium }"
              [ngClass.lt-md]="{ 'hidden-mobile': !player.isPremium }"
              [icon]="Types.PREMIUM"
              [showTooltip]="false"
            ></app-our-pick-icon>
            <app-our-pick-icon
              class="icon"
              [ngClass]="{ hidden: !player.isBargain }"
              [ngClass.lt-md]="{ 'hidden-mobile': !player.isBargain }"
              [icon]="Types.BARGAIN"
              [showTooltip]="false"
            ></app-our-pick-icon>
            <app-our-pick-icon
              class="icon"
              [ngClass]="{ hidden: !player.isDifferential }"
              [ngClass.lt-md]="{ 'hidden-mobile': !player.isDifferential }"
              [icon]="Types.DIFFERENTIAL"
              [showTooltip]="false"
            ></app-our-pick-icon>
            <app-our-pick-icon
              class="icon"
              [ngClass]="{ hidden: !player.isSurprising }"
              [ngClass.lt-md]="{ 'hidden-mobile': !player.isSurprising }"
              [icon]="Types.SURPRISING"
              [showTooltip]="false"
            ></app-our-pick-icon>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="!playersFound" fxLayoutAlign="center center">
  <span>No players matching filters criteria.</span>
</div>
