@import '/src/variables.scss';

.totals {
  padding: 10px 30px;
  background-color: $colorGreyBackround;
  border-radius: 10px;
  width: max-content;

  .label {
    font-size: 17px;
  }
}

.totals-mobile {
  padding: 10px 20px;
}
// .my-team-totals-card {
//   .label {
//     font-size: 17px;
//   }
// }

// .my-team-totals-card-mobile {
//   width: 100%;
// }
