.position,
.content {
  margin-top: 20px;
}

.filters-100 {
  width: 100%;
}

.filters-90 {
  width: 90%;
}

.filters-80 {
  width: 80%;
}

.filters-60 {
  width: 60%;
}

.action {
  margin-right: -7px;
}
