<div
  class="our-picks-display-settings-container"
  *ngIf="settings$ | async"
  fxLayout="row"
  fxLayout.xs="column"
  fxLayoutGap.xs="10px"
  fxLayoutAlign="space-evenly center"
>
  <app-switch
    name="ourPicksViews"
    [value]="settings$ | async | field: 'view'"
    [items]="viewItems"
    (switchChange)="onViewChange($event)"
  ></app-switch>
  <app-switch
    *ngIf="(screenLarge$ | async) && (settings$ | async | field: 'view') === Views.EXTENDED"
    name="ouPicksDisplays"
    [value]="settings$ | async | field: 'display'"
    [items]="displayItems"
    (switchChange)="onDisplayChange($event)"
  ></app-switch>
  <app-sort-by
    [showLabel]="false"
    [defaultValue]="settings$ | async | field: 'sortBy'"
    [items]="(settings$ | async | field: 'view') === Views.EXTENDED ? sortsExtended : sortsSimplified"
    (sortByChange)="onSortChange($event)"
  ></app-sort-by>
</div>
