<app-white-block *ngIf="types">
  <div>
    <div class="calculations flex-row-center">
      <app-switcher
        name="calculation_types"
        [showSelectOnMobile]="true"
        selectLabel="Calculation type"
        [items]="types"
        [value]="filters.calculation"
        (switchChange)="onTypeChange($event)"
      ></app-switcher>
    </div>
    <div class="sliders">
      <app-max-popularity-slider
        [value]="filters.popularity"
        (popularityChange)="onPopularityChange($event)"
      ></app-max-popularity-slider>
      <app-max-popularity-slider
        label="Max top500 popularity"
        [value]="filters.top500Popularity"
        (popularityChange)="onTop500PopularityChange($event)"
      ></app-max-popularity-slider>
      <app-max-price-slider
        [maxPrice]="maxPrice"
        [value]="filters.price"
        (priceChange)="onPriceChange($event)"
      ></app-max-price-slider>
    </div>
  </div>
</app-white-block>
