@import '/src/variables.scss';

.bundesliga-table-container {
  overflow-x: auto;

  table {
    font-size: $fontSizeSmall;
    min-width: 770px;

    th.mat-table-sticky {
      top: unset !important;
    }

    tr.selected {
      background-color: rgba($colorOrange, 0.2);
    }

    tr {
      td {
        font-size: $fontSizeSmall;
      }

      th:first-child,
      td:first-child {
        padding-left: 0;
      }

      th:last-child,
      td:last-child {
        width: 40px;
        padding-right: 0;
      }

      td.rank {
        text-align: center;
      }
    }
  }
}
