<div class="bundesliga-table-container flex flex-col justify-center items-stretch lg:items-center">
  <table
    mat-table
    matSort
    matSortActive="points"
    matSortStart="desc"
    matSortDirection="desc"
    matSortDisableClear
    class="table-responsive lg:max-w-[770px]"
    (matSortChange)="onSortChange($event)"
    [dataSource]="dataSource"
  >
    <ng-container matColumnDef="team" sticky>
      <th class="col-team" mat-header-cell *matHeaderCellDef sticky class="team">Team</th>
      <td class="col-team" mat-cell *matCellDef="let team">
        <div class="flex-row-start-center gap-x-2">
          <app-team-logo [team]="team.shortName"></app-team-logo>
          <span class="hidden lg:block">{{ team.name }}</span>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="rank">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="rank">Rank</th>
      <td class="rank" mat-cell *matCellDef="let team">
        <div class="flex-row-center-center">
          <div>
            <span style="visibility: hidden" *ngIf="team.rank < 10">0</span>
            <span>{{ team.rank }}</span>
          </div>

          <span *ngIf="team.previousRank != 0">
            <app-compare-arrow [firstValue]="team.rank" [secondValue]="team.previousRank"></app-compare-arrow>
          </span>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="points">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Pts</th>
      <td mat-cell *matCellDef="let team">
        <span
          ><strong>{{ team.points }}</strong></span
        >
      </td>
    </ng-container>

    <ng-container matColumnDef="gamesPlayed">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>GP</th>
      <td mat-cell *matCellDef="let team">
        <span>{{ team.gamesPlayed }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="wins">
      <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Wins">W</th>
      <td mat-cell *matCellDef="let team">
        <span>{{ team.wins }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="draws">
      <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Draws">D</th>
      <td mat-cell *matCellDef="let team">
        <span>{{ team.draws }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="losses">
      <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Losses">L</th>
      <td mat-cell *matCellDef="let team">
        <span>{{ team.losses }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="goalsScored">
      <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Goals Scored">GS</th>
      <td mat-cell *matCellDef="let team">
        <span>{{ team.goalsScored }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="goalsConceded">
      <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Goals Conceded">GC</th>
      <td mat-cell *matCellDef="let team">
        <span>{{ team.goalsConceded }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="gspg">
      <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Goals Scored Per Game">GSpG</th>
      <td mat-cell *matCellDef="let team">
        <span>{{ team.gspg }} </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="gcpg">
      <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Goals Conceded Per Game">GCpG</th>
      <td mat-cell *matCellDef="let team">
        <span>{{ team.gcpg }} </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="form">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Form</th>
      <td mat-cell *matCellDef="let team">
        <app-form-dotted [form]="team.form"></app-form-dotted>
      </td>
    </ng-container>

    <ng-container matColumnDef="goalsDiff">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Diff</th>
      <td mat-cell *matCellDef="let team">
        <span>{{ team.goalsDiff > 0 ? '+' : '' }}{{ team.goalsDiff }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="cs">
      <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Clean sheets">CS</th>
      <td mat-cell *matCellDef="let team">
        <span>{{ team.cleanSheetsPercentage }}%</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="fts">
      <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Failed to score">FTS</th>
      <td mat-cell *matCellDef="let team">
        <span>{{ team.failedToScorePercentage }}%</span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns" [ngClass]="{ selected: isSelected(row.shortName) }"></tr>
  </table>
</div>
