<div class="flex flex-col gap-y-2.5">
  <app-white-block padding="20px 10px 0px 10px">
    <div>
      <app-players-stats-points-filters
        [filters]="state$ | async | field : 'filters'"
      ></app-players-stats-points-filters>
    </div>
  </app-white-block>
  <app-white-block padding="0px 0px 10px 0px">
    <div>
      <app-players-stats-points-table
        [players]="state$ | async | field : 'players'"
        [filters]="state$ | async | field : 'filters'"
      ></app-players-stats-points-table>
    </div>
  </app-white-block>
</div>
