@import '/src/variables.scss';

.app-content {
  min-height: 100%;

  .sidenav {
    background-color: $colorGrey;
  }

  .loading {
    width: 100%;
    //margin-top: -4px;
  }

  .content {
    margin-top: 6px;
  }
}

.footer {
  color: $colorGrey;
  font-size: $fontSizeSmall;
  padding: 15px 40px;

  .join-our-league {
    text-decoration: none;
    margin-bottom: 10px;
  }

  .footer-section {
    font-weight: 500;
  }
}
