<div *ngIf="!(showLoading$ | async)" [@inOutAnimation]>
  <app-startup-loading></app-startup-loading>
</div>

<div class="app-content" *ngIf="showConent$ | async" [@inOutAnimation]>
  <mat-sidenav-container>
    <mat-sidenav (closed)="closeSidenav()" mode="over" [opened]="sidenavOpened$ | async">
      <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-header></app-header>
      <router-outlet></router-outlet>
      <div class="footer"></div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<app-toastr></app-toastr>
