<h1 fxHide>Fantasy Bundesliga Stats | Tips | Predicted Lineups</h1>
<div class="app-content">
  <mat-sidenav-container
    class="side-nav-container animate__animated animate__fadeIn"
    [ngStyle.lt-sm]="{ position: (sidenavOpened$ | async) ? 'fixed' : 'relative' }"
    autosize
    (backdropClick)="toggleSideNav()"
  >
    <mat-sidenav class="sidenav" [mode]="sideNavMode" [opened]="sidenavOpened$ | async">
      <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-header></app-header>
      <mat-progress-bar *ngIf="loading" class="loading" mode="query"></mat-progress-bar>
      <div *ngIf="!loading" class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<app-toastr></app-toastr>
