<div class="select-teams-from-table-container" ngClass.lt-md="select-teams-from-table-container-mobile">
  <div *ngIf="loading" fxLayoutAlign="center center">
    <mat-progress-spinner [diameter]="50" [mode]="'indeterminate'"></mat-progress-spinner>
  </div>

  <div [hidden]="loading">
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      matSortStart="desc"
      matSortActive="rank"
      matSortDisableClear
      matSortDirection="asc"
    >
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let team">
          <mat-checkbox
            [checked]="isSelected(team.team)"
            (change)="toggleTeamSelection(team.team)"
            (click)="$event.stopPropagation()"
          ></mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="rank">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Rank</th>
        <td mat-cell *matCellDef="let team">{{ team.rank }}</td>
      </ng-container>
      <ng-container matColumnDef="team">
        <th mat-header-cell *matHeaderCellDef>Team</th>
        <td mat-cell *matCellDef="let team">
          <app-team-logo [team]="team.team" [height]="30"></app-team-logo>
        </td>
      </ng-container>
      <ng-container matColumnDef="last3Games">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Last 3</th>
        <td mat-cell *matCellDef="let team">{{ team.last3Games }}</td>
      </ng-container>
      <ng-container matColumnDef="last5Games">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Last 5</th>
        <td mat-cell *matCellDef="let team">{{ team.last5Games }}</td>
      </ng-container>
      <ng-container matColumnDef="gspg">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>GSPG</th>
        <td mat-cell *matCellDef="let team">{{ team.gspg }}</td>
      </ng-container>
      <ng-container matColumnDef="gcpg">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>GCPG</th>
        <td mat-cell *matCellDef="let team">{{ team.gcpg }}</td>
      </ng-container>
      <ng-container matColumnDef="goals">
        <th mat-header-cell *matHeaderCellDef>Goals</th>
        <td mat-cell *matCellDef="let team">{{ team.goalsScored }}:{{ team.goalsConceded }}</td>
      </ng-container>
      <ng-container matColumnDef="form">
        <th mat-header-cell *matHeaderCellDef>Form</th>
        <td mat-cell *matCellDef="let team" [style]="getFormColumnStyleWidth(team.form)">
          <app-team-form [form]="getForm(team.form)"></app-team-form>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let team; columns: displayedColumns" (click)="toggleTeamSelection(team.team)"></tr>
    </table>
  </div>
</div>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button class="red-background" mat-button (click)="confirm()">Confirm</button>
</mat-dialog-actions>
