<app-white-block>
  <div class="column" class="summary-container">
    <div class="filters flex-row-wrap justify-evenly items-center gap-x-2.5">
      <app-max-price-slider
        class="filter slider"
        [maxPrice]="26.5"
        [value]="maxPrice"
        (priceChange)="onPriceChange($event)"
      ></app-max-price-slider>
      <app-max-popularity-slider
        class="filter slider"
        [value]="maxPopularity"
        (popularityChange)="onPopularityChange($event)"
      ></app-max-popularity-slider>

      <app-form-field label="Calculations">
        <mat-form-field class="custom-select">
          <mat-select [ngModel]="lineupType" (selectionChange)="onLineupTypeChange($event.value)">
            <mat-option *ngFor="let item of lineupTypes" [value]="item.value">
              {{ item.description }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </app-form-field>
    </div>
    <div class="flex-row-wrap justify-evenly items-start gap-4">
      <app-team-lineup *ngIf="lineup" [lineup]="lineup"></app-team-lineup>
      <app-title-underlined-grey>
        <span title>Team</span>
        <div content>
          <table class="comparison-table team-table mt-1">
            <tr>
              <td>Name</td>
              <td>Pos</td>
              <td>$</td>
              <td>%</td>
              <td>Pts</td>
            </tr>
            <tr class="gk" *ngFor="let player of team.goalkeepers">
              <ng-template
                [ngTemplateOutlet]="tablePlayerRow"
                [ngTemplateOutletContext]="{ player: player }"
              ></ng-template>
            </tr>
            <tr class="def" *ngFor="let player of team.defenders">
              <ng-template
                [ngTemplateOutlet]="tablePlayerRow"
                [ngTemplateOutletContext]="{ player: player }"
              ></ng-template>
            </tr>
            <tr class="mid" *ngFor="let player of team.midfielders">
              <ng-template
                [ngTemplateOutlet]="tablePlayerRow"
                [ngTemplateOutletContext]="{ player: player }"
              ></ng-template>
            </tr>
            <tr class="for" *ngFor="let player of team.forwards">
              <ng-template
                [ngTemplateOutlet]="tablePlayerRow"
                [ngTemplateOutletContext]="{ player: player }"
              ></ng-template>
            </tr>
          </table>
        </div>
      </app-title-underlined-grey>
    </div>
  </div>
</app-white-block>

<ng-template #tablePlayerRow let-player="player">
  <td>
    <div class="flex-row-start-center gap-x-1">
      <app-team-logo appScale="0.6" [height]="17" [team]="player.teamShort"></app-team-logo>
      <span>{{ player.name }}</span>
    </div>
  </td>
  <td>
    {{ player.position | uppercase }}
  </td>
  <td>{{ player.price }}M</td>
  <td>{{ player.popularity }}%</td>
  <td>{{ player.points }}</td>
</ng-template>
