<div *ngIf="matchday$ | async">
  <div
    class="leaders-matchday-content"
    fxLayout.gt-lg="row"
    fxLayoutAlign.gt-lg="space-evenly"
    fxLayout="column"
    fxLayoutAlign="center"
    fxLayoutGap="10px"
  >
    <div
      fxLayout.gt-lg="column"
      fxLayoutAlign.gt-lg="start"
      fxLayout="row wrap"
      fxLayoutAlign="center"
      fxLayoutGap="30px grid"
    >
      <app-min-max-avg title="Team Points" valueSuffix="pts" [minMaxAvg]="(matchday$ | async).points"></app-min-max-avg>
      <app-min-max-avg title="Team Value" valueSuffix="M" [minMaxAvg]="(matchday$ | async).teamValue"></app-min-max-avg>
      <app-leaders-formations-usage [formations]="(matchday$ | async).formations"></app-leaders-formations-usage>
    </div>
    <app-leaders-players-positions [players]="(matchday$ | async).players"></app-leaders-players-positions>
  </div>
</div>
