<div class="leaders-container" fxLayout="column">
  <div *ngIf="matchday$ | async" fxLayout="column" fxLayoutGap="15px">
    <app-leaders-general-stats [matchday]="matchday$ | async"></app-leaders-general-stats>
    <app-leaders-players-positions [players]="(matchday$ | async).players"></app-leaders-players-positions>
  </div>

  <app-white-block padding="20px" class="no-data" *ngIf="!(matchday$ | async)">
    <h2 fxLayoutAlign="start center" fxLayout="column">
      Leaders stats will be available after MD 1.
      <a href="https://twitter.com/FantasyblS" target="blank" fxLayoutAlign="center center" fxLayoutGap="15px"
        ><span>Follow us to stay tuned</span>
        <fa-icon class="twitter blue" [icon]="['fab', 'twitter']"></fa-icon>
      </a>
    </h2>
  </app-white-block>
</div>
