<app-title-underlined-grey>
  <span title>Points efficiency</span>
  <div content>
    <table class="comparison-table">
      <tr>
        <td></td>
        <td>overall</td>
        <td>last 5</td>
        <td>home</td>
        <td>away</td>
        <td class="hidden md:table-cell">vs top 6</td>
        <td class="hidden md:table-cell">vs worst 6</td>
      </tr>
      <ng-template [ngTemplateOutlet]="row" [ngTemplateOutletContext]="{ field: 'five', points: '5' }"></ng-template>
      <ng-template [ngTemplateOutlet]="row" [ngTemplateOutletContext]="{ field: 'ten', points: '10' }"></ng-template>
      <ng-template
        [ngTemplateOutlet]="row"
        [ngTemplateOutletContext]="{ field: 'fifteen', points: '15' }"
      ></ng-template>
      <ng-template [ngTemplateOutlet]="row" [ngTemplateOutletContext]="{ field: 'twenty', points: '20' }"></ng-template>
    </table>
  </div>
</app-title-underlined-grey>

<ng-template #row let-points="points" let-field="field">
  <tr>
    <td>>= {{ points }}pts</td>
    <td>{{ state[field].overall }}</td>
    <td>{{ state[field].last5 }}</td>
    <td>{{ state[field].home }}</td>
    <td>{{ state[field].away }}</td>
    <td class="hidden md:table-cell">{{ state[field].vsTop6 }}</td>
    <td class="hidden md:table-cell">{{ state[field].vsWorst6 }}</td>
  </tr>
</ng-template>
