<div *ngIf="ourPicks$ | async" class="flex-row-center-center mt-4">
  <div appStickyWrapper *ngIf="ourPicks$ | async | field : 'published'">
    <table class="comparison-table">
      <tr>
        <td [appSticky]="{ position: 'left', px: 0 }"></td>
        <td>Team</td>
        <td>Type</td>
        <td>Pr</td>
        <td>Next</td>
        <td>$</td>
        <td>%</td>
        <td>L100</td>
        <td>L500</td>
        <td>TP</td>
      </tr>

      <ng-template
        [ngTemplateOutlet]="divider"
        [ngTemplateOutletContext]="{ text: 'GOALKEEPERS (' + (goalkeepers$ | async | length) + ')', noPadding: true }"
      ></ng-template>

      <ng-template
        [ngTemplateOutlet]="playersRows"
        [ngTemplateOutletContext]="{ players: goalkeepers$ | async }"
      ></ng-template>

      <ng-template
        [ngTemplateOutlet]="divider"
        [ngTemplateOutletContext]="{ text: 'DEFENDERS (' + (defenders$ | async | length) + ')' }"
      ></ng-template>

      <ng-template
        [ngTemplateOutlet]="playersRows"
        [ngTemplateOutletContext]="{ players: defenders$ | async }"
      ></ng-template>

      <ng-template
        [ngTemplateOutlet]="divider"
        [ngTemplateOutletContext]="{ text: 'MIDFIELDERS (' + (mids$ | async | length) + ')' }"
      ></ng-template>

      <ng-template
        [ngTemplateOutlet]="playersRows"
        [ngTemplateOutletContext]="{ players: mids$ | async }"
      ></ng-template>

      <ng-template
        [ngTemplateOutlet]="divider"
        [ngTemplateOutletContext]="{ text: 'FORWARDS (' + (forwards$ | async | length) + ')' }"
      ></ng-template>

      <ng-template
        [ngTemplateOutlet]="playersRows"
        [ngTemplateOutletContext]="{ players: forwards$ | async }"
      ></ng-template>
    </table>

    <app-legend>
      <span *ngFor="let item of iconsLegend" class="flex-row-start-center gap-x-1">
        <app-our-pick-icon [icon]="item.icon"></app-our-pick-icon>
        <span class="item-description"> {{ item.description }}</span>
      </span>
    </app-legend>
  </div>

  <app-follow-us
    *ngIf="ourPicks$ | async | field : 'published' | reverseBoolean"
    text="Sorry, we haven't published our picks yet."
  >
  </app-follow-us>
</div>

<ng-template #divider let-text="text" let-noPadding="noPadding">
  <tr appStickyWrapper>
    <td class="divider" [ngClass]="{ 'divider-no-padding': noPadding }" colspan="10">
      <span [appSticky]="{ position: 'left', px: 0 }">{{ text }}</span>
    </td>
  </tr>
</ng-template>

<ng-template #playersRows let-players="players">
  <tr *ngFor="let player of players">
    <td [appSticky]="{ position: 'left', px: 0 }">
      <app-player-name-with-availability
        [name]="player.name"
        [lastName]="player.lastName"
        [id]="player.playerId"
        [suspensionRisk]="player.isSuspensionRisk"
        [available]="player.isAvailable"
        [returning]="player.isReturning"
      ></app-player-name-with-availability>
    </td>
    <td><app-team-logo [team]="player.team.teamShort" [height]="18"></app-team-logo></td>
    <td>
      <div class="icons flex flex-row gap-x-1">
        <app-our-pick-icon
          [ngClass]="{ hidden: !player.isMustHave }"
          [icon]="Types.MUST_HAVE"
          [showTooltip]="false"
        ></app-our-pick-icon>
        <app-our-pick-icon
          [ngClass]="{ hidden: !player.isBargain }"
          [icon]="Types.BARGAIN"
          [showTooltip]="false"
        ></app-our-pick-icon>
        <app-our-pick-icon
          [ngClass]="{ hidden: !player.isDifferential }"
          [icon]="Types.DIFFERENTIAL"
          [showTooltip]="false"
        ></app-our-pick-icon>
      </div>
    </td>
    <td>
      <app-player-icon-prediction [prediction]="player.prediction"></app-player-icon-prediction>
    </td>
    <td>
      <app-game-team-venue
        [teamShort]="player.nextGame.opponentShort"
        [logoHeight]="18"
        [isHome]="player.nextGame.isHome"
        [showFirstGame]="true"
        [isFirstGame]="player.nextGame.isFirstGame"
        [showRank]="true"
        [rank]="player.nextGame.opponentRank"
      ></app-game-team-venue>
    </td>
    <td>{{ player.price }}</td>
    <td>{{ player.popularity }}</td>
    <td>{{ player.top100Popularity }}</td>
    <td>{{ player.top500Popularity }}</td>
    <td>{{ player.totalPoints }}</td>
  </tr>
</ng-template>
