<div class="flex flex-col" *ngIf="showPlayers$ | async">
  <app-players-compare-title [players]="playersCards$ | async"></app-players-compare-title>

  <div class="flex flex-col gap-y-4">
    <app-white-block padding="10px 10px 0 10px">
      <div class="flex flex-col gap-y-2.5">
        <app-players-compare-filters></app-players-compare-filters>

        <div class="flex flex-col gap-y-5">
          <app-players-compare-fixtures
            [players]="state$ | async | field : 'players'"
            [teams]="state$ | async | field : 'teams'"
            [lastMatchday]="state$ | async | field : 'lastMatchday'"
            [includeMatchdays]="filters$ | async | field : 'includeMatchdays'"
          ></app-players-compare-fixtures>

          <app-players-compare-games
            [players]="state$ | async | field : 'players'"
            [teams]="state$ | async | field : 'teams'"
            [lastMatchday]="state$ | async | field : 'lastMatchday'"
            [filters]="filters$ | async"
          >
          </app-players-compare-games>
        </div>
      </div>
    </app-white-block>

    <app-white-block>
      <div>
        <app-players-compare-comparison-general
          [players]="state$ | async | field : 'players'"
          [teams]="state$ | async | field : 'teams'"
          [lastMatchday]="state$ | async | field : 'lastMatchday'"
        ></app-players-compare-comparison-general>
      </div>
    </app-white-block>
  </div>
</div>

<div class="flex flex-col gap-y-5" *ngIf="showPlayers$ | async | reverseBoolean">
  <app-white-block>
    <div class="flex-row-center-center">
      <span class="text-span">Add players to compare</span>
      <app-players-picker
        [type]="'button'"
        [filters]="{ excludedIds: state$ | async | field : 'players' | pluck : 'id' }"
        [closeAfterSelect]="true"
        (playerSelected)="onPlayerSelected($event)"
      ></app-players-picker>
    </div>
  </app-white-block>

  <app-white-block>
    <div class="flex-row-center-center">
      <span class="text-span">Compare popular goalkeepers</span>
      <a [routerLink]="['bestgks']">here</a>
    </div>
  </app-white-block>

  <app-white-block>
    <div class="flex flex-col gap-y-2.5">
      <div class="flex-row-center-center">
        <span class="text-span">Or generate comparison for:</span>
      </div>
      <div class="generate-filters-container flex-row-wrap justify-evenly items-center gap-x-5 gap-y-2">
        <app-form-field label="Top N">
          <mat-form-field class="imat-form-field-no-padding w-[80px]">
            <input matInput type="number" min="1" [(ngModel)]="generateOptions.count" />
          </mat-form-field>
        </app-form-field>

        <app-position-switch [value]="generateOptions.position" (change)="onPositionChange($event)">
        </app-position-switch>

        <app-max-price-slider
          class="w-[300px]"
          [maxPrice]="maxPrice"
          [value]="generateOptions.maxPrice"
          (priceChange)="onMaxPriceChange($event)"
        ></app-max-price-slider>

        <button class="main-background" mat-button (click)="generateComparison()">Generate</button>
      </div>
    </div>
  </app-white-block>
</div>
