<mat-card class="card">
  <div fxLayout="column">
    <div class="title" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="50px">
      <div fxLayoutGap="10px" fxLayoutAlign="center center">
        <app-team-logo [height]="30" [team]="player.team.shortName"></app-team-logo>
        <h2>{{ player.name }}</h2>
      </div>
      <div fxLayout="row" fxLayoutGap="10px">
        <h3>{{ player.position | uppercase }}</h3>
        <mat-chip-list>
          <mat-chip>{{ player.fantasy.price }}M</mat-chip>
        </mat-chip-list>
      </div>
    </div>
    <div class="card-stats" fxLayoutAlign="space-between" fxLayoutGap="40px">
      <ul fxLayoutGap="25px">
        <li>
          <h3>{{ player.fantasy.totalPoints }}</h3>
          <span class="sub">total pts</span>
        </li>
        <li>
          <h3>{{ player.fantasy.last5 }}</h3>
          <span class="sub">last 5 pts</span>
        </li>
        <li>
          <h3>{{ player.fantasy.lastMD }}</h3>
          <span class="sub">last MD pts</span>
        </li>
        <li>
          <h3>{{ player.fantasy.popularity }}%</h3>
          <span class="sub">popularity</span>
        </li>
        <li>
          <h3>{{ player.fantasy.top100Popularity }}%</h3>
          <span class="sub">leaders %</span>
        </li>
      </ul>
    </div>
    <div class="card-stats card-stats-second" fxLayoutAlign="space-between" fxLayoutGap="40px">
      <ul fxLayoutGap="25px">
        <li>
          <h3>{{ player.fantasy.seasonAvg }}</h3>
          <span class="sub">season avg</span>
        </li>
        <li>
          <h3>{{ player.fantasy.last5Avg }}</h3>
          <span class="sub">last 5 avg</span>
        </li>
        <li>
          <h3>{{ player.fantasy.bestGame.points }}</h3>
          <span class="sub">best game</span>
        </li>
        <li>
          <h3>{{ player.fantasy.worstGame.points }}</h3>
          <span class="sub">worst game</span>
        </li>
      </ul>
    </div>
  </div>
</mat-card>
