<div>
  <div class="filters flex-row-wrap justify-evenly gap-x-5 gap-y-2.5 pb-2.5">
    <app-position-switch [value]="state.position" (change)="onPositionChange($event)"></app-position-switch>

    <app-form-field *ngIf="!(mobile$ | async)" label="Games">
      <app-switcher
        [items]="typeFilterItems"
        name="types"
        [value]="state.type"
        (switchChange)="onTypeChange($event)"
      ></app-switcher>
    </app-form-field>

    <mat-form-field *ngIf="mobile$ | async" class="material-original">
      <mat-label>Games</mat-label>
      <mat-select [ngModel]="state.type" name="types" (selectionChange)="onTypeChangeDropdown($event)">
        <mat-option *ngFor="let type of typeFilterItems" [value]="type.value">{{ type.description }}</mat-option>
      </mat-select>
    </mat-form-field>

    <app-form-field label="Order by">
      <app-switcher
        [items]="orderByFilterItems"
        name="orderBys"
        [value]="state.orderBy"
        (switchChange)="onOrderByChange($event)"
      ></app-switcher>
    </app-form-field>
  </div>

  <app-white-block>
    <div class="flex flex-col 2xl:flex-row-reverse gap-y-2.5 gap-x-5 justify-center">
      <div class="w-full xl:w-1/4 text-center">
        <app-ad-banner *appIfScreen="{ size: screens.XXL, type: 'lt' }" slot="horizontal"></app-ad-banner>
        <app-ad-banner *appIfScreen="{ size: screens.XXL, type: 'ge' }" slot="multiplexVertical1"></app-ad-banner>
      </div>

      <div>
        <div class="content" *ngIf="state.data && lastMatchday > 0">
          <app-players-list-generic
            [config]="state.config"
            [data]="state.data"
            (sortChange)="onSortChange($event)"
          ></app-players-list-generic>
        </div>

        <div class="follow-us" *ngIf="lastMatchday == 0">
          <app-follow-us text=" Players stats will be available after MD 1."></app-follow-us>
        </div>
      </div>
    </div>
  </app-white-block>
</div>
