<div>
  <div class="filters" fxLayout="row wrap" fxLayoutAlign="space-evenly center" fxLayoutGap="20px">
    <div>
      <app-position-switch [value]="state.position" (cahnge)="onPositionChange($event)"></app-position-switch>
    </div>

    <div>
      <app-switch
        *ngIf="!(mobile$ | async)"
        [items]="typeFilterItems"
        name="types"
        [value]="state.type"
        (switchChange)="onTypeChange($event)"
      ></app-switch>
      <mat-form-field *ngIf="mobile$ | async">
        <mat-select [ngModel]="state.type" name="types" (selectionChange)="onTypeChangeDropdown($event)">
          <mat-option *ngFor="let type of typeFilterItems" [value]="type.value">{{ type.description }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <app-switch
        [items]="orderByFilterItems"
        name="orderBys"
        [value]="state.orderBy"
        (switchChange)="onOrderByChange($event)"
      ></app-switch>
    </div>
  </div>

  <div class="content" *ngIf="state.data && lastMatchday > 0">
    <app-players-list-generic
      [config]="state.config"
      [data]="state.data"
      (sortChange)="onSortChange($event)"
    ></app-players-list-generic>
  </div>

  <div class="follow-us" *ngIf="lastMatchday == 0">
    <app-follow-us-to-stay-tuned text=" Players stats will be available after MD 1."></app-follow-us-to-stay-tuned>
  </div>
</div>
