<div class="first-games-by-teams-container">
  <ul>
    <li *ngFor="let team of teams$ | async | orderBy: ['-firstGamesCount', '-firstGamesPlayedCount']">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="25px">
        <app-team-logo [height]="40" [team]="team.teamShort"></app-team-logo>
        <div fxLayout="row wrap" fxLayoutGap="15px grid">
          <div *ngFor="let game of team.games" fxLayout="row">
            <span class="chip" [ngClass]="{ 'chip-played': game.wasPlayed, 'chip-green': !game.wasPlayed }"
              >MD {{ game.matchday }}</span
            >
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
