<!-- <app-white-block padding="10px 10px 0 10px">
  <div>
    <mat-form-field>
      <mat-label>Include matchdays</mat-label>
      <mat-select [value]="kickOffTimesMatchdays" (valueChange)="onNextMatchdaysChanged($event)">
        <mat-option [value]="0">All</mat-option>
        <mat-option [value]="1">Next matchday</mat-option>
        <mat-option *ngFor="let md of nextMatchdays" [value]="md">Next {{ md }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</app-white-block> -->

<div fxLayout="column" fxLayoutGap="7px" *ngIf="matchdaysFixtures | arrayNotEmpty">
  <app-my-team-kick-off-times-matchday
    *ngFor="let nextMatchdayFixtures of matchdaysFixtures"
    [players]="players"
    [nextMatchdayFixtures]="nextMatchdayFixtures"
  ></app-my-team-kick-off-times-matchday>
</div>
