<div class="player-details-content-container" fxLayout="column" fxLayoutGap="30px">
  <app-player-details-main fxFlexAlign="center" [player]="player$ | async"></app-player-details-main>
  <app-player-details-charts [player]="player$ | async"></app-player-details-charts>
  <app-player-details-top-games [player]="player$ | async"></app-player-details-top-games>
  <app-player-details-matchdays [player]="player$ | async"></app-player-details-matchdays>
</div>

<!-- <br />
<br />
<br />
<br />
<br />
{{ player$ | async | json }} -->
