<div class="player-details-content-container" fxLayout="column" fxLayoutGap="30px">
  <app-player-details-main fxFlexAlign="center" [player]="state$ | async | field: 'player'"></app-player-details-main>
  <app-player-details-charts
    [player]="state$ | async | field: 'player'"
    [positionStats]="state$ | async | field: 'positionStats'"
  ></app-player-details-charts>
  <app-player-details-top-games [player]="state$ | async | field: 'player'"></app-player-details-top-games>
  <app-player-details-matchdays [player]="state$ | async | field: 'player'"></app-player-details-matchdays>
  <app-player-details-next-matchday [player]="state$ | async | field: 'player'"></app-player-details-next-matchday>
</div>

<!-- <br />
<br />
<br />
<br />
<br />
{{ state$ | async | json }} -->
