<div fxLayout="column">
  <div>
    <div class="display" fxLayout="row wrap" fxLayoutAlign="space-between center">
      <app-players-position-switch
        [showLabel]="false"
        [selected]="filters.position"
        (positionChange)="onPositionChange($event)"
      ></app-players-position-switch>
      <app-select-dialog
        class="columns"
        *ngIf="shouldShowSelectColumnsDialog()"
        [config]="selectColumnsDialogConfig"
        (change)="onSelectedColumnsChange($event)"
      ></app-select-dialog>
      <mat-paginator fxFlexAlign="flex-end" showFirstLastButton [pageSizeOptions]="[10, 15, 20, 50]"></mat-paginator>
    </div>

    <div class="table-container">
      <table
        mat-table
        matSort
        matSortStart="desc"
        [matSortActive]="defaultSort"
        matSortDisableClear
        matSortDirection="desc"
        (matSortChange)="onSortChange($event)"
        class="table-responsive"
        [dataSource]="dataSource"
      >
        <ng-container matColumnDef="name" sticky>
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let player">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
              <app-team-logo [height]="20" [team]="player.teamShort"></app-team-logo>
              <app-player-name-link [name]="player.lastName" [id]="player.id"></app-player-name-link>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>Pos</th>
          <td mat-cell *matCellDef="let player">
            {{ player.position | uppercase }}
          </td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef>$</th>
          <td mat-cell *matCellDef="let player">
            {{ player.price }}
          </td>
        </ng-container>

        <ng-container matColumnDef="totalPoints">
          <th mat-header-cell mat-sort-header *matHeaderCellDef matTooltip="Total points">TP</th>
          <td mat-cell *matCellDef="let player">
            {{ player.totalPoints }}
          </td>
        </ng-container>

        <ng-container *ngFor="let statHeader of statsHeaders" [matColumnDef]="statHeader.header">
          <th
            mat-header-cell
            mat-sort-header
            *matHeaderCellDef
            [matTooltip]="statHeader.tooltip"
            [ngClass]="{ 'column-active': statHeader.isActive }"
          >
            {{ statHeader.header }}
          </th>
          <td mat-cell *matCellDef="let player" [ngClass]="{ 'column-active': statHeader.isActive }">
            {{ getCellValue(player, statHeader.header) }}
          </td>
        </ng-container>

        <ng-container matColumnDef="total">
          <th mat-header-cell mat-sort-header *matHeaderCellDef matTooltip="Total">Total*</th>
          <td mat-cell *matCellDef="let player">{{ getTotal(player) }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns" class="table-row"></tr>
        <tr mat-row *matRowDef="let player; columns: columns" class="table-row table-row-data"></tr>
      </table>
    </div>
  </div>

  <div class="legend" fxLayout="column" fxLayoutGap="10px">
    <span *ngIf="filters.type === 'bundesliga'">
      Bundesliga stats are calculated using fantasy points and based on their scoring rules.
    </span>
    <span *ngIf="filters.type === 'fantasy'"> Fantasy bundesliga stats are taken directly from the official app. </span>
    <span>*Total - sum of values from grey columns</span>
  </div>

  <div class="legend legend-points">
    <span>TP - Total points</span>
    <span *ngFor="let statHeader of statsHeaders"> {{ statHeader.header }} - {{ statHeader.tooltip }} </span>
  </div>
</div>
