.position {
  padding-left: 10px;
}

.table-container {
  overflow-x: auto;
}

.table-responsive {
  .table-row {
    height: 35px;
  }

  .table-row-data {
    &:hover {
      background-color: rgba($color: #000000, $alpha: 0.05);
    }
  }

  th.mat-header-cell:first-of-type {
    top: 0 !important;
  }

  th:last-of-type,
  td:last-of-type {
    padding-right: 0px;
  }

  th:first-of-type,
  td:first-of-type {
    padding-left: 15px;
  }
}

.legend-points {
  margin-top: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
}
