<div fxLayout="column">
  <div>
    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
      <app-players-position-switch
        class="position"
        [showLabel]="false"
        [selected]="filters$ | async | field: 'position'"
        (positionChange)="onPositionChange($event)"
      ></app-players-position-switch>
      <mat-paginator showFirstLastButton [pageSizeOptions]="[10, 15, 20, 50]"></mat-paginator>
    </div>

    <div class="table-container">
      <table
        mat-table
        matSort
        matSortStart="desc"
        [matSortActive]="defaultSort"
        matSortDisableClear
        matSortDirection="desc"
        (matSortChange)="onSortChange($event)"
        class="table-responsive"
        [dataSource]="dataSource"
      >
        <ng-container matColumnDef="name" sticky>
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let player">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
              <app-team-logo [height]="20" [team]="player.teamShort"></app-team-logo>
              <app-player-name-link [name]="player.lastName" [id]="player.id"></app-player-name-link>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>Pos</th>
          <td mat-cell *matCellDef="let player">
            {{ player.position | uppercase }}
          </td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef>$</th>
          <td mat-cell *matCellDef="let player">
            {{ player.price }}
          </td>
        </ng-container>

        <ng-container matColumnDef="totalPoints">
          <th mat-header-cell mat-sort-header *matHeaderCellDef matTooltip="Total points">TP</th>
          <td mat-cell *matCellDef="let player">
            {{ player.totalPoints }}
          </td>
        </ng-container>

        <ng-container *ngFor="let statHeader of statsHeaders" [matColumnDef]="statHeader.header">
          <th mat-header-cell mat-sort-header *matHeaderCellDef [matTooltip]="statHeader.tooltip">
            {{ statHeader.header }}
          </th>
          <td mat-cell *matCellDef="let player">
            {{ getCellValue(player, statHeader.header) }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns" class="table-row"></tr>
        <tr mat-row *matRowDef="let player; columns: columns" class="table-row"></tr>
      </table>
    </div>
  </div>

  <div class="legend">
    <span *ngIf="(filters$ | async | field: 'type') === 'bundesliga'">
      *Bundesliga stats are calculated using fantasy points and based on their scoring rules.
    </span>
    <span *ngIf="(filters$ | async | field: 'type') === 'fantasy'">
      *Fantasy bundesliga stats are taken directly from the official app.
    </span>
  </div>

  <div class="legend legend-points">
    <span>TP - Total points</span>
    <span *ngFor="let statHeader of statsHeaders"> {{ statHeader.header }} - {{ statHeader.tooltip }} </span>
  </div>
</div>
