@import '/src/variables.scss';

table.comparison-table {
  tr {
    td.game {
      margin: auto;
      padding: 7px 10px;
      height: 50px;
    }

    td.lost {
      background-color: $gameDifficultRed;
    }

    td.win {
      background-color: $gameDifficultGreen;
    }
  }

  tr:first-child {
    td {
      padding: 3px 10px;
    }
  }
}
