<div class="flex flex-col gap-y-2">
  <div class="w-[90%] text-center">
    <app-ad-banner type="horizontal"></app-ad-banner>
  </div>

  <app-matchday-tips-top-team-filters
    [filters]="state$ | async | field : 'filters'"
    [maxPrice]="state$ | async | field : 'maxPrice'"
    [lastMatchday]="state$ | async | field : 'lastMatchday'"
  ></app-matchday-tips-top-team-filters>

  <app-white-block padding="20px 20px 20px 20px" *ngIf="state$ | async | field : 'lastMatchday' | isGreaterThan : 0">
    <div class="flex-row-wrap justify-evenly">
      <app-team-lineup class="lineup" [lineup]="lineup$ | async"></app-team-lineup>
      <app-team-players-table
        appStickyWrapper
        [config]="playersTableConfig"
        [players]="playersTable$ | async"
      ></app-team-players-table>
    </div>
  </app-white-block>

  <app-follow-us
    *ngIf="state$ | async | field : 'lastMatchday' | isEqualTo : 0"
    text="Best team will be available after MD 1."
  ></app-follow-us>

  <div class="w-full text-center">
    <app-ad-banner type="horizontal"></app-ad-banner>
  </div>
</div>
