<div fxLayout="column" fxLayoutGap="20px">
  <app-my-team-selection
    [players]="state$ | async | field: 'players'"
    [settings]="state$ | async | field: 'displaySettings'"
  ></app-my-team-selection>

  <app-players-table [state]="state$ | async | field: 'playersTableState'"></app-players-table>

  <app-my-team-kick-off-times
    *ngIf="state$ | async | field: 'players' | arrayNotEmpty"
    [players]="state$ | async | field: 'players'"
    [nextMatchdaysFixtures]="state$ | async | field: 'nextFixtures'"
    [kickOffTimesMatchdays]="state$ | async | field: 'kickOffTimesMatchdays'"
    [lastKnownMatchday]="state$ | async | field: 'lastKnownMatchday'"
  ></app-my-team-kick-off-times>
</div>
