<div>
  <mat-card *ngIf="!(isMobile$ | async)">
    <mat-card-content>
      <div gdAreas="position form | price popularity | teams teams" gdGap="20px 10px" gdRows="auto auto auto">
        <app-players-filter-position gdArea="position"></app-players-filter-position>
        <app-players-filter-matchdays gdArea="form"></app-players-filter-matchdays>
        <app-players-filter-max-price gdArea="price"></app-players-filter-max-price>
        <app-players-filter-popularity gdArea="popularity"></app-players-filter-popularity>
        <app-players-filter-teams gdArea="teams"></app-players-filter-teams>
      </div>
    </mat-card-content>
  </mat-card>

  <app-expansion-panel *ngIf="isMobile$ | async" [opened]="false">
    <div header fxLayoutAlign="space-between">
      <span>Filters</span>
    </div>
    <div content fxLayoutGap="10px" fxLayout="column" fxLayoutAlign="start stretch">
      <app-players-filter-position></app-players-filter-position>
      <app-players-filter-matchdays></app-players-filter-matchdays>
      <app-players-filter-max-price></app-players-filter-max-price>
      <app-players-filter-popularity></app-players-filter-popularity>
      <app-players-filter-teams></app-players-filter-teams>
    </div>
  </app-expansion-panel>
</div>
