.subnavigation-container {
  .link {
    padding: 10px 15px;

    a,
    span {
      text-decoration: none;
      color: #fff;
      letter-spacing: 3px;
      font-family: Roboto, sans-serif;

      &.active {
        text-decoration: underline;
        text-decoration-color: #fff;
        text-decoration-thickness: 2px;
      }
    }

    .dropdown {
      cursor: default;

      &:hover .dropdown-content {
        display: block;
      }

      &-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 140px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;

        a {
          cursor: pointer;
          display: block;
          padding: 10px 20px;
          color: rgba(0, 0, 0, 0.7);

          &:hover {
            color: #000;
            background-color: #ddd;
          }
        }
      }
    }
  }
}
