<div class="flex flex-col gap-y-3">
  <app-view-title>
    <div subtitle class="flex flex-col gap-y-1.5">
      <div class="flex-row-center-center gap-x-1">
        <mat-icon class="red">not_interested</mat-icon>
        <span>Injured or suspended players</span>
      </div>
      <div class="small-mobile flex flex-row justify-end gap-x-1">
        <span>Source:</span><a class="blue" [href]="source" target="blank">LigaInsider.de</a>
      </div>
    </div>
  </app-view-title>
  <app-white-block padding="10px 10px">
    <div *ngIf="players$ | async">
      <app-players-list-base [players]="players$ | async"></app-players-list-base>
    </div>
  </app-white-block>
</div>
