<div fxLayout="column" fxLayoutGap="15px">
  <app-view-title>
    <div subtitle fxLayout="column" fxLayoutGap="10px">
      <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
        <mat-icon class="red">not_interested</mat-icon>
        <span>
          Players unavailable for next matchday (MD {{ (lastMatchday$ | async) + 1 }}). Definitely won't play.
        </span>
      </div>
      <div class="small-mobile" fxLayout="row" fxLayoutAlign="flex-end" fxLayoutGap="3px">
        <span>Source:</span><a class="blue" [href]="source" target="blank">LigaInsider.de</a>
      </div>
    </div>
  </app-view-title>
  <app-white-block padding="10px 10px">
    <div *ngIf="players$ | async">
      <app-players-list-base [players]="players$ | async"></app-players-list-base>
    </div>
  </app-white-block>
</div>
