<div fxLayout="column" fxLayoutGap="10px">
  <table
    mat-table
    matSort
    matSortStart="desc"
    matSortActive="rankFiltered"
    matSortDisableClear
    matSortDirection="asc"
    [dataSource]="dataSource"
    class="table-responsive"
    [ngClass]="{ 'small-font': smallFont }"
  >
    <ng-container matColumnDef="team">
      <th mat-header-cell *matHeaderCellDef>Team</th>
      <td class="team" mat-cell *matCellDef="let team">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
          <app-team-logo [team]="team.shortName" [height]="20"></app-team-logo>
          <span fxHide.lt-md>{{ team.name }}</span>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="rank">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <span fxHide.lt-sm>Rank</span>
        <span fxHide.gt-xs></span>
      </th>
      <td class="rank" mat-cell *matCellDef="let team">
        <div fxLayout="row" fxLayoutAlign="center center">
          <span>{{ team.rank }}</span>
          <span *ngIf="team.previousRank != 0">
            <mat-icon appScale="0.8" class="rank-diff green" *ngIf="team.rank < team.previousRank"
              >keyboard_arrow_up</mat-icon
            >
            <mat-icon appScale="0.8" class="rank-diff red" *ngIf="team.rank > team.previousRank"
              >keyboard_arrow_down</mat-icon
            >
            <span class="rank-diff-no-change" *ngIf="team.rank == team.previousRank">--</span>
          </span>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="points">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Pts</th>
      <td mat-cell *matCellDef="let team">
        <span
          ><strong>{{ team.points }}</strong></span
        >
      </td>
    </ng-container>

    <ng-container matColumnDef="gamesPlayed">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>GP</th>
      <td mat-cell *matCellDef="let team">
        <span>{{ team.gamesPlayed }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="wins">
      <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Wins">W</th>
      <td mat-cell *matCellDef="let team">
        <span>{{ team.wins }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="draws">
      <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Draws">D</th>
      <td mat-cell *matCellDef="let team">
        <span>{{ team.draws }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="losses">
      <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Losses">L</th>
      <td mat-cell *matCellDef="let team">
        <span>{{ team.losses }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="goalsScored">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>GS</th>
      <td mat-cell *matCellDef="let team">
        <span>{{ team.goalsScored }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="goalsConceded">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>GC</th>
      <td mat-cell *matCellDef="let team">
        <span>{{ team.goalsConceded }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="goals">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>G</th>
      <td mat-cell *matCellDef="let team">
        <span>{{ team.goalsScored }}:{{ team.goalsConceded }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="goalsDiff">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Diff</th>
      <td mat-cell *matCellDef="let team">
        <span *ngIf="team.goalsDiff > 0">+</span>
        <span>{{ team.goalsDiff }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="gspg">
      <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Goals Scored Per Game">GSPG</th>
      <td mat-cell *matCellDef="let team">
        <span>{{ team.gspg }} </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="gcpg">
      <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Goals Conceded Per Game">GCPG</th>
      <td mat-cell *matCellDef="let team">
        <span>{{ team.gcpg }} </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="cleanSheetsPercentage">
      <th mat-header-cell mat-sort-header *matHeaderCellDef matTooltip="Clean sheets percentage">CS</th>
      <td mat-cell *matCellDef="let team">
        <span fxHide.lt-lg>{{ team.cleanSheetsPercentage }}% ({{ team.cleanSheets }})</span>
        <span fxHide.gt-md>{{ team.cleanSheetsPercentage }}%</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="failedToScorePercentage">
      <th mat-header-cell mat-sort-header *matHeaderCellDef matTooltip="Failed to score percentage">FtS</th>
      <td mat-cell *matCellDef="let team">
        <span fxHide.lt-lg>{{ team.failedToScorePercentage }}% ({{ team.failedToScore }})</span>
        <span fxHide.gt-md>{{ team.failedToScorePercentage }}%</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="form">
      <th mat-header-cell *matHeaderCellDef>Form</th>
      <td mat-cell *matCellDef="let team">
        <app-team-form [form]="team.form" [showLabels]="false" mode="dot" [size]="'supersmall'"></app-team-form>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <div class="legend legend-grid">
    <span>GP - Games played</span>
    <span>W - Wins</span>
    <span>D - Draws</span>
    <span>L - Looses</span>
    <span>GS - Goals scored</span>
    <span>GC - Goals conceded</span>
    <span>GSPG - Goals scored per game</span>
    <span>GCPG - Goals conceded per game</span>
    <span>CS - Clean sheets percentage</span>
    <span>FtS - Failed to score percentage</span>
  </div>
</div>
