@import '/src/variables.scss';

table {
  //max-width: 1000px;

  tr {
    td {
      font-size: $fontSizeSmall;
    }

    th:first-child,
    td:first-child {
      padding-left: 5px;
    }

    th:last-child,
    td:last-child {
      padding-right: 5px;
    }

    td.rank {
      text-align: center;

      .rank-diff {
        padding-top: 3px;
      }

      .rank-diff-no-change {
        padding: 0 8px;
      }
    }

    td.team {
      padding-right: 10px;
    }
  }
}

table.small-font {
  tr {
    td {
      font-size: 11px;
    }
  }
}
