<div
  class="totals"
  ngClass.lt-sm="totals-mobile"
  fxLayout="row"
  fxLayoutAlign="start center"
  fxLayoutGap.gt-xs="30px"
  fxLayoutGap.lt-sm="20px"
>
  <span class="label bold">My Team:</span>
  <div fxLayoutAlign="start center" fxLayoutGap="4px">
    <mat-icon>people</mat-icon>
    <span class="label">{{ players.length }}</span>
  </div>
  <div fxLayoutAlign="start center" fxLayoutGap="4px">
    <mat-icon>attach_money</mat-icon>
    <span class="label">{{ players | sumBy: 'price' }}M</span>
  </div>
</div>
