.text-icon {
  width: 30px;
  height: 30px;
  font-size: 17px;
}

.icon {
  border-radius: 50%;
  padding: 1px;
}

.border-blue {
  border: 2px solid #0a00c8;
}

.border-green {
  border: 2px solid green;
}

.border-orange {
  border: 2px solid orange;
}

.border-pink {
  border: 2px solid #ff748c;
}

.border-yellow {
  border: 2px solid yellowgreen;
}
