<app-form-field [label]="label">
  <div class="flex flex-row gap-x-4 items-center">
    <mat-slider [max]="max" [min]="min" [step]="step" class="w-9/12">
      <input
        matSliderThumb
        [value]="valueInternal"
        (input)="onChange($event.target.value)"
        (dragStart)="onDragStart()"
        (dragEnd)="onDragEnd($event.value)"
      />
    </mat-slider>
    <span class="bolder">
      <span>{{ valueInternal?.toString() + valueSuffix }}</span>
    </span>
  </div>
</app-form-field>
