<mat-card
  *ngIf="sources$ | async"
  class="predicted-lineups-sources-container"
  ngClass.lt-sm="predicted-lineups-sources-container-mobile"
  fxLayout="column"
  fxLayoutAlign="center"
  fxLayoutGap="10px"
>
  <div fxLayout="row wrap" fxLayoutAlign="space-evenly" fxLayoutGap.gt-xs="20px" fxLayoutGap.xs="7px grid">
    <div *ngFor="let source of sources$ | async">
      <div class="source-item" fxLayoutGap="7px" fxLayoutAlign="start center">
        <span>{{ source.displayName }}</span>
        <span>
          <mat-icon *ngIf="source.published" matTooltip="Lineups available" class="green"
            >published_with_changes</mat-icon
          >
          <mat-icon *ngIf="!source.published" matTooltip="Lineups not published yet" class="red">unpublished</mat-icon>
        </span>
      </div>
    </div>
  </div>

  <div class="last-update-info" fxLayout="row wrap" fxLayoutGap="10px" fxFlexAlign="center">
    <span class="bold">{{ (sources$ | async)[0].lastUpdated | epochDate | date: 'EEEE, MMMM d, y, HH:mm' }}</span>
  </div>
</mat-card>
