<div>
  <app-players-display
    [key]="DISPLAY_KEY"
    [sortBy]="sortBy"
    [sortItems]="sortItems"
    (sortChange)="onSortChange($event)"
    class="display"
  ></app-players-display>
  <div
    class="players-list-container"
    fxLayout="column"
    ngClass.gt-xs="container-sm"
    ngClass.gt-sm="container-md"
    ngClass.gt-md="container-lg"
  >
    <div *ngIf="playersToDisplay?.length > 0" fxLayout="column" fxLayoutGap="10px">
      <div *ngFor="let player of playersToDisplay; trackBy: trackPlayersBy">
        <app-player-tile
          [showAddToMyTeamButton]="showAddToMyTeamButton"
          [showRemoveFromMyTeamButton]="showRemoveFromMyTeamButton"
          [player]="player"
        ></app-player-tile>
      </div>
      <div class="legend" fxLayout="column">
        <span>$ - price</span>
        <span>% - popularity</span>
        <span>L100% - leaders top 100 popularity</span>
        <span>L500% - leaders top 500 popularity</span>
        <span>GS% - percentage of games started</span>
        <span>PL - predicted to start in next game</span>
        <span>TP - total points</span>
        <span>Avg - avg points from Fantasy Bundesliga</span>
        <span
          >Form - last {{ playersToDisplay[0].games.length > 0 ? playersToDisplay[0].games.length : '' }} games
          points</span
        >
      </div>
    </div>

    <app-player-tile-no-records *ngIf="playersToDisplay.length === 0"></app-player-tile-no-records>
  </div>
</div>
