<app-view-title>
  <span title>{{ 'predicted lineups' | uppercase }}</span>
  <h2 *ngIf="team$ | async" subtitle>{{ (team$ | async).longName }}</h2>
</app-view-title>

<div *ngIf="team$ | async" fxLayout="column" fxLayoutGap="15px">
  <span ngClass.lt-sm="info-mobile"
    >*Players position are in accordance with Fantasy Bundesliga, not with the source lineups. Therfore the lineups may
    sometimes look unexpected (etc. only one winger or no forwards)</span
  >
  <div
    class="lineups-container"
    fxLayout="row wrap"
    fxLayoutGap="15px grid"
    fxLayoutAlign="space-evenly center"
    fxLayout.lt-sm="column"
    fxLayoutAlign.lt-sm="center center"
    fxLayoutGap.lt-sm="15px"
  >
    <div *ngFor="let sourceLineup of (team$ | async).predictions | orderBy: 'order'">
      <app-team-lineup [lineup]="sourceLineup"></app-team-lineup>
    </div>
  </div>
</div>

<h2 *ngIf="!(team$ | async)" fxLayout="column" fxLayoutAlign="center center">
  Predicted lineups have not been published yet.
  <a href="https://twitter.com/FantasyblS" target="blank" fxLayoutAlign="center center" fxLayoutGap="15px"
    ><span>Stay tuned!</span>
    <fa-icon class="red" [icon]="['fab', 'twitter']" size="2x"></fa-icon>
  </a>
</h2>
