.info {
  padding: 0 7px;
}

.twitter {
  margin-left: 10px;
}

.lineup {
  margin-bottom: 15px;
}

// .predictions-list {
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax);
//   grid-gap: 15px;
// }
