<div fxLayout="column" fxLayoutGap="20px">
  <div *ngIf="teamPredictions$ | async" fxLayout="column" fxLayoutGap="15px">
    <app-view-title>
      <span title>{{ teamPredictions$ | async | field: 'longName' | uppercase }}</span>
    </app-view-title>
    <span class="info"
      >*Players position are in accordance with Fantasy Bundesliga. Therfore the lineups may sometimes look unexpected
      (etc. only one winger or no forwards)</span
    >
    <div
      class="lineups-container"
      fxLayout="row wrap"
      fxLayoutGap="15px"
      fxLayoutAlign="space-evenly center"
      fxLayout.lt-sm="column"
      fxLayoutAlign.lt-sm="center center"
      fxLayoutGap.lt-sm="15px"
    >
      <div
        class="lineup"
        *ngFor="let sourceLineup of teamPredictions$ | async | field: 'predictions' | orderBy: 'order'"
      >
        <app-predicted-team-lineup [sourceLineup]="sourceLineup"></app-predicted-team-lineup>
      </div>
    </div>
  </div>

  <h2 *ngIf="!(teamPredictions$ | async)" fxLayout="column" fxLayoutAlign="center center">
    Predicted lineups have not been published yet.
    <a href="https://twitter.com/FantasyblS" target="blank" fxLayoutAlign="center center" fxLayoutGap="5px"
      ><span>Stay tuned!</span>
      <fa-icon class="twitter blue" [icon]="['fab', 'twitter']"></fa-icon>
    </a>
  </h2>

  <app-white-block>
    <div fxlayout="column" fxLayoutGap="20px">
      <div class="predictions-list" fxLayout="row wrap" fxLayoutGap="25px" fxLayoutAlign="space-evenly">
        <div>
          <app-title-underlined-grey>
            <div title fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="4px">
              <span>Confirmed absences</span>
              <mat-icon class="red" appScale="0.8">not_interested</mat-icon>
            </div>

            <table content class="comparison-table">
              <tr>
                <td>Player</td>
                <td>Pos</td>
                <td>$</td>
                <td>%</td>
                <td>TP</td>
              </tr>
              <tr *ngFor="let player of absences$ | async | orderBy: ['-totalPoints', '-price']">
                <td><app-player-name-link [name]="player.lastName" [id]="player.id"></app-player-name-link></td>
                <td>{{ player.position | uppercase }}</td>
                <td>{{ player.price }}M</td>
                <td>{{ player.popularity }}</td>
                <td>{{ player.totalPoints }}</td>
              </tr>
            </table>
          </app-title-underlined-grey>
        </div>

        <div>
          <app-title-underlined-grey>
            <div title fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="4px">
              <div>
                <span>Predicions list</span>
                <mat-icon appScale="0.8">checklist_rtl</mat-icon>
              </div>
              <mat-checkbox (change)="onHideBenchedChange($event)">Hide benched</mat-checkbox>
            </div>

            <table content class="comparison-table">
              <tr>
                <td>Player</td>
                <td fxHide.sm>Pos</td>
                <td>$</td>
                <td fxHide.lt-md>%</td>
                <td>TP</td>
                <td>KK</td>
                <td>BL</td>
                <td>LI</td>
              </tr>
              <ng-template
                [ngTemplateOutlet]="predictions"
                [ngTemplateOutletContext]="{ players: players$ | async, position: 'gk' }"
              ></ng-template>
              <tr>
                <td colspan="100%">&nbsp;</td>
              </tr>
              <ng-template
                [ngTemplateOutlet]="predictions"
                [ngTemplateOutletContext]="{ players: players$ | async, position: 'def' }"
              ></ng-template>
              <tr>
                <td colspan="100%">&nbsp;</td>
              </tr>
              <ng-template
                [ngTemplateOutlet]="predictions"
                [ngTemplateOutletContext]="{ players: players$ | async, position: 'mid' }"
              ></ng-template>
              <tr>
                <td colspan="100%">&nbsp;</td>
              </tr>
              <ng-template
                [ngTemplateOutlet]="predictions"
                [ngTemplateOutletContext]="{ players: players$ | async, position: 'for' }"
              ></ng-template>
            </table>
          </app-title-underlined-grey>
        </div>
      </div>

      <div class="legend" fxLayout="column">
        <span>Pos - position</span>
        <span>$ - price</span>
        <span>TP - total points</span>
        <span fxHide.lt-md>% - popularity</span>
        <span>KK - kicker.de</span>
        <span>BL - bundesliga.de</span>
        <span>LI - ligainsider</span>
      </div>
    </div>
  </app-white-block>
</div>

<ng-template #predictions let-players="players" let-position="position">
  <tr *ngFor="let player of players | filterBy: ['position']:position | orderBy: ['-totalPrice', '-price']">
    <td><app-player-name-link [name]="player.lastName" [id]="player.id"></app-player-name-link></td>
    <td fxHide.sm>{{ player.position | uppercase }}</td>
    <td>{{ player.price }}M</td>
    <td fxHide.lt-md>{{ player.popularity }}</td>
    <td>{{ player.totalPoints }}</td>
    <td>
      <app-prediction-indicator scale="0.7" [value]="getPrediction(player, 'kicker')"></app-prediction-indicator>
    </td>
    <td>
      <app-prediction-indicator scale="0.7" [value]="getPrediction(player, 'bundesliga')"></app-prediction-indicator>
    </td>
    <td>
      <app-prediction-indicator scale="0.7" [value]="getPrediction(player, 'ligainsider')"></app-prediction-indicator>
    </td>
  </tr>
</ng-template>
