<div class="about-us-container-mobile sm:about-us-container">
  <div class="flex-col-start-center gap-y-10">
    <div class="title-mobile sm:title">
      <span class="leckerli logo">F</span>
      <span class="title-rest">antasyBL-Stats</span>
    </div>
    <div class="slogan-mobile sm:slogan">
      <span>Find the best</span><span class="hashtag red">#FantasyBL</span><span>picks!</span>
    </div>
    <div class="follow-us flex flex-col">
      <h1>Follow us</h1>
      <div class="info-mobile sm:info">
        Want to have the latest informations about our updates or new features? Follow us to be up to date.
        <br /><br />
        Feel free to contact us via social media if you've noticed any sort of bugs or experienced any issues with our
        website.
      </div>
      <div class="social-media gap-x-5">
        <a href="https://twitter.com/FantasyblS" target="blank">
          <fa-icon class="twitter" [icon]="['fab', 'twitter']" size="3x"></fa-icon>
        </a>
        <a href="https://www.facebook.com/Fantasybl-stats-108481224674753" target="blank">
          <fa-icon class="facebook" [icon]="['fab', 'facebook']" size="3x"></fa-icon>
        </a>
      </div>
    </div>
  </div>
</div>
