<div class="about-us-container" ngClass.lt-sm="about-us-container-mobile">
  <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="40px">
    <div class="title" ngClass.lt-sm="title-mobile">
      <span class="leckerli red-background">F</span>
      <span class="title-rest">antasyBL-Stats</span>
    </div>
    <div class="slogan" ngClass.lt-sm="slogan-mobile">
      <span>Find the best</span><span class="hashtag red">#FantasyBL</span><span>picks!</span>
    </div>
    <div class="follow-us" fxLayout="column">
      <h1>Follow us</h1>
      <div class="info" ngClass.lt-sm="info-mobile">
        Want to have the latest informations about our updates or new features? Follow us to be up to date. <br /><br />
        Feel free to contact us via social media if you've noticed any sort of bugs or experienced any issues with our
        website.
      </div>
      <div class="social-media" fxLayoutGap="20px">
        <a href="https://twitter.com/FantasyblS" target="blank">
          <fa-icon class="twitter" [icon]="['fab', 'twitter']" size="3x"></fa-icon>
        </a>
        <a href="https://www.facebook.com/Fantasybl-stats-108481224674753" target="blank">
          <fa-icon class="facebook" [icon]="['fab', 'facebook']" size="3x"></fa-icon>
        </a>
      </div>
    </div>
  </div>
</div>
