<div class="timeline-matchdays-container">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
    <button *ngIf="order === 'dsc'" mat-icon-button [disabled]="isMax" (click)="nextMatchdays()">
      <mat-icon>navigate_before</mat-icon>
    </button>
    <button *ngIf="order === 'asc'" mat-icon-button [disabled]="isMin" (click)="previousMatchdays()">
      <mat-icon>navigate_before</mat-icon>
    </button>
    <div fxLayout="row" fxLayoutGap="25px">
      <div
        class="item"
        *ngFor="let item of displayedItems | orderBy: orderBy"
        fxLayout="column"
        fxLayoutAlign="start center"
      >
        <span class="item-title bold">{{ item.matchday }}</span>
        <span class="item-logo">
          <app-team-logo [height]="30" [team]="item.opponent"></app-team-logo>
        </span>
        <div class="item-text" *ngIf="item.wasPlayed" fxLayoutGap="3px" fxLayoutAlign="center center">
          <app-team-form size="supersmall" [form]="item.result"></app-team-form>
          <span class="item-result">{{ item.resultText }}</span>
          <span>({{ item.isHome ? 'h' : 'a' }})</span>
        </div>
        <div class="item-sub-text bold" *ngIf="item.wasPlayed">
          <span [ngClass]="getPointsCssClass(item.points)">{{ item.points }} pts</span>
        </div>
        <div class="item-text" *ngIf="!item.wasPlayed" fxLayoutGap="3px">
          <span>{{ item.opponentRank | numerals }}</span>
          <span>({{ item.isHome ? 'h' : 'a' }})</span>
        </div>
        <div class="item-sub-text" *ngIf="!item.wasPlayed && !!item.date">
          {{ item.date | epochDate | date: 'dd.MM' }}
        </div>
        <div class="item-sub-text" *ngIf="!item.wasPlayed && !item.date">TBD</div>
      </div>
    </div>

    <button *ngIf="order === 'dsc'" mat-icon-button [disabled]="isMin" (click)="previousMatchdays()">
      <mat-icon>navigate_next</mat-icon>
    </button>
    <button *ngIf="order === 'asc'" mat-icon-button [disabled]="isMax" (click)="nextMatchdays()">
      <mat-icon>navigate_next</mat-icon>
    </button>
  </div>
</div>
