<div class="timeline-matchdays-container">
  <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
    <button class="navigation" *ngIf="order === 'dsc'" mat-icon-button [disabled]="isMax" (click)="nextMatchdays()">
      <mat-icon>navigate_before</mat-icon>
    </button>

    <button class="navigation" *ngIf="order === 'asc'" mat-icon-button [disabled]="isMin" (click)="previousMatchdays()">
      <mat-icon>navigate_before</mat-icon>
    </button>

    <div fxLayout="row" fxLayoutGap="15px">
      <div
        class="item"
        *ngFor="let item of displayedItems | orderBy: orderBy"
        fxLayout="column"
        fxLayoutAlign="start center"
      >
        <span class="item-title bold">{{ item.matchday }}</span>
        <span class="item-logo">
          <app-team-logo [height]="25" [team]="item.opponent"></app-team-logo>
        </span>
        <div class="item-text" *ngIf="item.matchdayPlayed" fxLayoutGap="3px" fxLayoutAlign="center center">
          <app-team-form *ngIf="item.wasPlayed" size="supersmall" [form]="item.result"></app-team-form>
          <span class="item-result">{{ item.resultText }}</span>
          <span>({{ item.isHome ? 'h' : 'a' }})</span>
        </div>
        <div class="item-sub-text points bold" *ngIf="item.matchdayPlayed">
          <span *ngIf="item.hasPlayed || item.postponed" [ngClass]="getPointsCssClass(item.points)"
            >{{ item.points }} pts</span
          >
          <span *ngIf="!item.hasPlayed && !item.postponed" [ngClass]="getPointsCssClass(item.points)">x</span>
        </div>
        <div class="item-sub-text bold" *ngIf="item.matchdayPlayed">
          <app-has-started-icon *ngIf="item.hasStarted"></app-has-started-icon>
          <app-has-came-from-bench-icon *ngIf="item.hasPlayed && !item.hasStarted"></app-has-came-from-bench-icon>
          <app-has-played-seventy-minutes-icon *ngIf="item.hasPlayed70min"></app-has-played-seventy-minutes-icon>

          <div fxLayout="row wrap">
            <app-goals-icons [count]="item.goalsScored"></app-goals-icons>
            <app-assists-icons [count]="item.assists"></app-assists-icons>
          </div>
          <app-postponed-game-icon *ngIf="item.postponed"></app-postponed-game-icon>
        </div>
        <div class="item-text" *ngIf="!item.matchdayPlayed" fxLayoutGap="3px">
          <span>{{ item.opponentRank | numerals }}</span>
          <span>({{ item.isHome ? 'h' : 'a' }})</span>
        </div>
        <div
          class="item-sub-text"
          *ngIf="!item.matchdayPlayed && !!item.date"
          fxLayout="column"
          fxLayoutAlign="start center"
          fxLayoutGap="4px"
        >
          <span>{{ item.date | epochDate | date: 'dd.MM' }}</span>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="4px">
            <app-matchday-first-game-icon *ngIf="item.isFirstGame"></app-matchday-first-game-icon>
            <app-postponed-game-icon *ngIf="item.postponed"></app-postponed-game-icon>
          </div>
        </div>
        <div class="item-sub-text" *ngIf="!item.matchdayPlayed && !item.date">TBD</div>
      </div>
    </div>

    <button class="navigation" *ngIf="order === 'dsc'" mat-icon-button [disabled]="isMin" (click)="previousMatchdays()">
      <mat-icon>navigate_next</mat-icon>
    </button>
    <button class="navigation" *ngIf="order === 'asc'" mat-icon-button [disabled]="isMax" (click)="nextMatchdays()">
      <mat-icon>navigate_next</mat-icon>
    </button>
  </div>
</div>
