// .stats {
//   min-width: 570px;

//   &-lt-md {
//     min-width: 90%;
//   }
// }

table {
  tr {
    td {
      font-size: 11px;
      line-height: 15px;
      text-align: start;
    }

    td:first-child {
      font-weight: 500;
    }

    td.prediction {
      text-align: center;
    }
  }

  tr.header {
    td {
      padding-top: 7px;
      padding-bottom: 5px;
    }
  }
}

// table.table-lt-md {
//   tr {
//     td:not(:last-child) {
//       padding-right: 10px;
//     }
//   }
// }

// table.table-lt-sm {
//   tr {
//     td:not(:last-child) {
//       padding-right: 5px;
//     }
//   }
//}
