tr {
  td {
    padding-right: 15px !important;
  }

  td.divider {
    text-align: start;
    font-weight: 600;
    padding-top: 15px;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.5);
  }

  td.divider-mobile {
    text-align: center !important;
  }

  td.divider-no-padding {
    padding-top: 0px !important;
  }
}

.hidden {
  visibility: hidden;
}
