@import '/src/variables.scss';

.predicted-lineups-team-navigation-container {
  background-color: #fff;
  padding: 5px 0;

  .home-link {
    transform: scale(1.25);
    margin-top: 4px;
    color: $colorGrey;
  }

  .team-link {
    padding: 8px 10px;
    cursor: pointer;

    &-active {
      background-color: rgba(#000, 0.2);
      border-radius: 20px;
    }

    &-sm {
      padding: 5px 8px;
    }
  }
}
