.predicted-lineups-team-navigation-container {
  .team-link {
    padding: 8px 10px;
    cursor: pointer;

    &-active {
      background-color: rgba(#000, 0.2);
      border-radius: 20px;
    }

    &-sm {
      padding: 5px 8px;
    }
  }
}
