<div class="predicted-lineups-stats-container" fxLayout="column" fxLayoutAlign="start" fxLayoutGap="20px">
  <div fxLayout="row wrap" fxLayoutAlign="space-evenly start" fxLayoutGap="10px grid">
    <app-text-value-card
      class="stats"
      title="Top unavailable (total pts)"
      [items]="state$ | async | field: 'topUnavailable'"
    >
    </app-text-value-card>
    <app-text-value-card
      class="stats"
      title="Top unavailable (last 5 form)"
      [items]="state$ | async | field: 'topFormUnavailable'"
    >
    </app-text-value-card>
    <app-text-value-card
      class="stats"
      title="Top unavailable (popularity)"
      [items]="state$ | async | field: 'topPopularityUnavailable'"
    >
    </app-text-value-card>
    <app-text-value-card
      class="stats"
      title="Top unavailable (leaders)"
      [items]="state$ | async | field: 'top100PopularityUnavailable'"
    >
    </app-text-value-card>
  </div>
  <div>
    <hr />
  </div>

  <div fxLayout="row wrap" fxLayoutAlign="space-evenly start" fxLayoutGap="10px grid">
    <app-text-value-card class="stats" title="Top benched (total pts)" [items]="state$ | async | field: 'topBenched'">
    </app-text-value-card>
    <app-text-value-card
      class="stats"
      title="Top benched (last 5 form)"
      [items]="state$ | async | field: 'topFormBenched'"
    >
    </app-text-value-card>
    <app-text-value-card
      class="stats"
      title="Top benched (popularity)"
      [items]="state$ | async | field: 'topPopularityBenched'"
    >
    </app-text-value-card>
    <app-text-value-card
      class="stats"
      title="Top benched (leaders)"
      [items]="state$ | async | field: 'top100PopularityBenched'"
    >
    </app-text-value-card>
  </div>

  <div>
    <hr />
  </div>

  <div fxLayout="row wrap" fxLayoutAlign="space-evenly start" fxLayoutGap="10px grid">
    <app-text-value-card class="stats" title="Top doubts (total pts)" [items]="state$ | async | field: 'topDoubts'">
    </app-text-value-card>
    <app-text-value-card
      class="stats"
      title="Top doubts (last 5 form)"
      [items]="state$ | async | field: 'topFormDoubts'"
    >
    </app-text-value-card>
    <app-text-value-card
      class="stats"
      title="Top doubts (popularity)"
      [items]="state$ | async | field: 'topPopularityDoubts'"
    >
    </app-text-value-card>
    <app-text-value-card
      class="stats"
      title="Top doubts (leaders)"
      [items]="state$ | async | field: 'top100PopularityDoubts'"
    >
    </app-text-value-card>
  </div>

  <div>
    <hr />
  </div>
</div>
