<div class="player" ngClass.lt-md="player-mobile" fxLayout="column">
  <div *ngIf="isMobile$ | async" fxLayout="row" fxLayoutGap="10px" fxFill>
    <ng-template [ngTemplateOutlet]="teamLogoSecion"></ng-template>
    <div fxLayout="column" fxLayoutGap="5px">
      <app-player-tile-name [player]="player"></app-player-tile-name>
      <span>{{ player.position | uppercase }}</span>
      <app-player-tile-fantasy-data [player]="player"></app-player-tile-fantasy-data>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
        <app-player-tile-next-game [player]="player"></app-player-tile-next-game>
        <app-prediction-indicator [value]="player.nextGameAttendancePrediction"></app-prediction-indicator>
      </div>
    </div>
    <app-player-tile-fantasy-points
      *ngIf="!!player.games && player.games.length > 0"
      [player]="player"
      fxFlex
      fxFlexAlign="center"
    ></app-player-tile-fantasy-points>
  </div>

  <div *ngIf="!(isMobile$ | async)" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="row" fxLayoutGap="15px" fxFlex="40">
      <ng-template [ngTemplateOutlet]="teamLogoSecion"></ng-template>
      <div fxLayout="column" fxLayoutGap="10px">
        <app-player-tile-name [player]="player"></app-player-tile-name>
        <span>{{ player.position | uppercase }}</span>
        <app-player-tile-fantasy-data [player]="player"></app-player-tile-fantasy-data>
      </div>
    </div>
    <div fxFlex="20" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
      <app-player-tile-next-game [player]="player"></app-player-tile-next-game>
      <app-prediction-indicator [value]="player.nextGameAttendancePrediction"></app-prediction-indicator>
    </div>

    <app-player-tile-fantasy-points
      fxFlex
      *ngIf="!!player.games && player.games.length > 0"
      [player]="player"
    ></app-player-tile-fantasy-points>
  </div>
</div>

<ng-template #teamLogoSecion>
  <div fxLayout="column" fxLayoutAlign="start center">
    <app-team-logo [team]="player.teamShort" [height]="40"></app-team-logo>
    <div *ngIf="showAddToMyTeamButton">
      <button
        matTooltip="Add to My Team"
        mat-icon-button
        *ngIf="!(myTeamPlayers$ | async)?.includes(player.id)"
        (click)="addToMyTeam(player.id); $event.stopPropagation()"
      >
        <mat-icon class="green">group_add</mat-icon>
      </button>
    </div>
    <div *ngIf="showRemoveFromMyTeamButton">
      <button
        matTooltip="Remove from My Team"
        mat-icon-button
        *ngIf="(myTeamPlayers$ | async)?.includes(player.id)"
        (click)="removeFromMyTeam(player.id); $event.stopPropagation()"
      >
        <mat-icon class="red">person_remove</mat-icon>
      </button>
    </div>
  </div>
</ng-template>
