<div *ngIf="buttonsPosition === 'right'" class="container" fxLayoutAlign="start center">
  <span *ngIf="!!label" class="label">{{ label }}</span>
  <span class="value grey">{{ value }}</span>
  <span class="actions" fxLayoutGap="5px">
    <mat-icon [ngClass]="{ disabled: value === min }" class="hover-red-bold" (click)="valueMinus()">remove</mat-icon>
    <mat-icon [ngClass]="{ disabled: value === max }" class="hover-red-bold" (click)="valueAdd()">add</mat-icon>
  </span>
</div>

<div *ngIf="buttonsPosition === 'onSides'" class="container" fxLayoutAlign="start center">
  <span *ngIf="!!label" class="label">{{ label }}</span>
  <span class="actions">
    <mat-icon [ngClass]="{ disabled: value === min }" class="hover-red-bold" (click)="valueMinus()">remove</mat-icon>
  </span>
  <span class="value grey">{{ value }}</span>
  <span class="actions" fxLayoutGap="5px">
    <mat-icon [ngClass]="{ disabled: value === max }" class="hover-red-bold" (click)="valueAdd()">add</mat-icon>
  </span>
</div>
