.navigate-button {
  margin-top: -15px;
  user-select: none;
}

.timeline {
  padding: 0;
  list-style-type: none;
  margin-left: 10px;
  margin-right: 10px;
  margin-block-start: 0px;
  margin-block-end: 0;

  li {
    width: 68px;
  }

  .li-past {
    background-color: rgba($color: #000000, $alpha: 0.1);
  }

  .li-current {
    background-color: rgba($color: #00c80a, $alpha: 0.2);
  }

  .info {
    margin-bottom: 21px;
    padding: 0 20px;
    font-size: 13px;

    &-past {
      font-weight: 500;
      color: rgba($color: #000000, $alpha: 0.6);
    }
  }

  .description {
    padding: 23px 20px 3px 20px;
    position: relative;

    &-past {
      border-top: 2px solid grey;
    }

    &-future {
      border-top: 2px solid #c80a00;
    }

    &-current {
      border-top: 2px solid #00af09;
    }

    .logo {
      width: 45px;
      height: 45px;
      position: absolute;
      top: -25px;
      left: 15%;
    }

    .main {
      &-past {
        font-size: 14px;
      }

      &-future,
      &-current {
        font-size: 11px;
      }
    }

    .sub {
      color: rgba($color: #000000, $alpha: 0.4);
      font-weight: 400;
      font-size: 10px;
      line-height: 1;
    }
  }
}
