<div class="leaders-players-posionts-container flex flex-col justify-center">
  <app-leaders-players-position
    title="Goalkeepers"
    [data]="getLeadersPlayersByPosition('gk')"
  ></app-leaders-players-position>
  <app-leaders-players-position
    title="Defenders"
    [data]="getLeadersPlayersByPosition('def')"
  ></app-leaders-players-position>
  <app-leaders-players-position
    title="Midfielders"
    [data]="getLeadersPlayersByPosition('mid')"
  ></app-leaders-players-position>
  <div class="w-full text-center">
    <app-ad-banner type="horizontal"></app-ad-banner>
  </div>
  <app-leaders-players-position
    title="Forwards"
    [data]="getLeadersPlayersByPosition('for')"
  ></app-leaders-players-position>
</div>
