<div class="leaders-players-posionts-container" fxLayout="column" fxLayoutAlign="center">
  <app-leaders-players-position
    title="Goalkeepers"
    [data]="getLeadersPlayersByPosition('gk')"
  ></app-leaders-players-position>
  <app-leaders-players-position
    title="Defenders"
    [data]="getLeadersPlayersByPosition('def')"
  ></app-leaders-players-position>
  <app-leaders-players-position
    title="Midfielders"
    [data]="getLeadersPlayersByPosition('mid')"
  ></app-leaders-players-position>
  <app-leaders-players-position
    title="Forwards"
    [data]="getLeadersPlayersByPosition('for')"
  ></app-leaders-players-position>
</div>
