<app-view [links]="links">
  <div class="fantasy-tips-container" fxLayout="column" fxLayoutGap="10px">
    <app-white-block>
      <div fxLayout="column" fxLayoutAlign="center center">
        <h2>Matchday {{ tips.matchday }} tips</h2>
        <app-form-field label="Category">
          <app-switch
            [items]="categories"
            [value]="selectedCategory"
            (switchChange)="onCategoryChange($event)"
          ></app-switch>
        </app-form-field>
      </div>
    </app-white-block>

    <div class="tip">
      <div
        class="tip-link"
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="5px"
        *ngFor="let tip of filteredLinks | orderBy: 'order'"
        (click)="openInNewTab(tip.url); $event.stopPropagation()"
      >
        <div class="title" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1px">
          <span>{{ tip.title }}</span>
          <mat-icon [appScale]="0.6">open_in_new</mat-icon>
        </div>
        <div class="categories" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <span class="category" *ngFor="let category of tip.categories">
            {{ category }}
          </span>
        </div>
      </div>
    </div>
  </div>
</app-view>
