<div
  fxLayout.gt-xs
  fxLayoutAlign.gt-xs="center center"
  fxLayoutGap.gt-xs="2%"
  fxLayout.lt-sm="column"
  fxLayoutGap.lt-sm="10px"
  fxLayoutAlign.lt-sm="center stretch"
>
  <mat-card
    class="position-card hvr-underline-from-center"
    [ngClass]="{ selected: selected === PlayerPosition.GK }"
    (click)="onPositionChange(PlayerPosition.GK)"
    ><span>Goalkeepers</span></mat-card
  >
  <mat-card
    class="position-card hvr-underline-from-center"
    [ngClass]="{ selected: selected === PlayerPosition.DEF }"
    (click)="onPositionChange(PlayerPosition.DEF)"
    ><span>Defenders</span></mat-card
  >
  <mat-card
    class="position-card hvr-underline-from-center"
    [ngClass]="{ selected: selected === PlayerPosition.MID }"
    (click)="onPositionChange(PlayerPosition.MID)"
    ><span>Midfielders</span></mat-card
  >
  <mat-card
    class="position-card hvr-underline-from-center"
    [ngClass]="{ selected: selected === PlayerPosition.FOR }"
    (click)="onPositionChange(PlayerPosition.FOR)"
    ><span>Forwards</span></mat-card
  >
</div>
