$colorGrey: #3b4148;
$colorBlue: #043d7f;
$colorWhite: #fff;
$colorRed: #c80a00;
$colorGreyLight: rgba(255, 255, 255, 0.6);
$colorGreyBackround: #fafafa;
$colorBlueLight: #f4fafb;

$fontSizeSmall: 12px;
$fontSizeSmaller: 11px;

$colorGreenLight: lightgreen;
$colorGreenDark: rgb(92, 177, 98);
$colorYellow: gold;
$colorOrange: rgb(255, 136, 8);
// $colorRed: #c72626;

$gameDifficultRed: rgba(
  $color: $colorRed,
  $alpha: 0.25
);
$gameDifficultOrange: rgba(
  $color: $colorOrange,
  $alpha: 0.4
);
$gameDifficultYellow: rgba(
  $color: $colorYellow,
  $alpha: 0.5
);
$gameDifficultGreen: rgba(
  $color: $colorGreenDark,
  $alpha: 0.6
);
$gameDifficultLightGreen: rgba(
  $color: $colorGreenLight,
  $alpha: 0.5
);
