<h2 mat-dialog-title>Next Games Ease Index</h2>
<mat-dialog-content>
  <div>
    <h3>Rules</h3>
    <p>
      The <strong>Next x Games Ease Index</strong> is equal to sum of the ease index values for each of X games. Single
      game index value is calculated as a sum of following two factors:
    </p>
    <ul>
      <li>opponent table rank</li>
      <li>game venue</li>
    </ul>
    <p>Both factors values are determine as follows:</p>
    <div fxLayoutAlign="start" fxLayoutGap="30px">
      <table class="rank-factor-table" mat-table [dataSource]="tableData">
        <ng-container matColumnDef="range">
          <th mat-header-cell *matHeaderCellDef>Opponent Rank</th>
          <td mat-cell *matCellDef="let item">{{ item.range }}</td>
        </ng-container>
        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef>Points</th>
          <td mat-cell *matCellDef="let item">{{ item.value }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="tableRankColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: tableRankColumns"></tr>
      </table>

      <table
        class="rank-factor-table"
        mat-table
        [dataSource]="[
          { venue: 'home', points: 1 },
          { venue: 'away', points: -1 }
        ]"
      >
        <ng-container matColumnDef="venue">
          <th mat-header-cell *matHeaderCellDef>Venue</th>
          <td mat-cell *matCellDef="let item">{{ item.venue }}</td>
        </ng-container>
        <ng-container matColumnDef="points">
          <th mat-header-cell *matHeaderCellDef>Value</th>
          <td mat-cell *matCellDef="let item">{{ item.points }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="['venue', 'points']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['venue', 'points']"></tr>
      </table>
    </div>
  </div>
  <div style="margin-top: 20px">
    <h3>Example</h3>
    <p>Let's imagine a team plays next 3 games:</p>
    <ol>
      <li>home vs 2nd</li>
      <li>away vs 8th</li>
      <li>home vs 17th</li>
    </ol>
    <p>
      For the {{ 1 | numerals }} game the team gets <span class="bold">0pts</span> for the opponent rank factor +
      <span class="bold">1pts</span> because of playing home. So the Ease Game Index equals 1pts.<br />
      For the {{ 2 | numerals }} game the team gets <span class="bold">4pts</span> (opponent rank) -
      <span class="bold">1pts</span> (away game) = 3pts. <br />
      For the {{ 3 | numerals }} game the team gets 10pts (opponent rank) + 1pts (home game) = 11pts. <br />
      Summing up: 1 + 3 + 11 = 14. The Last 3 Games Ease Index equals 14;
    </p>
  </div>
</mat-dialog-content>
