<app-content-titled>
  <span title>{{ title }}</span>
  <table content class="comparison-table">
    <tr>
      <td></td>
      <td>Team</td>
      <td>$</td>
      <td>%</td>
      <td>L100</td>
      <td>L500</td>
      <td>TP</td>
      <td>Next</td>
      <td>Pr</td>
      <td></td>
    </tr>
    <tr *ngFor="let player of players">
      <td>
        <app-player-name-with-availability
          [name]="player.name"
          [id]="player.playerId"
          [suspensionRisk]="player.isSuspensionRisk"
          [available]="player.isAvailable"
          [returning]="player.isReturning"
        ></app-player-name-with-availability>
      </td>
      <td><app-team-logo [team]="player.team.teamShort" [height]="18"></app-team-logo></td>
      <td>{{ player.price }}</td>
      <td>{{ player.popularity }}</td>
      <td>{{ player.top100Popularity }}</td>
      <td>{{ player.top500Popularity }}</td>
      <td>{{ player.totalPoints }}</td>
      <td>
        <app-game-team-venue
          [teamShort]="player.nextGame.opponentShort"
          [logoHeight]="18"
          [isHome]="player.nextGame.isHome"
          [showFirstGame]="true"
          [isFirstGame]="player.nextGame.isFirstGame"
          [showRank]="true"
          [rank]="player.nextGame.opponentRank"
        ></app-game-team-venue>
      </td>
      <td>
        <app-player-icon-prediction [prediction]="player.prediction"></app-player-icon-prediction>
      </td>
      <td>
        <div class="icons" fxLayout="row" fxLayoutGap="3px" fxLayoutGap.lt-md="2px">
          <app-our-pick-icon
            [ngClass]="{ hidden: !player.isMustHave }"
            [ngClass.lt-md]="{ 'hidden-mobile': !player.isMustHave }"
            [icon]="Types.MUST_HAVE"
            [showTooltip]="false"
          ></app-our-pick-icon>
          <app-our-pick-icon
            [ngClass]="{ hidden: !player.isBargain }"
            [ngClass.lt-md]="{ 'hidden-mobile': !player.isBargain }"
            [icon]="Types.BARGAIN"
            [showTooltip]="false"
          ></app-our-pick-icon>
          <app-our-pick-icon
            [ngClass]="{ hidden: !player.isDifferential }"
            [ngClass.lt-md]="{ 'hidden-mobile': !player.isDifferential }"
            [icon]="Types.DIFFERENTIAL"
            [showTooltip]="false"
          ></app-our-pick-icon>
        </div>
      </td>
    </tr>
  </table>
</app-content-titled>
