<div *ngIf="ourPicks$ | async">
  <app-view-title>
    <h1 title class="view-title-h1">Our Top Picks FOR upcoming matchday</h1>
    <app-our-picks-matchday-description
      subtitle
      [matchday]="ourPicks$ | async | field: 'matchday'"
    ></app-our-picks-matchday-description>
  </app-view-title>

  <div fxLayoutAlign="center center">
    <a [routerLink]="'/fantasy/our-picks/admin/' + (ourPicks$ | async | field: 'matchday')" *appAuthenticated
      >To Admin</a
    >
  </div>

  <app-filters-content-layout>
    <app-our-picks-filters filters></app-our-picks-filters>
    <app-our-picks-players content [ourPicks]="ourPicks$ | async"></app-our-picks-players>
  </app-filters-content-layout>
</div>
