<a *ngIf="id && lastName" [routerLink]="['/fantasy/players/details/' + id]" target="_self">
  <span class="hidden md:block">{{ name }}</span>
  <span class="block md:hidden">{{ lastName }}</span>
</a>

<a *ngIf="id && !lastName" [routerLink]="['/fantasy/players/details/' + id]" target="_self">
  {{ name }}
</a>

<span *ngIf="!id && lastName">
  <span class="hidden md:block">{{ name }}</span>
  <span class="block md:hidden">{{ lastName }}</span>
</span>

<span *ngIf="!id && !lastName">
  {{ name }}
</span>
