<app-white-block padding="10px 0 10px 0">
  <div appStickyWrapper>
    <h2 class="matchday-info" [appSticky]="{ position: 'left' }">Matchday {{ nextMatchdayFixtures.matchdayNumber }}</h2>
    <div class="container flex flex-col sm:flex-row justify-center items-center sm:justify-start sm:items-start">
      <div class="section" *ngFor="let kickOffTimes of data | orderBy : 'date'">
        <div class="flex flex-col gap-x-5">
          <div class="flex flex-col">
            <span class="section-title">{{ kickOffTimes.date | epochDate | date : 'EEEE, HH:mm' }}</span>
            <span class="section-subtitle">{{ kickOffTimes.date | epochDate | date : 'dd.MM.yyyy' }}</span>
            <div class="timeline flex-row-center-center" [appSticky]="{ position: 'left' }">
              <svg class="timeline-line" height="5">
                <line x1="0" y1="0" x2="100%" y2="0"></line>
              </svg>
              <svg class="timeline-dot" height="20" width="20">
                <circle cx="10" cy="11" r="5"></circle>
              </svg>
            </div>
          </div>

          <div class="flex flex-col gap-x-3.5">
            <div *ngFor="let position of ['gk', 'def', 'mid', 'for']">
              <ng-template
                [ngTemplateOutlet]="players"
                [ngTemplateOutletContext]="{ position: position, players: kickOffTimes[position] }"
              ></ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-white-block>

<ng-template #players let-position="position" let-players="players">
  <div class="position flex flex-col" [ngClass]="getSectionPositionColorClass(position, players.length)">
    <span>{{ position | uppercase }}</span>
    <div class="flex flex-col gap-x-1" [ngStyle]="{ height: getSectionPositionHeight(position) }">
      <div class="player flex-row-center-center gap-x-2" *ngFor="let player of players">
        <app-team-logo [height]="15" [team]="player.teamShort"></app-team-logo>
        <app-player-name-link [id]="player.id" [name]="player.name"></app-player-name-link>
      </div>
      <div *ngIf="players | arrayEmpty">
        <span>--</span>
      </div>
    </div>
  </div>
</ng-template>
