<div class="flex flex-col">
  <div class="flex flex-row items-center cursor-pointer grey" (click)="toggleExpand()">
    <span class="font-small" *ngIf="!isOpened">Show legend</span>
    <mat-icon *ngIf="!isOpened">expand_more</mat-icon>
    <span class="font-small" *ngIf="isOpened">Hide legend</span>
    <mat-icon *ngIf="isOpened">expand_less</mat-icon>
  </div>

  <div *ngIf="isOpened" class="legend legend-grid" [style.gridTemplateColumns]="gridTemplateColumns">
    <ng-content></ng-content>
  </div>
</div>
