.team-lineup-container {
  .title {
    width: 100%;
    text-align: center;

    .source-name {
      font-size: 15px;
      margin-bottom: 5px;
    }

    .link {
      float: right;
      margin-right: 7px;
    }
  }
}

.team-lineup-container-scaled {
  transform: scale(0.8);
}
