.player-header {
  width: 200px;

  &-name {
    font-size: 15px;
    font-weight: 500;
  }

  &-sub {
    font-size: 14px;
    width: 200px;

    &-item {
      width: 50px;
    }
  }

  &-icons {
    .text-icon {
      width: 40px;
      height: 40px;
      font-size: 22px;
      font-weight: 500;
    }

    .icon {
      border-radius: 50%;
      padding: 1px;
    }

    .border-blue {
      border: 2px solid #0a00c8;
    }

    .border-green {
      border: 2px solid green;
    }

    .border-orange {
      border: 2px solid orange;
    }

    .border-pink {
      border: 2px solid pink;
    }
  }
}
