<div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap.gt-xs="30px">
  <ng-template
    [ngTemplateOutlet]="table"
    [ngTemplateOutletContext]="{ title: 'Best games', games: bestGames }"
  ></ng-template>

  <ng-template
    [ngTemplateOutlet]="table"
    [ngTemplateOutletContext]="{ title: 'Worst games', games: worstGames }"
  ></ng-template>
</div>

<ng-template #table let-title="title" let-games="games">
  <app-title-underlined-grey>
    <span title>{{ title }}</span>
    <table content *ngIf="!games || games.length === 0" class="comparison-table">
      <tbody>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td>Not applicable</td>
        </tr>
      </tbody>
    </table>
    <table *ngIf="!!games && games.length > 0" content class="comparison-table">
      <tbody>
        <tr>
          <td></td>
          <td>points</td>
        </tr>
        <tr *ngFor="let game of games" class="game-row">
          <td class="game-row-text">{{ game.text }}</td>
          <td class="game-row-value" [style]="'color:' + getPointsColor(+game.value)">{{ game.value }}</td>
        </tr>
      </tbody>
    </table>
  </app-title-underlined-grey>
</ng-template>
