.display {
  margin-bottom: 20px;
}

.table-card {
  padding: 3px;
}

table {
  width: 100%;

  tr:hover:not(.mat-header-row) {
    background-color: #f0f0f0;
  }

  .player-details {
    overflow: hidden;
    margin-bottom: 7px;
  }

  .total-points {
    font-weight: 500;
  }
}
