<div class="container" fxLayout="column" fxLayoutAlign="center stretch">
  <app-players-display [key]="DISPLAY_KEY" class="display"></app-players-display>
  <mat-card class="table-card table-responsive" fxFill>
    <table
      mat-table
      matSort
      matSortStart="desc"
      matSortActive="form"
      matSortDisableClear
      matSortDirection="desc"
      [dataSource]="dataSource"
      multiTemplateDataRows
    >
      <ng-container matColumnDef="Name" sticky>
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let item">
          <div fxLayout fxLayoutAlign="start center" fxLayoutGap="5px">
            <app-player-name-link [name]="item.name" [id]="item.id"></app-player-name-link>
            <mat-icon *ngIf="item.attendance === 0" class="red">not_interested</mat-icon>
            <app-player-suspension-risk [show]="item.isSuspensionRisk"></app-player-suspension-risk>
            <app-player-returning [show]="item.isReturning"></app-player-returning>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="Position">
        <th mat-header-cell *matHeaderCellDef>Position</th>
        <td mat-cell *matCellDef="let player">
          <span>{{ player.position | uppercase }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="No">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let i = dataIndex">
          <span>{{
            dataSource.paginator?.pageIndex === 0
              ? i + 1
              : 1 + i + dataSource.paginator?.pageIndex * dataSource.paginator?.pageSize
          }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="Team">
        <th mat-header-cell *matHeaderCellDef>Team</th>
        <td mat-cell *matCellDef="let player">
          <app-team-logo [team]="player.teamShort" [height]="30"></app-team-logo>
        </td>
      </ng-container>

      <ng-container matColumnDef="Next">
        <th mat-header-cell *matHeaderCellDef>Next</th>
        <td mat-cell *matCellDef="let player">
          <app-player-next-game [height]="30" [nextGame]="player.nextGame"></app-player-next-game>
        </td>
      </ng-container>

      <ng-container matColumnDef="Prediction">
        <th mat-header-cell matTooltip="Predicted Lineups" *matHeaderCellDef>PL</th>
        <td mat-cell *matCellDef="let player">
          <app-prediction-indicator
            [value]="player.nextGameAttendancePrediction"
            [height]="35"
          ></app-prediction-indicator>
        </td>
      </ng-container>

      <ng-container [matColumnDef]="column.fieldName" *ngFor="let column of columns; trackBy: trackColumnsBy">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>{{ column.displayName }}</th>
        <td mat-cell *matCellDef="let item" [ngClass]="getTdClass(column, item)">
          {{ item[column.fieldName] }}
        </td>
      </ng-container>

      <ng-container matColumnDef="MT">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let player">
          <div *ngIf="showAddToMyTeamButton">
            <button
              matTooltip="Add to My Team"
              mat-icon-button
              *ngIf="!(myTeamPlayers$ | async)?.includes(player.id)"
              (click)="addToMyTeam(player.id); $event.stopPropagation()"
            >
              <mat-icon class="green">group_add</mat-icon>
            </button>
          </div>

          <div *ngIf="showDeleteFromMyTeamButton">
            <button
              mat-icon-button
              matTooltip="Remove from My Team"
              *ngIf="(myTeamPlayers$ | async)?.includes(player.id)"
              (click)="removeFromMyTeam(player.id)"
            >
              <mat-icon class="red">person_remove</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="OP">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let player">
          <app-players-table-add-our-pick [playerId]="player.id"></app-players-table-add-our-pick>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let player; columns: displayedColumns" class="player-details-row"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the criteria.</td>
      </tr>
    </table>
  </mat-card>
</div>
