<app-white-block>
  <div fxlayout="column">
    <div class="pie-charts" fxLayoutAlign="space-evenly center" fxLayoutAlign.lt-md="center center" fxLayout="row wrap">
      <app-pie-chart class="chart chart-pie" [config]="gamesPlayedChart"></app-pie-chart>
      <app-pie-chart class="chart chart-pie" [config]="gamesStartedChart"></app-pie-chart>
      <app-pie-chart class="chart chart-pie" [config]="games70MinChart"></app-pie-chart>
      <app-pie-chart class="chart chart-pie" [config]="gamesWonChart"></app-pie-chart>
    </div>

    <div fxLayoutAlign="space-evenly center" fxLayoutAlign.lt-md="center center" fxLayout="row wrap">
      <app-chart class="chart" [config]="pricesChart"></app-chart>
      <app-chart class="chart" [config]="popularityChart"></app-chart>
      <app-chart class="chart" [config]="leadersPopularityChart"></app-chart>
      <app-chart class="chart" [config]="pointsChart"></app-chart>
    </div>
  </div>
</app-white-block>
