<div fxLayout="column" fxLayoutGap="15px">
  <!-- <app-matchday-tips-our-picks-description></app-matchday-tips-our-picks-description>
  <app-matchday-tips-our-picks-filters></app-matchday-tips-our-picks-filters> -->

  <app-content-white-block>
    <app-matchday-tips-our-picks-description></app-matchday-tips-our-picks-description>
    <app-matchday-tips-our-picks-players></app-matchday-tips-our-picks-players>
  </app-content-white-block>

  <!-- <app-white-block>
    <div fxLayout="column">
      <app-matchday-tips-our-picks-display-settings
        fxFlexAlign="flex-end"
      ></app-matchday-tips-our-picks-display-settings>
      <app-matchday-tips-our-picks-players></app-matchday-tips-our-picks-players>
    </div>
  </app-white-block> -->
</div>
